body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,iframe,input {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
 font-family: "Microsoft YaHei";
  user-selet:none;
  -moz-user-selet:none;
  -webkituser-selet:none;
  -khtml-user-selet:none;
 -ms-user-selet:none;
 font-size: 12px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  display: block;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}
a:hover,a:active,a:visited{
   text-decoration: none;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  outline: none;
}
input::-ms-clear {
  display: none;
}
iframe{
  border:0 none;
}
body {
  width: 100%;
  background: #F0F0F0;
  color: #776e65;
  font-family: "Microsoft YaHei";
  height: 100%;
  overflow-y:auto;
  font-size: 12px;
}
.btn_hover:hover{
background-color: #1c57a7;
}
input:focus{
  border:1px solid #4a87d9 !important; 
}
/*head-start*/
.headbox{
  background-color: #236DD1;
}
#head{
  margin:  0 auto;
  width: 1000px;
  color: #555;
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  color: #fff;
}
#head .logo{
  width: 287px;
  height: 60px;
  background: url(../images/logo_l.png) no-repeat center;
  float: left;
  margin-left: 0px;
}
#head .links{
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 14px;
  line-height: 60px;
  width: 600px;
  height: 60px;
}
#head .links a{
  color: #fff;
}
#head .links span{
  float: right;
  margin:0 10px;
  color: rgb(5, 133, 245);
  display: block;
}
#head .links .level,#head .links .username{
  color: #fff;
}
#head .links span.message .mesNumber{
  line-height: 34px;
  background: url(../images/homemesbg.png) center no-repeat;
  font-style: normal;
  color: #fff;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}
#head .parttitle{
  float: left;
  height: 40px;
  line-height: 57px;
  width:300px;
  text-align: left;
  text-indent: 0.6em;
  font-size: 20px;
  color: #fff;
  border-left: 1px solid #91B6E8;
  margin-left: 16px;
  margin-top: 10px;
}
#mesNumber{
  float: none;
}
#head a{
  color: #fff;
}
#head a:hover{
  color: red;
}
.mainMenubox{
  background-color: #fff;
}
#mainMenu{
  width: 1000px;
  margin: 0 auto;
  height: 44px;
  overflow: hidden;
  font-size: 16px;
  clear: both;
  background-color: #fff;
}
#mainMenu ul{
  width: 100%;
  overflow: hidden;
}
#mainMenu ul li{
    padding: 0 12px;
    margin: 0px 32px 0px 5px;
    float: left;
    line-height: 44px;
    height: 44px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    color: #555;
    border-radius: 2px;
    font-size: 16px;
}

#mainMenu ul li.tabselected{
  border-top: none;
  border-bottom: 2px solid #236DD1;
  color: #236DD1;
  height: 42px;
}
#mainMenu ul li.new{
  background: url(../images/newimg.png) right 3px no-repeat;
}

#bj_main_container{
  min-height: 700px;
  width: 1000px;
  margin:  0 auto;
  overflow: hidden;
  position: relative;
  top:0;
  left: 0;
}
#bj_main_container.notaxCalendar #r_TaxCal_Momo_container{
  display: none;
}
.show_search_view{
   /* width: 960px; */
  margin:  0 auto;
  overflow: hidden;
}
#footer{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  color: #B0AFAF;
  margin-top: 10px; 
  clear: both;
}
#footer img{
  display: inline;
  vertical-align: middle;
  margin: 0 10px;
}
/*head-end*/

/*shouye-start*/
.common_container{
  position: relative;
  overflow: hidden;
  background-color: #F0F0F0;
  width: 1000px;
  margin: 0 auto;
}

#leftMain_container,.leftMain_container{
  float: left;
  width: 700px;
   position: relative; 
}
.leftMain_container .btn{
  position: absolute;
  right: 20px;
  top:40px;
  width: 20px;
  height: 20px;
  background:url(../images/login_arrow1.png);
  cursor: pointer;
}


.leftMain_container .btn.open{
  background:url(../images/login_arrow2.png);
}

.leftMain_container .applist{
    overflow: hidden;
    margin-bottom: 10px;
    height: 94px;
} 
.leftMain_container .applist li{
    float: left;
    margin: 10px 10px 0px 0;
    cursor: pointer;
    width: 84px;
    height: 84px;
    background-color: #fff;
    border:0;
}
.leftMain_container .applist li img{
  vertical-align: middle;
}
.leftMain_container .messagetip{
    height: 35px;
    line-height: 35px;
    background-color: #FFC43E;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.leftMain_container .messagetip a{
  color: #fff;
}
.leftMain_container .messagetip .text{
    text-align: center;
  
    float: left;
    display: block;
    width: 94%;
}
.leftMain_container .messagetip .more{
    text-align: right;
    display:block;  
    float: right; 
    width: 10px;  
    height: 20px;  
    background: url(../images/morearrow.png) center no-repeat;  
    margin-top: 8px;  
    margin-right: 20px;
}

.charts canvas{
  background-color: #fff;
  margin: 0px auto;
}
.charts .leftchart{
  width: 445px;
  float: left;
}
.charts .chart{
  width: 100%;
  height: 280px;
  background-color: #fff;
  margin-bottom: 10px;
}
.charts .charttitle{
  font-size: 14px;
  text-indent: 1em;
  line-height: 40px;
  overflow: hidden;
}
.charts .charttitle span {
  float: left;
}
.charts .charttitle .r{
  font-size: 12px;
  float: right;
  margin-right: 1em;
}
.charts .rightchart{
  width: 245px;
  height: 570px;
  float: right;
  background-color: #fff;
  font-size:12px;
}
.legendbox span.name{
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100px;
  display:block;
  float:left;'
}
.highcharts-container.right .legendbox span.name,
.highcharts-container.bottom-column .legendbox span.name{
    width:200px;
}
.legendbox span.data{
  width:80px;
  float:right;
  display:block;
  text-align:right;
}
.rightchart .tabs{
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    clear: both;
    overflow: hidden;
    cursor: pointer;
}
.rightchart .tabs span{
    width: 33.33%;
    display: block;
    float: left;
    background-color: #E6E6E6;
}
.rightchart .tabs span.active{
    background-color: #fff;
}
.rightchart .contents{
    height: 535px;
    overflow: hidden;
}
.rightchart .contents .item{
    height: 100%;
}
ul.legend{
  opacity: 0;
}
ul.doughnut-legend li{
  margin-bottom: 30px;
}
ul.bar-legend li{
  font-size: 12px;
  float: right;
  display: inline-block;
  margin-right: 10px;
}
ul.bar-legend li span{
  width:8px; 
  height:8px;
  display:inline-block;
  margin:0 10px;
}

.charts canvas#chart03 .charttitle {
  line-height: 20px;
}
.charts canvas#chart3-0,.charts canvas#chart3-1 {
  margin:0 auto 30px auto;
}
/* rightMain_container*/
#r_TaxCal_Momo_container{
  width: 290px;
  background-color: #fff;
  margin-top: 1px;
  position: absolute;
  right: 0px;
  top:0;
}
#rightMain_container{
  width: 290px;
  float: right;
  background-color: #fff;
  margin-top: 1px;
}
.rightMain_container{
  width: 290px;
  float: left;
  background-color: #fff;
  margin-top: 1px;
  margin-left: 10px;
}
/*日历*/

#taxCalendar {
    text-align: center;
    width: 100%;
    position: relative;
}
#taxCalendar .caltitlebox{
  clear: both;
  height: 40px;
  line-height: 40px;
  background-color: #A7B1B7;
  text-align: left;
  text-indent: 20px;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
}
#taxCalendar #caltitle{
  float: left;
}

#taxCalendar .caltitlebox .more{
    display: block;

    float: right;
    width: 10px;
    height: 20px;
    background: url(../images/calmorearrow.png) center no-repeat;
    margin-top: 10px;
    margin-right: 20px;
}
#taxCalendar table.tb_date{
  width: 90%; 
  border:0;
  margin:0 auto;
  clear: both;
}

#taxCalendar table thead td{
  height: 40px;
  border-right: 1px solid #fff;
  color:#000;
  padding:1px;
  font-size: 14px;}

#taxCalendar table tbody td {
  font-size: 13px;
  height: 35px;
  color:#000;
}
#taxCalendar table tbody td span.memoico {
  background: url(../images/memopoint1.png) center 24px no-repeat;
  cursor: pointer;
}
#taxCalendar table tbody td span{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
#taxCalendar .idCalendar td.onToday span.memoico {
  background: url(../images/memopoint2.png) center 24px no-repeat;
}
#taxCalendar table tbody td a{display: block;height: 26px;line-height: 26px;}
#taxCalendar table tbody td a.zqdate{background-color: #D6E7FB; display: block;height: 26px;line-height: 26px;}
#taxCalendar  .calendarPre{
  cursor:pointer;
  margin-top: 17px;
  margin-left: 20px;
  display: block;
  background:url(../images/cal_arrow1.png) 0 0 no-repeat;
  width: 10px;
  height: 20px;
  float: left;
  text-indent: 0;
  padding: 0;
}
#taxCalendar  .calendarNext{
  cursor:pointer;
  margin-top: 17px;
  margin-right: 20px;
  display: block;
  background:url(../images/cal_arrow2.png) 0 0 no-repeat;
  width: 10px;
  height: 20px;
  float: right;
}

#taxCalendar .idCalendar td.onToday {
  color: #fff;
  background: url(../images/cal_bg1.png) center 0px no-repeat;
}
#taxCalendar .idCalendar td.select,#taxCalendar .idCalendar td.onToday.select  {
  color: #555;
  background: url(../images/cal_bg2.png) center 0px no-repeat;
}

#taxCalendar  .idCalendar td.onToday a{color:#fff;}
#taxCalendar .idCalendar td.onSelect {
  font-weight:bold;
}
#taxCalendar  .thisday{
  background:#96caff;
    border: 1px solid #ccc;
    color: #fff;
    display: block;
}

#day0,#day6{
  background:#379bff;
    border: 1px solid #379bff;
  color: #fff;
}
#day0,#day1,#day2,#day3,#day4,#day5,#day6{ color:#FFF;}

.nullday{
  background:#ccc;
    border: 1px solid #ccc;
}
#taxCalendar  .Calendar_top{
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align:left;
  position:relative;
  clear: both;
}
#taxCalendar .Calendar_top span input{ width:31%}
#taxCalendar .Calendar_top span{}
#taxCalendar .Calendar_input{
    display: block;
    float: left;
    width: 230px;
    text-align: center;
    font-size: 14px;
}
/*备注*/
.memo{
  font-size: 12px;
  color: #333;
}
.memo .date{
  font-size: 16px;
  line-height: 60px;
  text-indent: 1.2em;
  letter-spacing: 1px;
}
.memolistbox{
  width: 93%;
  margin-left: 7%;
  height: 227px;
  overflow: auto;
}
.memolist{margin-right:10px;

}
.memolist li{
    line-height: 20px;
    background: url(../images/memopoint1.png) 0 7px no-repeat;
    width: 92%;
    padding-left: 8%;
    text-indent: 1em;
    margin-bottom: 10px;
    word-break:break-all;
}
.memolist li .edit{
  float: right;
  color: rgb(31, 141, 241);
  cursor: pointer;
}
.memolist li .edit:hover{
  color: rgb(22, 92, 187);
}
.memolist li.today{
  background: url(../images/memopoint2.png) 0 7px no-repeat;
}
#addmemo{
     margin-top: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #D9D9D9;
    font-size: 14px;
    cursor: pointer;
}
#addmemo span{
  background: url(../images/addmemo.png) 0 center no-repeat;
  padding-left: 18px;
}
#addmemo:hover{
  background-color: rgb(255, 212, 58);
}


/**/
.userinfo{

}
.comtabs .tabs{
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    clear: both;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
}
.comtabs .tabs span{
    display: block;
    float: left;
    line-height: 50px;
    margin: 0 18px;
}
.comtabs .tabs span.active{
    color: #236dd1;
}
.comtabs .content{

}
.comtabs .item{
}
#fxtsinfotabs .tabs span{
  width: 20%;
  margin:0 5%;
}
#fxtssub03 .subtabs span{
  width: 25%;
}
table.query{
  width: 100%;
  border: none;
}

table.query thead tr.headtitle td{
    background-color: #4184DF;
    color: #fff;
}
table.query td,table.query th{
  height: 15px;
  line-height: 15px;
  padding: 13px 0;
  font-size: 12px;
  border-top: 1px solid #E2E6EA;
  border-right: 1px solid #E2E6EA;
  background-color: #fff;
}
table.query thead th,table.query thead td{
    font-size: 14px;
    text-align: center;
}
table.query tr td.bglightblue{
  background-color: #EBF5FF;
  font-size: 12px;
  text-align: center;
}
table.query  tr.first td{
  background-color: #4184DF;
  border: none;
  color: #fff;
}
table.query.left tbody td{
  text-align: left!important;
}
table.query tbody td .name{
  margin-left: 16px;
}
table.query tbody td .data{
  
}
table.query tfoot td{
  font-size: 12px;
  color: #236dd1;
  background-color: transparent;
  border-right: none;
}
table.query tbody td .blue{
  color: #236dd1;
}
table.left tbody td{
  text-align: left;
  text-indent: 0em;
}
table.center tbody td{
  text-align: center;
  text-indent: 0em;
}
table tbody tr.head td{
  text-align: center;
  text-indent: 0;
}
.fpinfo table.query tbody td{
  text-align: center;
  text-indent: 0em;
}
.subtabs {
  font-size: 14px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  background-color: #3A75C4;
}
.subtabs span{
  cursor: pointer;
  margin: 0 0%;
  line-height: 42px;
  display: block;
  float: left;
  font-size: 14px;
  background-color: #3A75C4;
  color: #fff;
}
#sub01  .subtabs span{
  width: 50%;
}
.subtabs .active{
  color: #fff;
  background-color:  #4184DF;
}
/*缴纳信息*/
.comtabs2{
    margin-top: 20px;
}
.comtabs2 .tabs{
  overflow: hidden;
  background-color: rgb(58, 117, 196);
  cursor: pointer;
}
.comtabs2 .tabs span{
    background-color: #3A75C4;
    color: #fff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 32px;
    font-size: 14px;
}
.comtabs2 .tabs span.active{
    background-color: rgb(65, 132, 223);
  
}
/*帮助中心页面-start*/
.search{
  width: 100%;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.search .search_input{
  position: relative;
  width: 250px;
  height: 30px;
  display: block;
  overflow: hidden;
}
.search .search_input input{
  width: 230px;
  height: 18px;
  padding: 5px 10px;
  color: #9f9f9f;
  border: 1px solid #FFF;
  font-size: 14px;
}
.search .search_btn{
  background: url("../images/search.png") no-repeat 0 0;
  width: 35px;
  height: 30px;
  position: absolute;
  top:0px;
  left: 250px;
  cursor: pointer;
}
.helpinfotabs{
  width: 100%;
  background: #fff;
}

.helpinfotabs .helptabs {
    clear: both;
    cursor: pointer;
    font-size: 14px; 
    overflow: hidden;
    text-align: center;
    background: #e6e6e6;
    height: 40px;
    line-height: 40px;
}
.helpinfotabs .helptabs  span{
  display: block;
  float: left;
  line-height: 40px;
  width: 20%;
}
.helpinfotabs .helptabs .active{
  background: #fff;
  color: #010101;
}
.infocenter .helpinfotabs .login_piece{
  padding:0 100px;
}
.helpinfotabs .login_piece_li{
  width: 100%;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}

.helpinfotabs .login_piece .piece_title{
  display: block;
  color: #777;
  padding-left: 20px;
  margin-top: 20px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
.login_piece .piece_title.infotitle{
  color: #236dd1;
}
.infocenter .login_piece_li{
  position: relative;
}
.infocenter .info_time{
  position: absolute;
  top:40px;
  right: 20px;
}
.infocenter #helpinfotabs  .view_all{
  position: absolute;
  right: 20px;
  top: 102px;
}
.helpinfotabs .login_piece  .piece_content{
  display: block;
  font-size: 12px;
  color: #919191;
  padding-left: 20px;
  line-height: 25px;
  margin-right: 20px;
  margin-bottom: 23px;
}
.helpinfotabs .login_piece .view_all{
  position: absolute;
  right: 20px;
  top:83px;
  color: #0560bd;
  font-size: 12px;
  cursor: pointer;
}
.bottom_page{
  width: 100%;
  background: #fff;
  height: 35px;
  margin-top: 60px;
 
}
.bottom_page .pages{
   float: right;
   margin-right: 20px;
   font-size: 12px;
}
.bottom_page .pages li{
  float: left;
  margin-right: 15px;
}
.bottom_page .pages .current_page{
  background: url("../images/page.png") no-repeat 0 0;
  color: #fff;
  width: 23px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
.right_content{
  width: 100%;
  overflow: hidden;
  clear: both;
}
.right_content .right_title{
  color: #000000;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 14px;
}
.right_detail{
  font-size: 12px;
  color: #777777;
  position: relative;
  top: 0;
  left: 0;
}
.right_list li{
  width: 250px;
  height:53px;
  line-height: 53px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e8ebef;      
}
.right_list li a{
  color: #747474;
  white-space: nowrap;  
  word-wrap: normal;  
  overflow: hidden;  
  text-overflow: ellipsis;
  display: block;
  width: 250px;
}
.right_detail .more{
  position: relative;
  bottom: 0px;
  right: 20px;
  color: #3176d4;
  height: 53px;
  line-height: 53px;
  float: right;
}
/*帮助中心查询结果页*/
.search_detail{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.search_detail .search_answer_title{
  /*margin-top: 10px;*/
  height: 50px;
  line-height: 50px;
  color: #777777;
  display: block;
}
 .search_answer_img{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}
.search_answer_img   img{
  vertical-align: middle;
  margin: 0 auto;
}
.explain{
  width: 100%;
}
.explain .explain_title{
   padding-left: 30px;
   line-height: 30px;
  display: block;
  font-size: 12px;
  color: #808080;
 
}
.explain .explain_title.total{
  font-size: 14px;
  padding-left: 35px;
  color: #777777;
}
.explain .explain_content{
  line-height: 20px;
  display: block;
  margin:0 45px 30px 30px;
  font-size: 12px;
}
.help_title{
  font-size: 14px;
  padding-left: 30px;
  font-weight: bold;
  line-height: 30px;
}
.helptabs.detail,.helpcontent{
  width: 100%;
  margin: 0 auto;
}
.helptabs.detail span{
  width: 25%;
}
.helptabs.detail span.active{
  width: 25%;
}
.top{
  margin: 15px ;
  font-size: 14px;
  color: #545454;
  background: #F0F0F0;
}
.top a{
  color: #555;
}
.top .back {
   color: #545454;
}
#help_center_info{
  cursor: pointer;
}
/*帮助中心页面-end*/
/* 发票查询-start */
.fpcx_container{
  margin:20px auto;
  width:1000px;
  background:#fff;
  padding-top:50px;
}
.left_container{
 
  float: left;
  padding:0  110px 50px ;
  width: 184px;
}
.right_container{
  float:left;
  width:400px;
  margin-left: 110px;
}
.left_container .title{
  margin-bottom: 10px;
  font-size: 16px;
}
.load a{
  width:183px;
  height:45px;
  line-height: 45px;
  display: block;
  border-radius: 4px;
  background: #236DD1;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.load a:hover{
  background: #1c57a7;
}
.about{
  font-size: 12px;
  margin-top: 10px;
}
.tip{
  margin: 30px 0 0 30px;
}
.tip div{

  margin-top:15px;
}
.icon{
  width:16px;
  height: 16px;
  display: inline-block;
  background: url("../images/tip.png");
  margin-right: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.fp_search{
  margin-right: 10px;
}
.fp_search input{
  width:300px;
  height: 32px;
  border:1px solid #babec0;
  padding-left:28px;
  line-height: 32px;
}
.right_container div{
  height:32px;
  line-height: 32px;
  margin-bottom: 10px;

}
.box{
  width: 328px;
  height: 35px;
  line-height: 35px;
  background: #B3B3B3;
  color: #fff;
  margin-bottom: 25px;
  border:1px solid #B3B3B3;
  margin-top:30px;

}
.box .btn{
  display: inline-block;
  width: 45px;
  background: #fff;
  text-align: center;
  color: #000;
  cursor: pointer;
  
}
.box .tip{
 display: inline-block;
 width: 160px;
 text-align: center;
}
.btn_1 .reset,.btn_1 .search_btn{
  float:left;
  display: block;
  font-size: 16px;
  cursor: pointer;
}
.reset_icon{
  background: url("../images/reset.png");
  width: 19px;
  height:17px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

}
.btn_1{
  margin-top: 20px;
  font-size: 16px;
}
.btn_1 .reset{
    color: #236DD1;
    margin:10px 40px 0 100px;
}
.btn_1 .search_btn{
  width: 136px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  background: #236DD1;
  text-align: center;
  line-height: 45px;

}
.btn_1 .search_btn:hover{
   background: #1c57a7;
}
.search_result{
  text-align: center;
}

.result_left,.result_right
{
  float: left;
font-size: 14px;
 width:290px;
}
.search_title{
  font-size: 30px;
  height: 115px;
  line-height: 115px;
  color: #000;
}
.result_left{
  padding-right: 40px;
 border-right: 1px solid #ededed;

  margin-left: 60px;
}
.result_right{
  margin-left: 50px;
}
.result_left table {
  width:100%;
}
.result_left table td{
  height:40px;
}
.fp_title{
  font-size: 14px;
  width: 100%;
  text-align: left;
}
.constact{
  height: 150px;
  line-height: 150px;
  font-size: 40px;
  color:#5fc458;
}
.search_btn1{
  width: 270px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  background: #236DD1;
  text-align: center;
  line-height: 45px;
  display: block;
  cursor: pointer;
  font-size: 16px;

}
/* 发票查询-end*/
/*日历详情－start*/
#calendar {
  width: 740px;
  background-color: #fff;
}
#taxCalendar.caldetail{
  width: 100%;
  margin: 0 auto;
}
#taxCalendar.caldetail .caltitlebox{
  background-color: #E6F1FF;
  color: #333;
}
#taxCalendar.caldetail .Calendar_top{
  width: 200px;
  margin: 0 auto;
}
#taxCalendar.caldetail .caltitlebox .caltitle{

}
#taxCalendar.caldetail  .Calendar_input{
  width: 140px;
}
#taxCalendar.caldetail  table.tb_date td{
  border:none;
  padding: 0;
}
#taxCalendar.caldetail  table.tb_date{
  width: 96%;
}
#taxCalendar.caldetail .idCalendar td.onToday.memoico span{
  background: none;
}
#taxCalendar .idCalendar.nobeiwang td.onToday{
  background:none;
}
#taxCalendar .idCalendar.nobeiwang td.onToday a{
  color: #fff;
  background: url(../images/cal_bg1.png) center no-repeat;
}
#taxCalendar .idCalendar.nobeiwang td.onToday a.zqdate{
  color: #fff;
  background: url(../images/cal_bg1.png) center #D6E7FB no-repeat;
}
#taxCalendar.caldetail table tbody td{
  font-size: 14px;
}
#taxCalendar.caldetail table tbody td.zqdate{
  background-color: #D6E7FB;
}
dl.beizhu{
  width: 96%;
  line-height: 25px;
  text-align: left;
  margin: 0px auto 20px auto;
}
dl.beizhu dt{
 
}
dl.beizhu dd{
  display: block;
}
.selectCal{
  width: 96%;
  font-size: 14px;
  text-align: left;
  line-height: 30px;
  margin: 30px auto;
  overflow: hidden;
}
.selectCal .select-item{
  overflow: hidden;
}
.selectCal .select-item span{
  width: 40px;
  height: 30px;
  display: block;
  float: left;
  background:url(../images/caldetailsel01.png) center no-repeat;
  cursor: pointer;
}
.selectCal .select-item.active{
  color: #236dd1;
}
.selectCal .select-item.active span{
  background:url(../images/caldetailsel02.png) center no-repeat;
}
/*日历详情－end*/
/*消息中心页面*/
 .infocenter{
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
  }
  .infocenter .login_piece_li{
    border-bottom: 1px solid #f0f0f0;
    padding:8px 0;
  }

/*A级企业查询－start*/
.title_A{
 margin:0 auto;
  width:1000px;
  height: 40px;
  line-height: 40px; 
  font-size:14px
}
.cx_container{
  margin:0 auto;
  width:780px;
  padding:80px 110px;
  background:#fff;
  padding-top:50px;
}
.cx_container .search_input{
  width:610px;
  height:45px;
  line-height: 45px;
  border:2px solid #7ba7e3;
  padding-left: 20px
}
.search_A{
  width: 130px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  background: #236DD1;
  text-align: center;
  line-height: 45px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
.search_Aresule{
 
}
.search_Aresule li{
   height:35px;
  line-height: 35px;
  border-bottom: 1px solid #f4f4f4;
  color: #000;
}
.search_Aresule a{
  float: right;
  color: #0560bd;
  cursor: pointer;
}
.mesage_show{
  float: left;
}
.bottom_page .message{
   padding-left: 5px;
   width: 50px;
  height:20px;
  border:1px solid #777;
 
}
.search_detial{
  text-align: center;
}
.search_detial .search_content{
  margin: 0 auto;
  width: 440px;
}
.search_detial .search_content table{
  width:100%;
}
.search_detial .search_content table td{
  height: 35px;
  line-height: 35px;
  font-size: 16px
}
.search_btn2{
  width: 260px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  background: #236DD1;
  text-align: center;
  line-height: 45px;
  display: block;
  cursor: pointer;
  font-size: 16px;
  margin-left: 250px;
  margin-top: 70px;
}
/*A级企业查询－end*/

/*消息中心正文*/
.infomessage_content{
  margin: 0 110px 0 115px;
}
.infomessage_content .infomessage_title{
   padding:95px 0 57px 0;
   border-bottom:1px solid #adadad;
   font-size: 20px;
   color: #777777;

}
.infomessage_model{
  margin:40px 0;
}
.infomessage_model .title_message{
  font-size: 14px;
   line-height: 25px;
}
.infomessage_model .title_message.new{
  color: #474343;
}
.infomessage_model .titlecontent{
  font-size: 14px;
  text-indent: 2em;
  line-height: 25px;
}
.infomessage_bottom{
  text-align: right;
  padding: 110px 0 58px 0;
  line-height: 25px;
}

/*税务报告-start*/
.taxreport{

}

.taxreport .toptitle{
  text-align: center;
  font-size: 60px;
  height: 291px;
  line-height: 291px;
  color: #fff;
  background:url(../images/taxreporttitlebg.jpg);
}
.taxreport .chart{
  width: 500px;
  height: 350px;
  float: left;
  margin: 0;
}
.taxreport.charts .charttitle{
  font-size: 16px;
}
.taxreport.charts .charttitle .r{
  font-size: 14px;
}
.taxreport .report-item{
    margin-top: 60px;
    position: relative;
    top: 0;
    left: 0;
    clear: both;
    overflow: hidden;
}
.taxreport .report-item .reportcontent{
    width: 400px;
    line-height: 30px;
    font-size: 16px;
    text-indent: 2em;
    float: right;
    position: absolute;
    top: 50%;
}
.taxreport .report01{
    height: 350px;
}
.taxreport .report01 .reportcontent{
    right: 30px;
    height: 180px;
    margin-top: -90px;
}
.taxreport .report01 .chart,.taxreport .report03 .chart{
  margin-left: 30px;
}
.taxreport .report02{
    height: 430px;
    background: url(../images/taxreportimg01.png) #fff no-repeat 650px center;
}
.taxreport .report02 .reportcontent{
    left: 30px;
  
    width: 500px;
    height: 180px;
    margin-top: -90px;
}
.taxreport .report03{
  
}
.taxreport .report03 .reportcontent{
    right: 30px; 
    height: 150px;
    margin-top: -75px;
}
.taxreport .report04{
    background-color: #fff;
  
    height: 430px;
}
.taxreport .report04 .reportcontent{
    left: 30px;
    height: 180px;
    margin-top: -90px;
}
.taxreport .report04 .chart{
  float: right;
  margin-right: 30px;
  border: 1px solid #eee;
  margin-top: 40px;
}
.taxreport .report05{
    height: 350px;
    background: url(../images/taxreportimg02.png)  no-repeat 100px center;
}
.taxreport .report05 .reportcontent{
    right: 30px;
    width: 500px;
    height: 100px;
    margin-top: -50px;
}
.taxreport .report05 #tishinumber{
  position: absolute;
  top: 52px;
  left: 351px;
  font-size: 34px;
  color: #fff;
  width: 56px;
  text-align: center;
  height: 56px;
  line-height: 56px;
}
.taxreport .reportbottom{
  height: 628px;
  background: url(../images/taxreportbottombg.jpg) 0 0;
  margin-top: 50px;
}
.cerditcontent{
    font-size: 20px;
    width: 250px;
    margin: 0px auto;
    padding-top: 70px;
}
.cerditNumber{
    font-size: 78px;
    color: #fff;
    width: 124px;
    margin: 61px auto;
    text-align: center;
}
.taxreport .reportbottom .zongju{
  margin: 290px auto 0 auto;
  color: #A09E9E;
  width: 100px;
  text-align: center;
}
.taxreport .reportbottom .updatedate{
  margin: 0px auto 0 auto;
  color: #A09E9E;
  width: 100px;
  text-align: center;

}
/*税务报告-end*/

/*系统设置 start*/
.system {
   padding:1% 5%;
   background: #fff;
   width:90%;
   margin-top: 10px;
}
.system div{
  font-size: 16px;
  color: #000;
  line-height: 40px;

}

.system .select_image{
  font-size: 20px;
  color: #236dd1;
  height:40px;
  line-height: 40px;
}
.system .photo_left,.system .photo_right{
  float: left;
}
.photo_select{

}
.cancle_photo{
    background:  #236dd1;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70px;
    margin-left: 20px;
}
.system input{
  height:25px;
  line-height: 25px;
  border:1px solid #babec0; 
  width:160px;
}
/*系统设置 end*/


/*添加备忘-start*/
.memobox{
  padding: 30px 20px 30px 30px;
  font-size: 14px;
  width: 660px;
}
.memobox .memotitle{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.memobox .label{
    font-size: 14px;
}
.memobox .memotext{
  border: 1px solid #C3C2C2;
  font-family: "Microsoft YaHei";
}
.memobox  #actionDate,.memobox  #actionDate2{
  margin-left: 20px;
  width: 140px;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
}
.memobox  #btnYes{
  width: 130px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #236DD1;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  float: right;
  font-size: 16px;
}
.memobox  #btnYes:hover{
  background-color: #1c57a7;
}
.memobox  #btnYes.gray{
  background-color: #B3B3B3;
}
.memobox  #btnYes.gray:hover{
  background-color: #B3B3B3;
}
.memobox textarea{
  font-size: 14px;
  text-indent: 2em;
  line-height: 20px;
  color: #333;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.memobox .red,.memobox .blue{
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color: #236DD1;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 15px;
}
.memobox .red{
  background-color: #DB4E42;
}
.memobox .red:hover{
  background-color: #CB4A3F;
}
.memobox .blue:hover{
  background-color: #1c57a7;
}
/*添加备忘-end*/
.tcdPageCode{padding:0;text-align: left;color: #ccc;float:right;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px;  padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca; border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}

.system table td{
  text-align: center;
   height: 80px;
}