body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,iframe {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
 font-family: "Microsoft YaHei";
  user-selet:none;
  -moz-user-selet:none;
  -webkituser-selet:none;
  -khtml-user-selet:none;
 -ms-user-selet:none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  display: block;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  white-space: normal;
  word-break: break-all;
}
a:hover,a:active,a:visited{
   text-decoration: none;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  outline: none;
}
input::-ms-clear {
  display: none;
}
iframe{
  border:0 none;
}
body {
  width: 100%;
  background: #fff;
  color: #000;
  font-family: "Microsoft YaHei";
  height: 100%;
  overflow-y:auto;
  font-size: 12px;
}
input:focus{
  border:1px solid #4a87d9 !important; 
}
/*登录前页面*/
.login{

   background: url("../images/login.jpg") no-repeat center center; 
   width: 100%;  
   height: 1079px;
   font-size: 14px;
   min-width: 1000px;
   min-height: 500px;
   margin: 0 auto;
   color: #545658;
   position: relative;

}
.login .login_content{
  width: 1000px;
  height:500px;
  margin: 0 auto;
  position: relative;
}
.login  .login_logo{
  width: 100%;
}
.login_main a{
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}
.login .logoimg{
  margin: 0 auto;
  position: absolute; 
  left:18px;
  top: 18px;
}
.login .fp_query{
  /*background: #fff;
  width: 305px;
  height: 150px;
  text-align: center;
  
  
  border-radius: 2px;
  margin: 0 auto;*/
   /*background: url("../images/fp.png") no-repeat 0 0;*/
  /* width: 304px;
   height: 150px;*/
   top:175px;
   left: 0px;
   position: absolute;
   cursor: pointer;
}
/*.login .login_main a{
  display: block;
  cursor: pointer;
}
.login .fp_query .fpimg{
  display: block;
  margin: 0 auto;
  text-align: center;
  background: url("../images/fp.png") no-repeat 125px 40px;
  width: 53;
  height: 80px;
}*/
.login  .login_name{
  display: block;
  padding-top: 5px;
  line-height: 20px;
}
.login .credit{
 /* background: #fff;
  width: 150px;
  height: 150px;
  text-align: center;*/
  position: absolute;
  top:175px;
  left: 310px;
  cursor: pointer;
  background: url("../images/credit.png");
  width:150px;
  height:151px;
  text-align: center;
  /*border-radius: 2px;
  margin: 0 auto;*/
}

.creditimg{
  display: block;
  margin: 0 auto;
  text-align: center;
  background: url("../images/xy.png") no-repeat 55px 40px;
  width: 38;
  height: 80px;
}
.login  .online_tax{
  /*background: #fff;
  width: 150px;
  height: 150px;
  text-align: center;*/
  position: absolute;
  top:330px;
  left: 0px;
  cursor: pointer;
  background: url("../images/onlie_tax.png") no-repeat 0 0;
  width: 150px;
  height: 150px;
  text-align: center;
/*  border-radius: 2px;
  margin: 0 auto;*/
}
.onlineimg{
  display: block;
  margin: 0 auto;
  text-align: center;
  background: url("../images/online.png") no-repeat 55px 40px;
  width: 38;
  height: 80px;
}
.login  .bj_center {
  /*background: #fff;
  width: 150px;
  height: 150px;
  text-align: center;
  color: #fff;*/
  position: absolute;
  top:330px;
  left: 155px;
  cursor: pointer;
 /* border-radius: 2px;
  margin: 0 auto;*/
  background: url("../images/bj_center.png") no-repeat 0 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
.centerimg{
  display: block;
  margin: 0 auto;
  text-align: center;
  background: url("../images/bj2.png") no-repeat 55px 40px;
  width: 36;
  height: 80px;
}
.login_form{
  width: 320px;
  height:325px;
  background: #fff;
  /*border: 1px solid red;*/
  position: absolute;
  right: 0px;
  top:175px; 
  color:#666666;
}
.login_form .form_detail{
   margin: 25px 30px 0 30px;

}
.login_form .form_detail label{
  line-height: 35px;
}
.login_form .login_input{
  display: block;
  
}
.login_form .login_input input{
  width: 245px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #cdcdcd;
  padding-left: 10px;
}
.login_choice{
  width: 100%;
}
.login_choice span{
  width: 49%;
  text-align: left;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-top: 3px;
}
.login_btn{
  width: 258px;
  height: 45px;
  line-height: 45px;
  background-color: #2574DE;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.login_btn a{
  color: #fff;
  display: block;
}
.btn_hover:hover{
background-color: #1c57a7;
}
.password_detail .login_input{
  margin: 5px 0 10px 0;
}
.box{
  width: 258px;
  height: 35px;
  line-height: 35px;
  background: #B3B3B3;
  color: #fff;
  margin-bottom: 25px;
  border:1px solid #B3B3B3;

}
.box .btn{
  display: inline-block;
  width: 45px;
  background: #fff;
  text-align: center;
  color: #000;
  cursor: pointer;
  
}
.box .tips{
 display: inline-block;
 width: 160px;
 text-align: center;
}
.CA_detail{
  width: 100%;

}
.CA_detail .ca_img{
  width: 35%;
  display: inline-block;
  
}
.CA_detail .ca_name{
  width: 60%;
  display: inline-block;
  text-align: right;
  font-size: 12px;
  margin: 25px 0 30px 0;
  color: #b4b4b4;
}
.hide{
  display: none;
}
.on{
  display: block;
}
.fp_query{

  background: url("../images/fp_bg2.png") no-repeat 0 0;
  width: 304px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
}
.login_main .fp_name{
  display: block;
  margin-top: 84px;
  color: #fff;
}
.credit .fp_name{
  width: 80px;
  text-align: center;
  margin: 84px auto 0;
  color: #fff;
}
.bj_center .fp_name{
  text-align: center;
  margin: 84px auto 0;
  color: #fff;
}
.login .logotop{
  position: absolute;
  right: 18px;
  top:30px;
  color: #fff;
  cursor: pointer;
}
.login  .help:hover{
  color: orange;
}
.login .logobottom{
  position: absolute;
  right: 18px;
  bottom:20px;
  color: #57677a;
}
.login .logobottom .author_detail{
  margin-right: 15px;
}