<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-关于我们</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">
            <div>
                <img src="../images/top.jpg">
            </div>
            <div class="padding">
                <div class="row-fluid">
                    <div class="span3 subnav">
                        <h3>
                            关于我们
                        </h3>
                        <ul id="aboutUs_nav">
                            <li class="active"><a href="aboutUs.html"><i class="icon"></i>平台简介</a></li>
                            <li><a href="aboutUs-team.html"><i class="icon"></i>管理团队</a></li>
                            <li><a href="aboutUs-contactUs.html"><i class="icon"></i>联系我们</a></li>
                        </ul>
                    </div>
                    <div class="span9 contents">
                        <p>
                           
                            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <strong>南京微软云暨移动应用孵化平台（简称“南京微软孵化平台”）由南京经济技术开发区管委会与微软（中国）有限公司合作共建，南京小鹿创萌科技孵化器运营管理有限公司负责运营。我们致力于做“最专业的创业服务”，为入驻的创业团队提供技术指导服务、创业指导服务、市场指导服务、产业指导服务、商业模式指导服务、股权与投融资指导服务等多方位服务。</strong>我们为入选的创业团队提供12个月的办公空间，并得到由思想领袖、行业专家及技术专家组成的导师团的扶植与指导；同时，入选团队还将得到价值1000万人民币的微软云服务等多种资源。创业团队一旦入选，所有资源均为免费提供，并有机会获得为期三个月的美国硅谷知名孵化器Y Combinator、Plug&play、StartX的免费交流与培训机会。


                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>   
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
       $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(5).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    </script>
</body>
</html>
