<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-关于我们</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">
            <div>
                <img src="../images/top.jpg">
            </div>
            <div class="padding">
                <div class="row-fluid">
                    <div class="span3 subnav">
                        <h3>
                            关于我们
                        </h3>
                        <ul id="aboutUs_nav">
                            <li><a href="aboutUs.html"><i class="icon"></i>平台简介</a></li>
                            <li><a href="aboutUs-company.html"><i class="icon"></i>运营公司</a></li>
                            <li class="active"><a href="aboutUs-team.html"><i class="icon"></i>管理团队</a></li>
                            <li><a href="aboutUs-contactUs.html"><i class="icon"></i>联系我们</a></li>
                        </ul>
                    </div>
                    <div class="span9 contents">
                        <ul class="team">
                            <li>
                                <div class="image-wrap pull-left"><img src="../images/team01.jpg">  </div>
                                <div style="float: left; width: 450px;">
                                    <h3>童雪松</h3>
                                    <h4>南京微软云暨移动应用孵化平台顾问兼代理总经理</h4>
                                    <p>美国乔治华盛顿大学管理学博士，TCL创业投资有限公司董事总经理。曾担任TCL集团战略与投资管理中心总经理，历任TTE（TCL-Thomson电子）北美利润中心副总裁、TTE副总裁兼战略企划中心总经理、新兴市场业务中心副总裁。</p>
                                    <p>童博士曾作为核心团队成员，参与TCL兼并法国汤姆逊的谈判和整体项目运作，特别是专利合同谈判。他还曾主导创立TCL各地基金及美元基金并成功投资西安通源石油（300164.SZ）、百视通（600637.SH）、敦泰科技(5280.TW) , 时趣，Kateeva, Wonder Workshop 等项目。
                                    </p>
                                    <p>目前，童雪松博士全面负责南京微软云暨移动应用孵化平台的业务、合作伙伴关系和未来发展战略，同时带领孵化平台的服务团队为创业者提供最好最专业的服务。</p>

                                </div>
                                <!-- <div class="line"></div> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>   
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(5).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    });
        
    </script>
</body>
</html>
