<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-关于我们</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">
            <div>
                <img src="../images/top.jpg">
            </div>
            <div class="padding">
                <div class="row-fluid">
                    <div class="span3 subnav">
                        <h3>
                            关于我们
                        </h3>
                        <ul id="aboutUs_nav">
                            <li><a href="aboutUs.html"><i class="icon"></i>平台简介</a></li>
                            <li class="active"><a href="aboutUs-team.html"><i class="icon"></i>管理团队</a></li>
                            <li><a href="aboutUs-contactUs.html"><i class="icon"></i>联系我们</a></li>
                        </ul>
                    </div>
                    <div class="span9 contents">
                        <ul class="team">
                            <li>
                                <div class="image-wrap pull-left"><img src="../images/mnteam.jpg">  </div>
                                <div style="float: left; width: 450px;">
                                    <h3>马宁</h3>
                                    <h4>长沙高新区微软云暨移动应用孵化平台首席执行官</h4>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;马宁，长沙高新区微软云暨移动应用孵化平台首席执行官。2014年获得苏州工业园区领军人才称号。曾任微软亚洲工程院软件工程师和平台开发合作部技术经理，先后从事Windows Embedded Compact、Windows  Embedded 8开发和技术推广工作. 加入微软之前, 先后十年获得”微软最有价值专家”称号，Windows Mobile应用开发者，长期从事Windows Mobile 企业级应用的开发及系统架构设计工作；Tech•Ed 和 MEDC 讲师；《程序员》杂志移动开发专栏作者。</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;2011年离开微软后，创建Windows Phone和Windows 8上全球最大的游戏社交平台，累计装机量超过6000万，为25个国家的数万名开发者提供服务。所在公司是第一批国内使用Windows Azure的在线云服务，取得了在Windows Azure上服务千万级用户的实践技术成果。在2013年微软BizSpark新创企业大赛中获得了“云服务”的一等奖，并成为首批入住微软云计算加速孵化器的企业。</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;2015年9月起，负责长沙微软云暨移动应用孵化平台，截至到2016年6月，该平台已经孵化出43支创业团队，涵盖手机游戏、移动互联网、物联网和智能制造等多个领域，其中多支团队获得风险投资。</p>
                                </div>
                                <div class="line"></div>
                            </li>
                            <li>
                                <div class="image-wrap pull-left"><img src="../images/wml.jpg">  </div>
                                <div style="float: left; width: 450px;">
                                    <h3>莫雅丽</h3>
                                    <h4>长沙高新区微软云暨移动应用孵化平台总经理</h4>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙高新区微软云暨移动应用孵化平台 总经理
                                    莫雅丽女士现任长沙高新区微软云暨移动应用孵化平台的驻企执行官。长沙高新区微软云暨移动应用孵化平台旨在深入中国的移动互联网、手游、电子商务创业生态链，鼓励更多的创业者使用微软平台进行技术开发及实现创新；同时为企业提供多方位的创业支持资源，以帮助创业者实现梦想。创业企业申请后经驻场专家评审投票进入长沙高新区微软云暨移动应用孵化平台，将可以得到当期期间内（6个月），长沙高新区微软云暨移动应用孵化平台免费提供的，位于湖南省长沙市高新区中电软件园的孵化器办公空间，并得到由行业领袖，创业英雄、国内知名驻场风投机构、资深行业专家及技术专家组成的导师团的扶植与指导，同时获得多方面培训、融资机会对接、行业走访交流、当地政策解读及多种创业资源。每一个入选的创业公司还将得到价值5万元的微软产品创业加油包，以及当地政府20万元的柳枝计划的创业扶持。
                                    </p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;莫雅丽女士在加入长沙高新区微软云暨移动应用孵化平台之前，曾历任湖南当地知名企业总经理助理的同时、兼任湖南省电子商务协会、湘潭市电子商务协会办公室主任，也曾任市场，道管理，政府合作，电子商务营运等多个管理职务。在加入长沙高新区微软云暨移动应用孵化平台之前，莫雅丽女士被中国电子商务协会、中国电子商务产业联盟委任为：中国电子商务联盟湖南主任、中国电子商务总部基地湖南省负责人、全国电子商务应用人才培训管理办公室湖南办主任。</p>
                                </div>
                                <div class="line"></div>
                            </li>
                            <li>
                                <div class="image-wrap pull-left"><img src="../images/tcq.jpg"></div>
                                <div style="float: left; width: 450px;">
                                    <h3>唐传奇</h3>
                                    <h4>长沙高新区微软云暨移动应用孵化平台副总经理</h4>
                                    <p> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;唐传奇先生现任长沙市高新区微软云暨孵化平台副总经理，主要负责微软云孵化器的运营、内部管理、项目服务与合作，致力于为入孵项目团队提供最直接的帮助、最贴心的服务与最舒适的环境。</p>
                                    <p> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;唐传奇先生在电子商务运营、内部管理、团队组建、培训等方面经验丰富。曾任多家公司湖南区总经理岗位。对如何打造初创公司运营体系、销售系统、市场体系经验丰富。从无到有创建过多家公司。</p>
                                   
                                </div>
                                <div class="line"></div>
                            </li>
                    
                       
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>   
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(5).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    </script>
</body>
</html>
