<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-关于我们</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">
            <div>
                <img src="../images/top.jpg">
            </div>
            <div class="padding">
                <div class="row-fluid">
                    <div class="span3 subnav">
                        <h3>
                            关于我们
                        </h3>
                      <ul id="aboutUs_nav">
                            <li ><a href="aboutUs.html"><i class="icon"></i>平台简介</a></li>
                            <li><a href="aboutUs-company.html"><i class="icon"></i>运营公司</a></li>
                            <li><a href="aboutUs-team.html"><i class="icon"></i>管理团队</a></li>
                            <li class="active"><a href="aboutUs-contactUs.html"><i class="icon"></i>联系我们</a></li>
                        </ul>
                    </div>
                    <div class="span9 contents">
                        <p>地 址：南京市栖霞区国家级南京经济技术开发区兴智路10号兴智科技园A座13层与14层</p>
                        <p>邮 编：210046</p>
                        <p>电 话：025-85532232</p>
                        <p>邮 箱：admin@njmsincubator.com</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>   
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(5).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    });

    </script>
</body>
</html>
