<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">

            <div><img src="../images/top.jpg"></div>
            <div class="padding cooperate">
                <div class="contents">
                    <h1> 南京微软云暨移动应用孵化平台合作创投基金介绍 </h1>
                    <ul class="startup">
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/08.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> TCL创投基金</h4>
                                <p>2009年注册，注册资本2亿人民币，是TCL集团全资子公司,TCL创投起源于原TCL集团战略发展部。主要关注科技、媒体、通讯、医疗器械与服务、新能源、新材料、消费及服务等行业。
                                </p>
                                <p>投资案例：芭乐网、购阿购、迪信通、爱抢购、唯冠科技、七一二通信广播

                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>                                           
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/01.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> SIERRA VENTURES</h4>
                                <p>1982年创建，总部位于美国硅谷，总投资额超过15亿美元。帮助数百位企业家在全球各地创办了成功的科技企业。Sierra长期关注IT领域，在云计算，企业软件，移动社交，大数据，IT基础设施，安全等领域有着广泛深入的投资经验。
                                </p>
                                <p>投资案例：Intuit (INTU:NASD)、Invensense (INVN:NYSE)、Frontbridge (被Microsoft收购)、SyChip (被Murata收购)、有时趣(SocialTouch)、喜马拉雅FM、DMG (被华视传媒收购)
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/04.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> DCM创投基金 </h4>
                                <p>DCM是一家风险投资公司，管理着超过 30 亿美元的资金。1996 年以来，在美国和亚洲地区投资超过 280 家高科技企业，主要投资领域在通讯及基础设施、互联网和数码媒体、软件与服务。
                                </p>
                                <p>
                                    投资案例：前程无忧、58同城、当当网、纷享销客
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/02.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> AMITI</h4>
                                <p>以色列Amiti基金是专业投资半导体项目的基金公司，在组合管理和投资经验方面有超过30年的丰富经验，包括科技风投企业的公司领导、监管运营、销售及研发。目前成功投资了多个高速增长的企业。
                                </p>
                                <p>
                                    
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/03.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>CANAAN ISRAEL </h4>
                                <p>Canaan，硅谷老牌VC，主要投资方向是数字媒体、大数据、云技术、企业软件，即服务、互联网基础设施、数字保健、医学技术等方向。公司从1987年至今，管理42亿美元的资本，并运作160多家企业的成功退出。
                                </p>
                                <p>
                                    投资案例：Waze（APP应用）

                                </p>
                            </div>
                            <div class="clear"> </div>    
                        </li>

                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/05.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 毅达资本</h4>
                                <p>江苏高科技投资集团有限公司于2014年2月利用集团自身与其核心管理团队，开始共同组建成立毅达资本，全面承接集团股权投资业务和各类创新业务。
                                </p>
                                <p>毅达资本管理团队投资业务始于1992年，截至2015年底已经累计发起65支基金，管理资本规模超过500亿元，投资600多家企业，在境内外主要资本市场有80余个成功 IPO案例和多个并购案例。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/06.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 赛伯乐创投基金</h4>
                                <p>   由硅谷创业家朱敏先生于2005年创办，是一家秉承创新创业精神，通过科技、资本和国际化手段，为区域的新兴产业发展服务的投资集团。赛伯乐重点关注具有强大整合潜力和平台价值的互联网及电子商务新兴产业。
                                </p>
                                <p>投资案例：硅谷堂（企业服务教育）、瀚思（企业服务）

                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/cooperate/07.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>金茂资本 </h4>
                                <p>2004年创立 ，总部设在南京，在全国谷底均设有分支机构。金茂资本核心目标定位于新兴产业的发展与培育，并专注于中小企业价值的发现、挖掘和提升，合理利用创新性的金融工具开展业务布局。
                                </p>
                                <p>投资案例：常州碳元科技（电子产品散热整体方案）、北京世纪互联（云计算及智慧能源）

                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li> 
         
                    </ul>
                        
                </div>
            </div>
    </div>
</section>   
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(3).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    });

    </script>
</body>
</html>
