<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-创业团队</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
<section id="main">
    <div id="container">
        <div class="container">
            <div> <img src="../images/top.jpg"></div>
            <div class="padding">
                <div class="contents">
                    <h1> 一期创业团队介绍 </h1>
                    <ul class="startup">
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/sqwl.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 常德神起网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;神起网络是国内领先的游戏公会运营商。通过游戏公会、网络主播形成特色的推广渠道，大大降低了用户推广成本。通过游戏内精细化运营服务，成功运营了“哇塞游戏平台”“爱娱乐游戏平台”年产值超过4千万元，自主研发的“爱娱乐游戏助手”也即将上线，为手机游戏用户提供更多精细化服务。未来神起网络将继续秉承“用心创造，快乐游戏”为宗旨，为广大游戏玩家提供更好的服务！




                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/t_logo.png"></a></div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙糖果网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;一家领先的、可持续创新的“零字符通信”服务初创公司。
                                    湖南唯一获得腾讯创始人曾李青、架桥资本天使投资的初创公司；团队核心成员来自微软、腾讯、百度、迅雷等公司，人均5-10年以上研发经验，部分成员有创业经历。
                                    未来5年，将有400亿台智能设备接入互联网，开启万物联网（IOT）时代的宏大序幕。

                                </p>

                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/h_logo.png"></a></div>
                            <div class="_right" style=" float: left; width: 550px;">

                                <h4> 湖南海鸟科技发展有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;海鸟诞生于2015年的春天，他是为创造伟大的游戏而生。
                                    汇聚各路精英：包括BAT级互联网人才，海外独立游戏极客，资深商业游戏制作人。
                                    全新的组织模式：吸取BAT等互联网巨头，海外独立游戏工作室，商业游戏公司管理模式的精华。
                                    丰富的产品经验：创始人曾创业做出年收入过亿的游戏，制作独立游戏销售量超过300万套。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/xnkj.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南玄鸟科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南玄鸟科技有限公司成立于2015年3月，是由动漫湘军一群资深行业专家发起和组建的，一家专注于3D手游及ACG创意内容研发的创业公司。公司技术团队平均年龄26岁，现有成员40人。公司秉承“极致纯粹，快乐重生”的企业理念；执着于“体验至上，画面至美，管理至简”的企业宗旨，立志成为移动互联网时代最具影响力的数字娱乐公司。玄鸟的目标是成为数字娱乐领域新时代的“造梦工厂”。


                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/sdwl.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙市随动网络科技有限责任公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙市随动网络科技有限责任公司专注于物联网软硬件、云平台技术的研究与开发，以“随动智慧物联云”为核心，形成了面向信息化农业、智慧城市等行业的专业性解决方案，是湖南省内领先的物联网技术提供商。公司具有系统集成资质，其核心团队50%具有博士学位，拥有强大的技术研发实力，拥有“随动智能物联网终端”、“随动大规模数据处理技术”、“随动智能云管理平台”、“随动大数据存储分析”等一系列核心技术和产品，并成功应用于构建湖南郴州烟草物联网系统、成都飞鱼星QuanWifi商业营销平台等产品。“掌控科技，随心而动”是随动网络的诉求。凭借十年来的技术和产品积累，将领先业界的产品理念和丰富的产品开发经验相结合，为用户提供简单、方便、安全、实用的物联网软硬件产品和解决方案。


                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/ycb.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 河南壹测吧网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;口号：来壹测吧做一次有温度的测试吧！<br>
                                    网站：www.yiceba.com<br>
                                    简介：壹测吧提供真实用户测试服务，可根据产品需求，导入指定地区指定属性的用户，目前拥全国150多个城市近30万的用户，让测试不再是冰冷的机房，让测试反馈不再是一段文字，壹测吧提供的是有温度有延续的测试服务。




                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/gx.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南耕霞钓月信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南耕霞钓月信息技术有限公司拥有完全自主知识产权的北斗/GPS空间数据挖掘序列原创技术。基于全国联网联控平台+全国货运平台所提供的原始数据，公司已经拥有覆盖全国400万公里可通行道路的专业、详细的电子地图数据产品。同样详细程度的道路电子数据，如果用传统手段调查，需要千亿级别的费用。在2015中国小谷围创客大赛中，本公司的参赛作品成功获奖。公司2015年荣获微软云孵化平台首批入孵团队荣誉。本公司计划在2016年自主建设国内首台北斗/GPS空间数据挖掘专用超级计算机，计算性能设计为可以实时处理全国所有营运车辆每天TB级量级的实时数据，形成对全国道路进行24小时不间断更新的能力。本公司计划依托微软云平台，在2016年6月前后推出一款可以实现危险路段警示+行驶速度推荐功能的APP新产品，以满足广大驾驶人对交通安全的第一刚性需求。




                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>


                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/dczj.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南机械之家信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南机械之家信息技术有限公司是一家工程机械行业新兴的移动互联网公司，是配件及二手机业务一站式方案提供商和服务解决商之一，主要核心成员均为中联重科、腾讯科技等机械工业或互联网行业的资深从业者，以“社群＋电商”模式的战略发展思路，构建“互联网＋”化的工程机械移动互联网生态圈，重构传统行业的信息效率，大幅缩短交易时间及交易环节，最终为客户降低设备的维护成本。旗下运营“吊车之家”和“泵车之家”两大自媒体平台,粉丝量10w＋，是工程机械行业智能终端用户数和影响力排名居前的自媒体之一。旗下轻应用产品“吊车之家”9月8日正式发布上线以来，截至12月注册用户突破20万，月活跃率超30%以上，线上商城订单规模超200万。

                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>

                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="width:262px; height:60px;display:block"><img src="../images/enterprise/jqr.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙新跃机器人有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;中国有40余万座桥梁，居世界首位。护栏是桥梁上必不可少的重要安全设施，每年用于护栏表面处理的维护费用约8亿元。目前对护栏的维护基本停留在依靠人工对护栏表面进行打磨，以去除旧漆污物和铁锈，以便后续重新刷漆。护栏表面处理约占护栏维护工程量的70~80％，一般城市高架桥梁护栏维护工程需要两个月以上，严重制约着施工速度，也直接影响交通畅通与安全。<br>护栏工程机器人是一种高效率的自动化表面处理设备，全球首创。现在20人施工需要两个月的护栏打磨作业，只需10人用4台机器人施工仅需半个月，不仅大大提高工程进度，而且表面处理质量更好，最大程度的减少施工对交通的影响。应用机器人施工，效率高质量好费用低，具有良好的社会效益与经济效益。技术研发完成后，新跃将以设备销售、工程承包和设备租赁的方式进入市场。<br>新跃工程机器人，引领桥梁护栏维护工程进入机器人时代。

                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>

                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="width:262px; height:60px;display:block"><img src="../images/enterprise/znzz.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>智能制造平台是sapparatus</h4>
                                <p>
                                    •借助于物联网，大数据和云技术，对制造业提供端到端的设计，咨询和施工服务，从而将客户转型成为一家全球性的智能制造的先驱企业<br>•将制造公司本身转型成“软件定义的企业”（即智能制造企业）<br>•公司将在长沙和硅谷同时设立机构，利用硅谷的智慧资源和中国的广大市场，充分发挥两者优势。



                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/fqr.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南云连天地网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;我们聚焦于体验经济，致力实现人人都可以是发起人，一起发现更加精彩的世界。简单聚集快乐。核心团队成员来自于京东、豆瓣、天鸽、天娱等，还有来自华尔街的小伙伴。
                                    We are about to enter the next wave of the Internet. It seems so inevitable that people are going to want to come off [online] and enter the real world.


                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/hlj.jpg" style="float:right"></a>  </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南红领巾餐饮管理有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南红领巾餐饮管理有限公司， 是一家专注于餐饮科技发展及互联网餐饮创新的公司，其中首创利用O2O+云服务+实体的方式，重点解决餐饮企业以下问题：<br>
                                    ● 餐饮企业产品标准化服务<br>
                                    ● 餐饮企业人员管控<br>
                                    ● 餐饮企业成本预算管控<br>
                                    ● 餐饮企业线上宣传<br>
                                    ● 餐饮企业物流解决方案<br>
                                    ● 餐饮企业云架构方案<br>
                                    ● 餐饮企业现代化O2O模式搭建<br>
                                    公司成立于2015年12月至今，团队成员从最初的3个人扩大到20人，并获得：
                                    创投中国（湖南）- 《最具潜力项目》奖、创投中国- 300萬服务支持、风险风投- 2000萬、
                                    英国湖南省商会-青年创业企业家（最佳创新奖）。



                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>


                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/xxx.jpg" style="float:right"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南湘运动体育文化发展有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湘运动体育，以湖南简称湘命名，致力于打造湖南本土在线体育公共服务第一平台，集合现代体育大数据，打造现代体育新生态。公司由一群青春活力的90后研究生团队组成，有国家一级运动员，国家一级裁判，技术大牛，营销大咖，这是一群有梦想的年轻人，我们不相信失败，只知道我们的目标和脚下正在走的路。公司起步于运动社区，加速与体育在线公共服务平台，公司开发的湘运动APP于2015年12月份正式上线，用户可以在线预订运动场馆，专业教练，同城约战，平台目前签约场馆已达482家，专业教练已达千余名，用户过万。创业，我们正在路上，我们是湘运动，正在为实现中国体育强国梦奋斗着！



                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>


                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/wxkj.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙无懈信息科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙无懈信息科技有限公司是一家处在成长期的本土手游开发企业；我们秉承“创新”、“积累”和“分享”的企业文化；我们专注手游内容的创新和可玩性的提升，打造创意及体验俱佳的娱乐内容；
                                    我们成立于2014年，云集了有多年游戏制作经验的设计、程序和美术人才，坚持由易到难，由单机到网络，由小型到中型到大型的游戏开发逻辑，不断的提升游戏制作和运营经验，力求打造属于游戏湘军的精品游戏；
                                    我们开发完成并上线了两款休闲益智类的单机游戏，正在研发的网络单机《指尖爆破》已接近完成，另一款面向国内外市场的SLG游戏已开始开发；
                                    我们坚信，在各位领导和朋友们的关心和呵护下，Weshare Game将获得长足的进步，远大的发展，成为国内国际优秀的手游开发商。



                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>


                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="width:262px; height:60px;display:block"><img src="../images/enterprise/jlws.jpg"> </a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙精灵网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙精灵网络科技有限公司（简称“精灵网络”），成立于2015年12月，由一批实力雄厚的互联网游戏行业精英联合回湘创办。本公司基于多年的游戏行业资源基础，定位于精品互联网游戏产品的自主研发和应用推广，以向用户提供优秀、成熟、新颖的产品内容及全面的游戏开发解决方案为宗旨，致力于打造国内最具实力和规模的互联网游戏内容提供商之一。



                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>


                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/yhbs.jpg" style="float:right"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南易出行科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;“一号巴士”是一家基于移动互联网技术，开发的全免费的巴士调车平台，致力于巴士用车行业，为巴士找客源、为客人找巴士，“一号巴士”为团体用车行业提供全面的信息化服务。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;“一号巴士”调车平台的车辆涵盖了所有类型的巴士车、商务车以及部分租赁小轿车、豪车，全面满足旅行社、企业、学校、政府机关单位、婚庆公司等的长短途包车需求。“一号巴士”提高了车队的找团效率，降低了车辆空返率、闲置率，同时也提高了需车方调车效率，改善了整个巴士用车行业的效率。“一号巴士”是节能减排、绿色出行的样板项目。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; “一号巴士”隶属于湖南易出行科技有限公司，公司总部位于美丽的星城长沙，由知名连续创业者、58同城高管以及众多巴士车队行业精英共同组建，由国内著名投资机构注资运营。”一号巴士“以开放、创新、信仰、极致的企业理念、人性化的管理模式、优质的客服服务和极佳的产品用户体验，立志成为”巴士包车“行业的龙头老大。


                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>



                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/x_logo.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙市学以思网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙市学以思网络科技有限公司，是一家专注创新的手游开发商。公司2015年开始专注于手游开发，目前的拳头产品《新三国演义》是市面唯一真实演绎三国演义原著的创新手游，极具市场前景，2016年1月将正式上线。公司创始人3名，合计有60年的游戏龄，都是狂热的游戏爱好者；其中主创始人杨波先生具备33年游戏龄和23年行业经验，曾任职于两家国际上市公司，是一位充满激情、富有经验的创业者。目前团队成员11人，来自于省内一线公司，具备深入的游戏认识和极强的执行能力，是一支充满梦想、打得硬仗的高效队伍。
我们致力于持续为玩家提供与众不同的好游戏！


                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
              
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/cw.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙市敬味食坊生态农业科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙市敬味食坊生态农业科技有限公司CEO刘松，是湖南大学设计学院研四学生，在校众筹蜂蜜创业两年，公司成立于2014年7月。有养蜂教授成为技术股东，公司与养蜂教授共同研发两个发明专利，两项实用新型专利。在常德有养蜂专业合作社(70人)，刘松担任理事长兼法人。团队成员有湖南大学设计研究生等组成的团队，全职人员8个，目前获得200万元天使轮投资，湖南省所有主流媒体都对此进行报道，单月销售额突破十万元。

                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>       
                       
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/tfyx.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南网圣腾飞信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南网圣腾飞信息技术有限公司成立于2008年，公司注册资本为500万人民币，公司主要从事HTML5游戏、“腾飞游戏”平台、企业品牌促销的游戏定制业务的研发和运营业务，致力于向用户提供体验性与品质性优秀的游戏产品。全球首创手游竞技场，实现移动端竞技社交游戏模式；支持微信端、电视TV游戏端、手机端等多个跨平台。
                                    </p><div>
                                        <h3 style="font-size:14px;">本项目创新点如下：</h3>1、即点即玩无需另行下载<br>2、多款游戏跨系统跨平台运行&lt;<br>3、竞技、社交双重体验<br>4、多重任务系统提高用户粘合度<br>5、对战游戏选择面宽阔<br>6、碎片化时间
</div>
                                <p></p>
                            </div>
                            <div class="clear"> </div>
                        </li>

                        <li>
                            <div class="image-wrap pull-left"><a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/hjl.jpg" style="float:right"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 长沙行动网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙行动网络科技有限公司诞生于2015年，核心团队是狂热的运动发烧友，有篮球发烧友，组建过三支球队，打过几百场业余比赛；有省级健美冠军，培养出数百名专业教练。拥有全套的健身行业培训系统和培训机构资源，庞大的场馆资源，家庭健康用品及体育用品资源；拥有稳定的互联网团队，全部成员均有五年以上互联网项目经验。




                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                  

                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/cs.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4> 湖南锤石科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南锤石科技有限公司是由一家专注于3D数字化技术应用的高新技术企业。主要业务有家居三维交互营销平台、虚拟现实系统集成、产品3D电子手册、增强现实技术应用开发、360度全景图。以自主知识产权的数字化营销平台、数字化3D展示工具为主导，向企业和科研院所提供各类3D虚拟环境产品展示系统和营销平台。




                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>


                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/zmbwz.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙市布蛙网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙市布蛙网络科技有限公司的《桌面保卫战》项目，致力于发掘AR技术在娱乐应用方面的可能性。以技术为基础，以创意为竞争优势，努力把握新技术在实用推广上的有利时机，以适合团队自身特点方式开发设计具有商业价值的游戏软件。通过对AR技术应用的探索和尝试以及对游戏行业理解和预测，团队拟定了一系列产品方案并制定了阶段性发展计划。随着各个软硬件厂商及整个互联网行业对AR技术关注度的提高，以及自身经验的积累，我们的产品将发挥更大的潜力。





                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>

              


 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(3).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    });

    </script>
</body>
</html>
