<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-动态-newsDetail</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
<section id="main">
    <div id="container">
        <div class="container">
            <div> <img src="../images/top.jpg"></div>
            <div class="padding">
                <div class="contents">
                    <h1> 二期创业团队介绍 </h1>
                    <ul class="startup">
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/yyb.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南牙医帮科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南牙医帮科技有限公司专注口腔行业，以互联网、信息化技术应用为依托，建立数字化的口腔社区服务平台。致力于打造世界一流的牙科综合服务平台，成为垂直细分领域的行业冠军！牙医帮经过两年发展，营业额从2014年680万元提升至2015年1934万元，已积累客户近10万，已交易客户资料数量1万左右，合作老师数量30余名，合作的医疗机构、院校包括北大口腔、第四军医大、武汉大学等，开展收费课程60余场、已组织培训3000余人次。
                                    我们的目标是成为全球最大的牙科综合服务平台。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/zmlx.jpg"></a></div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙莱美网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;至美旅行是一家北美旅游服务提供商，在长沙、广州、洛杉矶设有办公室，通过对北美一手资源的整合，细分用户需求的挖掘，按主题策划出旅游线路，为中高端用户提供有深度、有温度的旅游服务产品。
                                    其服务内容包括：深度体验游、私人定制游、当地参团、机票、酒店、包车、司导、门票等服务及产品。
                                    至美旅行致力于为用户提供最优质、最高性价比的北美旅行服务。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/lw99.png"></a></div>
                            <div class="_right" style=" float: left; width: 550px;">

                                <h4>长沙视程信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;乐窝99从解决用户租房买房的痛处入手，改变用户利用互联网平台搜索房屋的行为模式，并且利用大数据让用户直观而明确的感受到房屋的特性，从而为用户打造全新的租房买房体验。乐窝99的商业模式为三个层次：
                                    1）从解决用户租房买房的痛处入手，改变用户利用互联网平台搜索房屋的行为模式；
                                    2）并且利用大数据让用户直观而明确的感受到房屋的特性；
                                    3）从而为用户打造全新的租房买房体验。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/zhgc.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南千盟工业智能系统股份有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;智慧钢厂将打造钢厂设备物联网，并结合现场生产数据，实现整个钢厂的设备可视化、数据可视化。并形成智能调度指令，指挥智能设备及现场操作员，从而大幅度的提高生产效率及生产安全性。
                                    在上述基础上我们将打造垂直于钢铁行业的大数据平台，已数据为基础切入钢企的上下游产业链。
                                    三大产品线：
                                    1.钢厂智能调度
                                    根据ERP订单，自动生成排产计划。结合排产计划，根据全厂实时状况，生成具体的调度指令，指导工人工作。为全自动炼钢提供支撑。
                                    2.钢厂智能设备
                                    通过钢厂生产设备智能化（连铸智能控制、转炉智能炼钢、LF炉智能精炼等产品），实现钢铁生产过程每一节点的柔性制造，提升钢材品质，降低各类物耗及能耗，实现工厂无人化。
                                    3.钢铁大数据平台
                                    打造钢铁行业云端大数据平台。通过我们的前两个产品，将全厂设备的运行数据、炼钢过程的生产数据、工厂备件的库存数据导入大数据平台。依托平台数据打通产业链上下游企业。逐步完成【设备在线运维平台】、【生产工艺在线分析平台】、【生产消耗分析平台】、【钢铁备件采购平台】的布局。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/gkgzj.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南德雅曼达科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;感控工作间以“提升医患安全”为使命，凭借“专业服务带来深度价值”的核心理念，致力于成为医疗质量与安全管理领域的创新型公司；聚焦医疗机构感染预防与控制细分领域，旨在建立以医护人员为中心的医院感染管理模式，借助移动互联技术，促进医院感染管理工作更智能、便捷、高效，协助医疗机构快速建立医院感染专职与兼职团队协同团队，开展感控现状评估以及设定年度、季度、月、周干预目标，跟进各感控项目计划进度、以及不同岗位的工作提醒，同时借助平台丰富的感控教育素材完成针对院内医务人员个性化感控知识培训与情景训练，为各级医疗机构提供一站式的“全院、全员、全程”医院感染防控服务方案和服务。感控工作间正是针对院内感控协同、感控教育与第三方服务感染风险防控质控的空白市场提出了解决方法，利用移动互联技术，以人为本、连接各岗位与角色，达成支撑多方合作的流程与服务。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/jcsz.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南京辰数字科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南京辰数字科技有限公司是一家国内新锐的文化创意企业， 紧紧围绕“文化+创意+科技”融合发展理念，以数字图像、影视 特效、多媒体集成、移动互联网等高科技技术为依托，通过文化创 意设计与尖端科技的有机结合，在文化领域不断拓展和延伸，形成 影视广告动画、影院系统、多媒体数字展陈、数字舞美四大业务板 块，是华中地区为数不多的拥有渲染农场的数字科技公司。
                                    核心业务影视动画板块年制作能力1000分钟以上，整包行业最尖 端数字影像技术，致力于三维动画、城市宣传、影视广告、地产宣 传、虚拟现实、数字影院等领域的包装与制作。
                                    公司汇聚业内精英建成行业顶尖智库，筚路蓝缕数载，沐风栉雨， 敢打敢拼，而今它以领先者的姿态站在行业巅峰，一跃成为湖南文化创意产业的翘楚。它与时代同成长，与社会共进步。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/ql.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙新电信息科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;青楼专注于技术天使：
                                    1. 为优质的创业团队提供技术合伙团队，现金+股份的方式合作。
                                    2. 为传统企业提供互联网+的解决方案。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>

                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/bbzsygy.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙奥国生物科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;波比验光仪是一款全新的、前所未有的屈光不正及视觉异常在线检测和治疗平台，通过这个在线的端口，不仅能做B2B或B2C的产品销售，同时也可以进行O2O模式的资源渠道整合运营。我们不但可以在线上检测出患者的屈光状态及其他视觉数据，智能化地加以分析，再进行最优化的治疗选择（在线治疗方案同前所述）；还可以链接到线下的实体医疗机构或眼镜店，并能具体到某个医师、某个眼镜或隐形眼镜品牌乃至某种近视手术方式——是最适合患者本人的，为患者提供最便捷贴心的一站式服务。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>

                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="width:262px; height:60px;display:block"><img src="../images/enterprise/rxyl.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙仁旭医疗服务有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;互联网助力实现分级诊疗项目专注于目前医疗资源分配不均匀的问题，致力于通过互联网实现分级诊疗，打造一个基层医院、手术专家和病友的闭环式三方共赢平台。<br>公司平台将通过手机互联网来预约专家、床位、沟通病情、通过专科医生集团里的手术专家、通过基层医院提供基本的医疗设施设备等形式来线上线下结合实现分级诊疗。<br>医生集团分级诊疗很好的契合了患者、手术专家及基层医院三方的需求，具有非常大的市场。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/icewlw.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>ICE物联网解决平台</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;基于LORA技术在株洲已智慧路灯项目为基础架设城市无线通讯主干网络，在基础主干网络的基础上，实现城市的智慧路灯系统，电子车牌系统，智慧交通管理系统，智慧楼宇，智慧小区，智能家居等物联网项目。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="width:262px; height:60px;display:block"><img src="../images/enterprise/wszzl.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南我伙皆惊网络科技有限公司</h4>
                                <p>
                                    • 《无双赵子龙》是本团队历时18个月，采用AS引擎和C++后端打造的页游产品，程序性能稳定。<br>
                                    • 游戏类型为横版RPG。玩法为5v5自动战斗，手动释放技能。无论是战斗前的阵容搭配，还是战斗中释放技能的时机，都有一定策略深度。<br>
                                    • 我们与国内三十余家发行商、两家海外发行商建立了合作，最高月流水达到了100万元人民币。<br>
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/dlzx.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙讴信网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;瞪羚之星是一款安全、高效、贴心的一站式股权投融资信息发布服务平台。聚集了海量知名风投与优质项目，在这里，你可以直面投资人大佬，结识创业者精英，得到丰富的投融资信息。它打破了时间和地域的限制，将带给你全新的投融资体验，打造出独特的投融资模式！&nbsp;
                                    如果你是投资人：
                                    1、筛选推荐优质项目，海量BP择优选
                                    2、在线查看精英BP，省时省力真方便
                                    3、全程管理投资项目，争取投资高效益
                                    如果你是创业者：
                                    1、豪华导师倾情指导，解决项目孵化和BP双烦恼
                                    2、阶段领域精准匹配，高效直击最合适的投资人
                                    3、融资融智融汇贯通，有效连接创业者与投资人
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/zhn.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南找红娘信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;找红娘.com是互联网分享经济模式下以红娘为核心的全民婚恋服务平台；将红娘牵线、平台约会与线下活动、情感学院有效整合；通过平台数据拓展本地化婚恋后市场，构建婚恋生态圈。
                                    “找红娘.com”目前团队规模40人，在产品开发的同时，由线下活动部、红娘部和情感部进行种子用户储备和品牌宣传，已开展近百场各种形式的相亲活动。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/lhg.jpg" style="float:right"></a>  </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南海龟畅游网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;蓝海龟公司的产品是同兴趣伙伴出境主题旅行产品一站式解决平台，在用户期望与同兴趣的伙伴更深度体验目的地时，自由行用户、俱乐部、旅行社终端客户各类钓鱼、跑步、摄影等互联网兴趣社区会用我的产品，解决了用户和客户在目前市场上找不到此类定制产品的困难。
                                    蓝海龟期望通过真人秀节目+互联网+旅行社的同IP运营模式，运用节目强大的谈判能力和旅行社的资源调度能力，把登山、徒步、潜水、钓鱼等俱乐部及互联网社区的出行需求生成各类主题旅行产品，通过平台直销和俱乐部、社区、旅行达人、旅行社分销模式，从而打造一个能让每一个有不同爱好的人到实现自己梦想旅行的平台。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="width:262px; height:60px;display:block"><img src="../images/enterprise/cckj.png"> </a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙赤橙信息科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;大学里，是“大学之道”的大学，并非特指高校，不过我们会选择高校作为突破口，因为小众细分市场更容易突破快速做到第一。<br>
                                    首先，我们要打造的是一个国内领先的智慧全景高校平台；<br>
                                    在未来，我们将努力发展成全球领先的VR教育内容平台。<br>
<br>
<br>
<br>
<br>
<br>
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/ht.png" style="float:right"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙韩淘电子商务有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;湖南省唯一的进口时装B2B第三方交易商城，2015年平台在韩国采购时装金额达3亿人民币。湖南省及周边省份B端商户386家，采用线上加线下，高速，多款式，少数量的交易模式，此模式用线下的方式已运作5年。2015年成立韩淘电商公司，欲打造韩国和中国进口时装的B2B最大的第三方交易商城。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"><a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/qzkj.png" style="float:right"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>湖南奇泽信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;我们团队致力于全景图像技术的深入研发，包括全景技术的核心算法以及基于FPGA的多路摄像头硬件开发方案，具体形成虚拟现实全景相机，360度车载环视系统和全景安防摄像头三款产品。目前基于我们对市场情况的判断，短期内虚拟现实全景产业仍需要时间进行培育，因此我们的策略是前期主要通过“全景安防监控”方案进行商业运营。全景安防能够很好的解决目前监控摄像头视角狭窄的问题，普遍在110度以下，而全景能做到360度实时监控，而安防视频监控市场2016年将达到6000亿级别。全景技术将对传统的安防监控市场进行革新，市场机会巨大。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/yms.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>唯可（北京）教育咨询有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;唯可（北京）教育咨询有限公司成立于2016年3月，为解决互联网招聘行业效率低的痛点，从面试角度着手提出的解决思路，旨在帮助企业高效对接精准的人才，为个人提供匹配的面试机会，服务于广大企业和求职者。目前上线了www.cheerjob.com网站，“约面试”微信公众号等产品。
                                    约面试，上线于2016年4月15日，为招聘者和求职者搭建一个三分钟直约面试活动的平台。企业用户随时随地发布面试消息，不用筛选简历，不用电话通知，只要发布需求，等待组织面试即可。个人用户一次提交简历，随时预约面试，选时间，选职位，选公司，一切随心选，一键预约面试，轻松面试。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)" style="display:block; width:262px;"> <img src="../images/enterprise/byme.png" style="float:right"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙花粉网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;BYME拼图 是一款基于iOS系统的图文广告编辑应用。
                                    服务人群：商户，撰稿人等在社交网络发布传播广告的自媒体用户。
                                    服务内容：
                                    帮助用户简单快捷的用手机生成图文广告信息。
                                    用户可以通过BYME生成商品广告和自媒体原创内容等信息在微信朋友圈微博等社交平台进行传播。为用户提供图片文字混排，图片内容标注的工具，将编辑内容以长图片和网页的形式分享到网络。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/qxc.jpg"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙曲线信息技术有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;去学车移动互联网定制学车服务，致力于提供高品质驾驶培训服务，在汽车普及的时代，每个成年人都要需要申请驾驶证，特别是大学生，解决传统驾培行业“学车难、学车贵、拿证慢、服务体验差”的困难。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                        <li>
                            <div class="image-wrap pull-left"> <a href="javascript:void(0)"> <img src="../images/enterprise/tawl.png"></a> </div>
                            <div class="_right" style=" float: left;width: 550px;">
                                <h4>长沙市同爱网络科技有限公司</h4>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;同爱网络是基于中国5000万同志群体开展服务的社会企业，我们通过OTO模式（线上+线下）为目标群体提供包括“内容”、“社交”、“法律”及健康服务。同爱的主要获利方式由组织社交活动门票及周边产品受益、法律及周边产品（形婚介绍）受益、政府购买服务受益等组成。同爱网络的最终目标是成为中国最知名的同志企业。
                                </p>
                            </div>
                            <div class="clear"> </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(3).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    </script>
</body>
</html>
