<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">

            <div><img src="../images/top.jpg"></div>
            <div class="newsList" style="margin-bottom:20px;">
                    <h1>创业团队正在招募中</h1>
                    <p class="tag">2016-08-30</p>
                    <div class="desc">
                        <p>
                        <a href="news01.html">
                            <img src="../Upload/enterprise/enterprise01.jpg" alt="" style="margin:0 auto;">
                        </a>
                            
                        </p>
                    </div>
                </div>
            </div>
</section>     
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    <script type="text/javascript">
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(2).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    })
        
    </script>
</body>
</html>
