<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
<section id="main">
    <div id="container">
        <div class="container">
            <div>
                <img src="../images/top.jpg" alt="">
            </div>
            <div class="padding">
                <div class="row-fluid">

                    <div class="span100 contents">
                        <ul>
                            <li style="height: 14px;">
                                <a href="#Q1">南京微软云暨移动应用孵化平台是什么？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q2">南京微软云暨移动应用孵化平台提供什么？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q3">我是否必须使用微软工具进行开发？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q4">南京微软云暨移动应用孵化平台在寻找什么样的创业公司？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q5">平台是否会要求入选创业公司的股份？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q6">在南京微软云暨移动应用孵化平台期间开发的知识产权会为平台所有吗？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q7">我的公司或创始人不在南京，可以申请加入吗？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q8">这一期项目结束后会怎样？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q9">我在项目期间和之后如何获得投资？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q10">如果我的公司缺乏基于Windows Azure解决方案开发的经验怎么办呢？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q11">我想了解有关Windows Azure的更多信息，可以从哪里获得？</a>
                            </li> 
                            <li style="height: 14px;">
                                <a href="#Q12">我会怎么样度过一天的工作时间？</a>
                            </li> 
                            <li style="height: 14px;">
                                <a href="#Q13">如果我的公司最后没有成功怎么办？</a>
                            </li> 
                            <li style="height: 14px;">
                                <a href="#Q14">南京微软云暨移动应用孵化平台如何选择入驻公司？</a>
                            </li> 
                            <li style="height: 14px;">
                                <a href="#Q15">我需要提交一份商业计划吗？</a>
                            </li> 
                            <li style="height: 14px;">
                                <a href="#Q16">有其他问题没能得到解答？</a>
                            </li> 
                        </ul>

                        <br>
                        <h2>
                            <a id="Q1">南京微软云暨移动应用孵化平台是什么？</a>
                        </h2>
                        <p>南京微软云暨移动应用孵化平台由南京经济技术开发区管委会与微软（中国）有限公司合作共建，南京小鹿创萌科技孵化器运营管理有限公司负责运营。我们致力于做“最专业的创业服务”，为入驻的创业团队提供技术指导服务、创业指导服务、市场指导服务、产业指导服务、商业模式指导服务、股权与投融资指导服务等多方位服务。入选的创业团队将获得我们提供的12个月的办公空间，并得到由思想领袖、行业专家及技术专家组成的导师团的扶植与指导。同时，入选团队还将得到价值1000万人民币的微软云服务等多种资源。创业团队一旦入选，所有资源均为免费提供，并有机会获得为期三个月的美国硅谷知名孵化器Y Combinator、Plug&play、StartX的免费交流与培训机会。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>
                         <br>
                        <br>
                        
                        <h2>
                            <a id="Q2">南京微软云暨移动应用孵化平台提供什么？</a>
                        </h2>
                        <p>南京微软云暨移动应用孵化平台免费提供：<br>
                            1、12个月舒适的办公空间<br>
                            2、价值1000万人民币的微软云平台服务、微软软件和开发工具 <br>
                            3、由思想领袖，行业专家及技术专家组成的导师团的创业指导<br>
                            4、相关技术与创业培训 <br>
                            5、 多元化基础服务（如：政策咨询与申报、企业注册、知识产权与法律、财税、人力资源服务等）<br>
                            6、广泛支持开源技术<br>
                            7、丰富的资源服务（如：技术指导服务、创业指导服务、市场指导服务、产业指导服务、商业模式指导服务、股权与投融资指导服务等 ） <br>
                            8、在每一期结束之际，我们还会组织一个成果展示日活动，并邀请风险投资企业专家前来了解您的产品和倾听您的讲解。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q3">我是否必须使用微软工具进行开发？</a>
                        </h2>
                        <p>
                            不必。我们对初创企业的开发所使用的技术是开放的。无论他们是使用微软或非微软技术，还是使用各种开放源代码平台和开发语言，作为南京微软云暨移动应用孵化平台的入孵企业，他们都将获得Windows Azure云平台资源的免费访问权。
                        </p>
                        <p>
                             Windows Azure是一个开放而灵活的云平台，通过该平台，您可以在Microsoft管理的数据中心的全球网络中快速生成、部署和管理应用程序。您可以使用任何语言、工具或框架生成应用程序。您可以将公有云应用程序与环境集成。无论您使用Windows或Linux操作系统，.NET或Java、PHP、Python、Node.js进行开发，都可以利用Windows Azure云平台助力您的业务发展，我们欢迎您申请加入南京微软云暨移动应用孵化平台。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q4">南京微软云暨移动应用孵化平台在寻找什么样的创业公司？</a>
                        </h2>
                        <p>
                           我们在寻找云计算、大数据、移动物联、移动互联、智能装备和人工智能等新兴产业的创新型企业，这并不意味着您必须现在就使用云计算。我们非常乐意帮助您开始免费使用Windows Azure云平台 。我们并不是在特定领域中寻找拥有特定技术的公司，而是在寻找对于所做的事业拥有宽广视野和热情的杰出团队。南京微软云暨移动应用孵化平台致力于帮助早期创业公司在云计算、大数据、物联网及人工智能等领域成就非凡的创新。无论您是想要建立产品原型或打造产品，抑或将产品转变成实际业务，南京微软云暨移动应用孵化平台都在这里等您。
                        </p>
                        <p>
                           我们欢迎云物大智领域的创新企业，诸如：<br> 
                             •  云计算产业 <br> 
                             •  大数据产业 <br> 
                             •  移动物联产业<br> 
                             •  移动互联产业<br> 
                             •  智能装备产业<br> 
                             •  人工智能产业<br> 


                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>


                        <h2>
                            <a id="Q5">平台是否会要求入选创业公司的股份？</a>
                        </h2>
                        <p>
                           不会。南京微软云暨移动应用孵化平台旨在打造完善的创业生态系统，鼓励更多的创业者通过平台进行技术开发及实现创新。我们为企业提供多方位的创业支持资源，以帮助创业者实现梦想。因此，平台将不会要求入选公司的股份。我们会帮助创业公司与我们合作的投资机构进行对接，以帮助创业企业的融资过程。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
    
                        <h2>
                            <a id="Q6">在南京微软云暨移动应用孵化平台期间开发的知识产权会为平台所有吗？</a>
                        </h2>
                        <p>
                           不，平台并不持有在此项目期间开发的知识产权，此项权利归开发公司所有。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q7">我的公司或创始人不在南京，可以申请加入吗？</a>
                        </h2>
                        <p>
                           当然可以。欢迎全球创新型初创公司或创始人申请加入。当您被选入后，在项目期间须搬入南京微软云暨移动应用孵化平台场地内办公。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q8">这一期项目结束后会怎样？</a>
                        </h2>
                        <p>
                           南京微软云暨移动应用孵化平台的目的在于为创业企业最大限度地提供发展动力及融资机会。项目结束后，我们将组织媒体、天使投资和风险投资方面的相关人员参加孵化平台组织的项目进展展示日，您将在会上展示您的产品和成果，并与相关投资机构对接。同时您也会加入南京微软云暨移动应用孵化平台校友交流社区，得到微软孵化平台项目的后续服务。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q9">我在项目期间和之后如何获得投资？</a>
                        </h2>
                        <p>
                           如果您入选，在12个月后项目即将结束的时候，我们将组织一个成果展示日活动，微软的领导层，天使投资人，机构投资人和行业专家将获邀参加，观看您的产品演示及聆听您的商业计划。在项目过程中，我们也将邀请我们的合作伙伴投资机构前来与您沟通，我们的导师们也会在投融资方面根据您的需要对您进行辅导。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q10">如果我的公司缺乏基于Windows Azure解决方案开发的经验怎么办呢？</a>
                        </h2>
                        <p>
                           微软将提供Windows Azure开发的技术培训和指导。但是南京微软云暨移动应用孵化平台的每个成员企业需要能够构建自己的解决方案。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q11">我想了解有关Windows Azure的更多信息，可以从哪里获得？</a>
                        </h2>
                        <p>您可以通过Windows Azure的官方网站<a  target="_black" href="http://www.windowsazure.com">http://www.windowsazure.com</a>获取更多的产品及技术信息。Windows Azure培训工具包能够帮助您快速学习如何使用Windows Azure，您可以在这里下载：<a target="_black" href="http://www.microsoft.com/downloads/details.aspx?FamilyID=413E88F8-5966-4A83-B309-53B7B77EDF78">http://www.microsoft.com/downloads/details.aspx?FamilyID=413E88F8-5966-4A83-B309-53B7B77EDF78</a>。
                      
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q12">我会怎么样度过一天的工作时间？</a>
                        </h2>
                        <p>
                          您将会花这一天来努力工作，开发产品和建设公司。我们不会告诉您需要做什么或什么时候需要做，而是提供工具和环境来帮助您做需要做的事情。 <br>
                        我们会定期组织导师或其他科技产业领域专家的研讨会。创业团队也会彼此分享实践，互相帮助。  <br>
                        我们也鼓励大家积极发起社交活动，志愿活动等。同时会定期开展项目内创业者的联谊娱乐活动。 <br>
 
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q13">如果我的公司最后没有成功怎么办？</a>
                        </h2>
                        <p>
                           至少您尝试了。因为不是所有人都可以入选南京微软云暨移动应用孵化平台，您必须有令人印象深刻的履历、实践最好的想法——好过您花这些时间做任何别的事情。您会遇到非常多聪明又成熟的人可以尽可能地帮助您实现接下来您想做的事情，希望那是另一家创业公司。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q14">南京微软云暨移动应用孵化平台如何选择入驻公司？</a>
                        </h2>
                        <p>
                           我们将选择杰出的创始人及团队，他们的产品致力于解决实际问题或是影响深远的创新。对于我们来说，这是首要条件。加强您的申请力度的最佳方式是在申请表中尽量多的帮助我们了解您的想法，愿景和实现计划，如：<br> 
                             •  如何在商业、技术或其他必须技能方面完善您的团队及产品； <br> 
                             •  提及您在原型或产品方面取得的进展； <br> 
                             •  向我们展示您已经深思熟虑过您的商业模式并对此作出解释。<br> 

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q15">我需要提交一份商业计划吗？</a>
                        </h2>
                        <p>
                           
                            是的，但前期您只需完整填写<a href="content.html">申请表</a>提交就可以。后期我们会有相关工作人员与您接洽并告知您需要提供的材料，包括您的商业计划。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>
                        <h2>
                            <a id="Q16">有其他问题没能得到解答？</a>
                        </h2>
                        <p>
                           联系我们：admin@njmsincubator.com

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function(){
       $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(4).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    });

    </script>
</body>
</html>