<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
<section id="main">
    <div id="container">
        <div class="container">
            <div>
                <img src="../images/top.jpg" alt="">
            </div>
            <div class="padding">
                <div class="row-fluid">

                    <div class="span100 contents">
                        <ul>
                            <li style="height: 14px;">
                                <a href="#Q1-2">软件孵化基地提供什么？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q2">软件孵化基地可以提供哪些技术支持</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q3">软件孵化基地在寻找什么样的创业公司？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q4">软件孵化基地是否会要求入选创业公司的股份？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q6">首期项目结束后会怎样？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q7">我在项目期间和之后如何获得投资？</a>
                            </li>
                            <li style="height: 14px;">
                                <a href="#Q10">我想了解有关Windows Azure的更多信息，可以从哪里获得？</a>
                            </li>
                  
                        
                        </ul>

                        <br>

                        <h2>
                            <a id="Q1-2">软件孵化基地提供什么？</a>
                        </h2>
                        <p>
                            1、免费提供6个月孵化期，免费使用办公场地<br>
                            2、软件孵化基地每年提供30万元微软产品使用权<br>
                            3、长沙高新区柳枝计划不超过20万的扶持性项目资金<br>
                            4、由思想领袖，行业专家及技术专家组成的导师团的指导<br>
                            5、邀请投资机构、导师大佬，采取驻场创业问诊制度<br>
                            6、相关技术与创业管理培训<br>
                            7、 广泛资源利用（如：招聘帮助、产品用户体验设计帮助、公关辅助，投资对接等）<br>
                            8、在每一期结束之际，还会组织一个成果展示活动，并邀请风险投资企业专家前来了解你的产品和倾听你的讲解。

                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q2">软件孵化基地可以提供哪些技术支持</a>
                        </h2>
                        <p>
                            每个团队入驻即可免费获得包含5万元的微软资源包。
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;1、Azure公有云服务
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;2、Visual Studio Premium w/MSDN
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;3、Office 365 Plan E3
                           
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q3">软件孵化基地在寻找什么样的创业公司？</a>
                        </h2>
                        <p>
                            寻找初创的技术导向，并依托或需要技术支持的创业公司。我们非常乐意帮助你开始免费使用Windows Azure云平台 。软件孵化基地致力于帮助早期创业公司在云、互联网、游戏产业等领域成就非凡的创新。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q4">软件孵化基地是否会要求入选创业公司的股份？</a>
                        </h2>
                        <p>
                            不会。旨在深入长沙高新区的创业生态链，鼓励更多的创业者使用微软云计算平台进行技术开发及实现创新；同时为企业提供多方位的技术支持资源，以帮助创业者实现梦想。因此，我们将不会要求入选公司的股份。我们会帮助创业公司与我们合作的投资机构进行对接，以帮助创业企业的融资过程。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q6">首期项目结束后会怎样？</a>
                        </h2>
                        <p>
                            软件孵化基地的目的在于最大限度提供推动业务发展等级和得到所需资金的机会。项目结束后，我们将组织面向媒体、天使投资和风险投资方面的相关人员参加软件孵化基地组织的项目对接会，您将在会上展示您的产品和讲演的成果展示日，并与相关投资资源对接。在入孵六个月期限届满时，为团队举行盛大的毕业日活动。毕业后软件孵化基地仍然会利用圈内资源帮助创业公司渡过最开始最脆弱的时期。 
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>

                        <h2>
                            <a id="Q7">我在项目期间和之后如何获得投资？</a>
                        </h2>
                        <p>
                            如果您入选，在入孵三个月时，组织合作伙伴参观学习微软总部，并组织大范围投融资对接会；天使投资人，机构投资人和行业专家将获邀参加，观看您的产品演示及聆听您的商业计划。软件孵化基地启动导师、VC驻场制度，导师团队覆盖战略、产品、技术、运营及媒体等方面，根据您的需要对您进行辅导。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                        <br>


                        <h2>
                            <a id="Q10">我想了解有关Windows Azure的更多信息，可以从哪里获得？</a>
                        </h2>
                        <p>
                            您可以通过Windows Azure的官方网站:<a href="http://www.windowsazure.cn">http://www.windowsazure.cn</a> 获取更多的产品及技术信息。Windows Azure培训工具包能够帮助您快速学习如何使用。
                        </p>
                        <div style="text-align: right;"><a href="#top">返回顶部</a></div>

                        <br>
                       

                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
       $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(4).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    </script>
</body>
</html>