
<div id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <ul>
                    <li class="first">动  态</li>
                    <li>
                    <a href="news.html">动  态</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="first">导师</li>
                    <li>
                        <a href="mentor.html">微软技术专家</a>
                    </li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li class="first">项目介绍</li>
                    <li><a href="recruitment.html">南京微软孵化平台</a></li>
                    <li><a href="content.html">创业团队招募</a></li>
                    <li><a href="faq.html">常见问题解答</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="first">关于我们</li>
                    <li><a href="aboutUs.html">平台简介</a></li>
                    <li><a href="aboutUs-team.html">管理团队</a></li>
                    <li><a href="aboutUs-contactus.html">联系我们</a></li>
                    <!-- <li><a href="map.html">全国孵化器</a></li> -->
                </ul>
            </div>
            <div class="span4">
                <h3 style="font-size:14px;font-weight: bold;margin-bottom: 15px;
					margin-top: 25px;color:#999;">关注微信公众号</h3>
                <img src="../images/wm.jpg" style="width:91px;">
            </div>
        </div>
        <div class="footer" role="contentinfo" style="margin-top:0;">

        </div>
    </div>
</div>
<!--  <div style="text-align:center">
       <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1256720367'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1256720367%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
   </div> -->
  