
<div id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <ul>
                    <li class="first">动  态</li>
                    <li>
                    <a href="news.html">动  态</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="first">导师</li>
                    <li>
                        <a href="mentor.html">微软技术专家</a>
                    </li>
                    <li>
                        <a href="mentor.html">行业先驱者</a>
                    </li>
                </ul>
            </div>

            <div class="span2">
                <ul>
                    <li class="first">申请入驻</li>
                    <li><a href="recruitment.html">南京微软孵化平台</a></li>
                    <li><a href="content.html">创业团队招募</a></li>
                    <li><a href="faq.html">常见问题解答</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="first">关于我们</li>
                    <li><a href="aboutUs.html">平台简介</a></li>
                    <li><a href="aboutUs-company.html">运营公司</a></li>
                    <li><a href="aboutUs-team.html">管理团队</a></li>
                    <li><a href="aboutUs-contactUs.html">联系我们</a></li>
                </ul>
            </div>
            <div class="span4">
                <h3 style="font-size:12px;margin-bottom: 5px;line-height:20px;text-align:center;
					margin-top: 25px;color:#888;">微软(中国)授权运营管理单位</h3>
                <span style="margin:0 auto;display:block;width:80px;"><img src="../images/company_logo.png" style="width:80px;"></span>
                <h3 style="font-size:12px;color:#888;margin-top:5px;text-align:center;line-height:16px;">
                    南京小鹿创萌科技孵化器<br>运营管理有限公司        
                </h3>
            </div>
        </div>
        <div class="footer" role="contentinfo" style="margin-top:0;">
            
        </div>
    </div>
</div>
<div class="fiexd-tool">
    <div class="erwm_ico"></div>
    <a class="backTop" href="#header"></a>
    <div class="erwm">
        <img src="../images/wx.jpg" alt="">
        <span class="text">关注微信公众号</span>
    </div>
</div>
<!--  <div style="text-align:center">
       <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1256720367'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1256720367%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
   </div> -->