
<nav style="clear:both;">
    <div id="header" class="navbar">
        <div class="container ">
            <a class="logo" href="index.html"> <img src="../images/mva_logo.png" alt="微软创投"> </a>
            <div id="logindisplay" style="float:right;"> </div>
            <div class="nav-collapse pull-right">
                <ul id="menu-primary" class="nav">
                    <li><a href="news.html"><span >动  态</span></a></li>
                    <li><a href="mentor.html"><span >导  师</span></a></li>
                    <li>
                        <a href="enterPrise-1.html"><span >创业团队</span></a>
                       <!--  <ul>
                            <li><a href="enterPrise-1.html">一期团队</a></li>
                            <li><a href="enterPrise-2.html">二期团队</a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="cooperate.html"><span>合作伙伴</span></a>
                    </li>
                    <li>
                        <a href="recruitment.html"><span>申请入驻</span></a>
                        <ul>
                            <li><a href="recruitment.html">南京微软孵化平台</a></li>
                            <li><a href="content.html">创业团队招募</a></li>
                            <li><a href="faq.html">常见问题解答</a></li>
                        </ul>
                    </li>
                    <li><a href="aboutUs.html"><span > 关于我们</span></a> </li>
                    
                </ul>
            </div>
        </div>
    </div>
</nav>
