<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css"> 
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
    <header></header>
    <section id="main">
        <div id="container">
            <div class="container">
                <div style="overflow: hidden; position: relative; height: 300px; ">
                    <div id="carousel" class="carousel js" tabindex="0">
                        
                        <div class="carousel-wrap" style="overflow: hidden; position: relative; height: 300px;">
                            <ul class="slides">
                                <li style="height: 300px;"><a target="_blank" href="content.html"> <img src="../images/slider1.jpg" alt="" width="980"></a></li>
                                <li style="height: 300px;"><a target="_blank" href="news02.html"> <img src="../images/slider2.jpg" alt="" width="980"></a></li>
                                <li style="height: 300px;"><a target="_blank" href="content.html"> <img src="../images/slider3.jpg" alt="" width="980"></a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="content">
                    <div class="sidebar pull-right">
                        <div class="panel events pull-right">
                            <h2 class="yellow heading">了解更多</h2>
                            <div id="homeActivityPanel">
                                <div class="home-activity">
                                    <video poster="../images/indexvideo.jpg" controls="controls">
                                        <source src="../Upload/video.mp4" type="video/mp4">
                                       Video player not aviailable. 
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="panel pull-right">
                            <h2 class="blue heading" style="height: 20px; width: 190px;">南京微软云孵化器剪影</h2>
                            <div class="flexslider" id="micCloude">
                                <ul class="slides">
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-1.jpg"><img src="../images/office/office-pic-1.jpg" alt="南京微软云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-2.jpg"><img src="../images/office/office-pic-2.jpg" alt="南京微软云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-3.jpg"><img src="../images/office/office-pic-3.jpg" alt="南京微软云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-4.jpg"><img src="../images/office/office-pic-4.jpg" alt="南京微软云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-5.jpg"><img src="../images/office/office-pic-5.jpg" alt="南京微软云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-6.jpg"><img src="../images/office/office-pic-6.jpg" alt="南京微软云孵化器剪影"></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="news pull-left" style="height: 411px;">
                        <h2 class="green heading"><a class="green" href="news.html">动  态</a></h2>
                        <div id="homeNewsPanel">
                            <div id="primaryNews">
                                
                            </div>
                            <ul id="otherNewsList">
                                
                                
                            </ul>
                            <div class="clear"></div>
                            <a class="readMore" href="news.html">更多新闻</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                //$("#menu-primary > li").eq(0).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    });

        
    </script>
    
    <!-- Add fancyBox -->
    <link rel="stylesheet" type="text/css" href="..//js/lib/fancybox/jquery.fancybox.css"  media="screen">
    <script type="text/javascript" src="../js/lib/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="..//js/lib/flexslider/flexslider.css"  media="screen">
    <script type="text/javascript" src="../js/lib/flexslider/jquery.flexslider-min.js"></script>
    
    

    <script type="text/javascript" language="javascript">

    $(function () {
        var $container = $(".container");
        if (!$container.css("box-shadow")) {
            $container.addClass("container_boxShadow");
        }

        $.ajax({
            url:"news.json",
            type:"get", // post  
            data:'',
            dataType:"json",
            success:function(result){
                initNewsList(result.data);
                
            },
            error:function(){

            }
        });


    });    
    function initNewsList(data){
        var str = "";
        for (var i = 0; i < data.length; i++) {
            switch(i){
                case 0: 
                   str = "<h3> <span class=\"primary-news-title\"><a href=\""+data[i]["url"]+"\">"+data[i]["title"]+"</a></span> </h3>";
                    str +="<p class=\"desc pull-right colorgray\">"+data[i]["desc"];
                    str +="<br>";
                    str +="<a class=\"readMore\" href=\""+data[i]["url"]+"\">阅读更多</a>";
                    str +="</p>";
                    str +="<div class=\"thumb\"> <a href=\""+data[i]["url"]+"\"> <img alt=\""+data[i]["title"]+"\" src=\""+data[i]["imgUrl"]+"\"> </a> </div>";
                    $("#primaryNews").html(str);
                break;
                case 1: 
                case 2: 
                str = "<li> <span class=\"pull-right news-publish-date colorgray\"> "+data[i]["date"]+"</span>";
                str +=" <a href=\" "+data[i]["url"]+" \"> <span> "+i+"</span> "+data[i]["title"]+"</a>"; 
                str +="</li>";
                $("#otherNewsList").append(str);               
                break;
            }
        }
        

    }

    $(window).load(function () {
        //云剪影
        $('#micCloude').flexslider({
            animation: "slide",
            directionNav: true,
            controlNav: true,
            itemWidth: 214,
            maxItems: 1,
            slideshow: true
        });
        //三个slider
        $('.carousel-wrap').flexslider({
            animation: "slide",
            directionNav: false,
            controlNav: true,
            itemWidth: 980,
            slideshow: true,
            animationLoop: true,
            manualControlEvent:"hover",
            slideshowSpeed: 5000, 
            animationSpeed: 600

        });

        $(".fancybox").fancybox({
            prevEffect: 'none',
            nextEffect: 'none'
        });
    });
    </script>    

</body>
</html>