<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
</head>
<body>
    <header></header>
    <section id="main">
        <div id="container">
            <div class="container">
                <div style="overflow: hidden; position: relative; height: 300px; ">
                    <div id="carousel" class="carousel js" tabindex="0">
                        
                        <div class="carousel-wrap" style="overflow: hidden; position: relative; height: 300px;">
                            <ul class="slides">
                                <li style="height: 300px;"><a target="_blank" href="content.html"> <img src="../images/slider1.jpg" alt="" width="980"></a></li>
                                <li style="height: 300px;"><a target="_blank" href="content.html"> <img src="../images/slider2.jpg" alt="" width="980"></a></li>
                                <li style="height: 300px;"><a target="_blank" href="content.html"> <img src="../images/slider3.jpg" alt="" width="980"></a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="content">
                    <div class="sidebar pull-right">
                        <div class="panel events pull-right">
                            <h2 class="yellow heading">了解更多</h2>
                            <div id="homeActivityPanel">
                                <div class="home-activity">
                                    <a href="content.html"><img src="../images/tdzm.png"> </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel pull-right">
                            <h2 class="blue heading" style="height: 20px; width: 190px;">南京云孵化器剪影</h2>
                            <div class="flexslider">
                                <ul class="slides">
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-1.jpg"><img src="../images/office/office-pic-1.jpg" alt="南京云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-2.jpg"><img src="../images/office/office-pic-2.jpg" alt="南京云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-3.jpg"><img src="../images/office/office-pic-3.jpg" alt="南京云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-4.jpg"><img src="../images/office/office-pic-4.jpg" alt="南京云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-5.jpg"><img src="../images/office/office-pic-5.jpg" alt="南京云孵化器剪影"></a></li>
                                    <li><a class="fancybox" rel="group" href="../images/office/office-pic-big-6.jpg"><img src="../images/office/office-pic-6.jpg" alt="南京云孵化器剪影"></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="news pull-left" style="height: 411px;">
                        <h2 class="green heading"><a class="green" href="/Home/News">动  态</a></h2>
                        <div id="homeNewsPanel">
                            <div id="primaryNews">
                                <h3> <span class="primary-news-title"><a href="news01.html">南京云孵化器第二期21大项目进驻 各行业新态层出不穷</a></span> </h3>
                                <p class="desc pull-right">
                                    3场路演
                                    100多个项目
                                    21支团队脱颖而出
                                    将用6个月的孵化时间
                                    创造精彩 <br>
                                    <a class="readMore" href="news01.html">阅读更多</a>
                                </p>
                                <div class="thumb"> <a id="primaryNewsImgLink" href="news01.html"> <img alt="长沙云孵化器第二期21大项目进驻 各行业新态层出不穷" src="../Upload/20160811145048_7196.jpg"> </a> </div>
                            </div>
                            <ul id="otherNewsList">
                                <li> <span class="pull-right news-publish-date"> 2016-06-13 </span> <a href="news02.html"> <span>1</span>【既然决定出发，便不管风雨兼程】</a> </li>
                                <li> <span class="pull-right news-publish-date"> 2016-06-13 </span> <a href="news03.html"> <span>2</span>微软双创潜能激发研讨会——【动感瞬间】</a> </li>
                            </ul>
                            <div class="clear"></div>
                            <a class="readMore" href="news.html">更多新闻</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(0).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
        
    </script>
    
    <script type="text/javascript" src="../js/lib/allmobilize.min.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" type="text/css" href="..//js/lib/fancybox/jquery.fancybox.css"  media="screen">
    <script type="text/javascript" src="../js/lib/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="..//js/lib/flexslider/flexslider.css"  media="screen">
    <script type="text/javascript" src="../js/lib/flexslider/jquery.flexslider-min.js"></script>
    
    

    <script type="text/javascript" language="javascript">

    $(function () {
        var $container = $(".container");
        if (!$container.css("box-shadow")) {
            $container.addClass("container_boxShadow");
        }

    });    
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            directionNav: true,
            controlNav: false,
            itemWidth: 214,
            maxItems: 1,
            slideshow: false
        });
        $('.carousel-wrap').flexslider({
            animation: "slide",
            directionNav: false,
            controlNav: true,
            itemWidth: 980,
            slideshow: true,
            animationLoop: true,
            manualControlEvent:"hover",
            slideshowSpeed: 5000, 
            animationSpeed: 600

        });

        $(".fancybox").fancybox({
            prevEffect: 'none',
            nextEffect: 'none'
        });
    });
    </script>    
</body>
</html>