<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-导师</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <!--[if IE 8]>
    <style type="text/css">
        #container .mentors li a{position:absolute;width:120px;height:120px;display:inline-block;}
        #container .mentors li a:hover{position:absolute;z-index:999;left:-79.5px;top:-40px;width:200px;height:200px;}
    </style>
    <![endif]-->
<body>
    <header></header>
    <section id="main">
        <div id="container">
        <div class="container">

            <div>
                <img src="../images/top.jpg" alt="">
            </div>
            <div class="padding">
                <div class="contents">
                    <h1 id="index2">
                        行业思想领袖，杰出创业者，特定领域专家
                    </h1>
                    <p>
                        丰富的创业和行业经验，助您成就梦想。
                    </p>
                    <ul class="mentors">
                        <li>
                            <a data-content="元禾原点执行合伙人、元禾控股创始人之一。中新苏州工业园区创业投资有限公司（苏州元禾控股有限公司前身）的创始人之一，出任多个高级管理职位，包括财务总监、主管投资副总裁、常务副总裁以及中新创投总经理等，在此期间兼任华亿基金（infinity I-China funds）联合主席。此前担任中国建设银行和上海浦东发展银行苏州工业园区分行的副行、行长。从事创业投资行业多年，主导投资并担任公司董事的项目如：神州信息（000555.SZ）、晶方科技（603005.SH）、创达特、盛科、北人机器人、凯瑞生化、全值药房等
                        " rel="popover" href="javascript:void(0);" data-original-title="费建江">
                                <img src="../images/mentor/fj200.jpg" alt="费建江">
                            </a>
                        </li>
                        <li>
                            <a data-content="王利杰，睿鉴创投投资总监，中国最勤奋的天使投资人之一，创立并拥有天使投资品牌“PreAngel”，管理多支创投基金，“宁波镭厉1.5亿”、“上海镭厉3千万”、“鉴睿资本4千万”、“晖翌资本1千万”“PreAngel LLC 700万美金直投美国”，主要专注移动互联网早期投资。王利杰重点投资移动互联网创新业务及核心新科技给传统行业带来的产业升级和转型机会，包括：云计算、移动健康、社会化电商、一切有关P2P的项目还有可穿戴智能发烧硬件产品等，从2011年开始，已经累计投资了180多家初创企业。" rel="popover" href="javascript:void(0);" data-original-title="王利杰">
                                <img src="../images/mentor/wlj.jpg" alt="王利杰">
                            </a>
                        </li>
                        <li>
                            <a data-content="Virginia Liu拥有北卡罗来纳大学MBA学位和中山大学经济学学士学位。现任微软总部Windows应用商店合作伙伴部市场总监，负责全球开发者以及创新应用的扶持发展计划。曾任微软与诺基亚合作的AppCampus创新应用奖励基金董事会成员。此前曾任微软全球战略合作伙伴部高级经理，以及公共事业部亚太区总监。" rel="popover" href="javascript:void(0);" data-original-title="Virginia Liu">
                                <img src="../images/mentor/v.jpg" alt="Virginia Liu">
                            </a>
                        </li>


                        <li>
                            <a data-content="常青 Elaine Chang, 微软美国总部资深项目经理，微软亚裔员工总会主席，微软华人协会前副主席。拥有在微软美国总部十几年丰富的软件设计，研发及项目管理经验。《云计算360度:微软专家纵论产业变革》一书的执行主编。她曾在VLDB，WWW等国际顶尖会议和期刊上发表论文，并拥有数项与网络数据挖掘，用户行为分析及预测相关的专利。她曾多次获得微软杰出员工和优秀项目经理奖，并策划和组织了多项影响重大的中美科技文化交流活动。" rel="popover" href="javascript:void(0);" data-original-title="Elaine Chang">
                                <img src="../images/mentor/cq.jpg" alt="Elaine Chang">
                            </a>
                        </li>

                        <li>
                            <a data-content="王军拥有MBA和通讯工程学士学历。2011年与团队创建了全球首个移动应用自动化真机云测试平台Testin云测，是迄今为止全球最大的移动应用、游戏云测试服务平台，为移动应用、游戏开发者提供必需的移动App质量保证，目前已经持续服务超过40万开发者，为超过95万个App进行了超过1亿次的测试，与ARM、Intel、Google、IBM、微软、阿里、百度、腾讯、360以及全球众多的移动互联网生态企业建立了良好的合作与沟通关系。" rel="popover" href="javascript:void(0);" data-original-title="王军">
                                <img src="../images/mentor/wj.jpg" alt="王军">
                            </a>
                        </li>

                        <li>
                            <a data-content="姜明达，苏州工业园区元禾原点创业投资管理有限公司合伙人
元禾原点是苏州元禾控股有限公司的成员企业，是元禾控股专业化的早期股权投资平台。
                               元禾原点投资策略：
投资阶段：初创期创新型企业及成长期高科技企业
投资行业：重点投资信息技术、生命健康等新兴产业
投资区域：全国各地科技创新相对集中地区
投后管理：依托团队成员多年的积累和元禾控股整体的资源网络，为被投资企业提供市场、管理、运营等全方位的增值服务
" rel="popover" href="javascript:void(0);" data-original-title="姜明达">
                                <img src="../images/mentor/jmd.jpg" alt="姜明达">
                            </a>
                        </li>
                        <li>
                            <a data-content="许泽玮，91金融创始人、CEO。他是中国电子学会第三届云计算专家委员会委员，中国计算机学会大数据专家委员会委员，也是厦门银行独立董事，北京市延庆政协委员，中国证券投资基金业协会首届互联网金融专业委员会委员，中国期货业协会理事会互联网金融专业委员会顾问。作为互联网金融领域的探索者与践行者，许泽玮先生凭借其突出贡献先后当选2015年中关村高端领军人才、第二十九届“北京青年五四奖章”获得者、北京青年创业导师，并荣获“中国互联网金融十大创新人物”、“2014年度中国互联网金融年度人物”、“中国青年创业先锋” 、“2015年首都市民学习之星”等荣誉称号。" rel="popover" href="javascript:void(0);" data-original-title="许泽玮">
                                <img src="../images/mentor/xzw.jpg" alt="许泽玮">
                            </a>
                        </li>
                        <li>
                            <a data-content="费俊，现任中央美术学院设计学院数码媒体工作室主任及副教授，交互北京发起人，某集体首席创意总监。他的艺术和设计作品多次展出于国内外画廊、博物馆和艺术节，并荣获了德国IF设计奖、红点设计奖等荣誉。他以艺术家、设计师和教育者的多重身份致力于交互媒体艺术与设计研究，实践涉足数字艺术、交互艺术、体验设计、交互设计、数字出版、智能汽车、界面设计和其它未知领域。作为交互北京的发起人，他还致力于倡导设计驱动的社会创新，推动用设计来深度介入社会和环境问题。" rel="popover" href="javascript:void(0);" data-original-title="费俊">
                                <img src="../images/mentor/fj.jpg" alt="费俊">
                            </a>
                        </li>

                        <li>
                            <a data-content="吴文雄，拥有中国人民大学金融学硕士学位，青年企业家、互联网经济创业者和观察者，91金融联合创始人，负责91金融战略规划，众筹业务，品牌与市场，媒体业务及外部合作等事宜。北京航空航天大学软件学院客座教授，中国互联网金融品牌联盟发起人之一。自2011年开始，他与91金融创始人、CEO许泽玮共同开创91金融事业。吴文雄先生还活跃于中国的创新创业及互联网金融领域，在多所高校及国内外重要论坛担任主讲嘉宾，为行业的进步与发展，建言献策。吴文雄先生著作中国互联网金融历史上第一部全景史书《蔓延式创新》，这本畅销书完整记录了人类金融生活史上最伟大的一次迁徙。" rel="popover" href="javascript:void(0);" data-original-title="吴文雄">
                                <img src="../images/mentor/wwx.jpg" alt="吴文雄">
                            </a>
                        </li>

                        <li>
                            <a data-content="边洪爱，苏州工业园区元禾原点创业投资管理有限公司投资总监。
元禾原点是苏州元禾控股有限公司的成员企业，是元禾控股专业化的早期股权投资平台。作为元禾控股旗下早期项目管理团队，元禾原点的管理团队共决策投资100多个早期项目。多年的投资和管理经验，元禾原点形成了清晰的投资策略和经营模式，沉淀了丰富的产业资源，同时得到国家政府的大力支持。元禾原点传承和发扬了早期股权投资的精神，顺应了市场化，规范化，和国际化的运作方式，更好实现投资者的权益，循序渐进推动行业的健康发展。
" rel="popover" href="javascript:void(0);" data-original-title="边洪爱">
                                <img src="../images/mentor/bha.jpg" alt="边洪爱">
                            </a>
                        </li>



                        <li>
                            <a data-content="周洲，易宝集团副总裁、创悟邦总经理， 易宝支付创始团队成员。曾就职于建设银行、中国移动从事公司业务、移动金融市场新业务研究；先后服务于美的、奇瑞、海螺等大型企业集团；策划、运营,互联网大篷车,大型全国巡游演讲公益活动以推动产业互联网化，主导创新“普惠服务+投后孵化”新型孵化模式。" rel="popover" href="javascript:void(0);" data-original-title="周洲">
                                <img src="../images/mentor/zz.jpg" alt="周洲">
                            </a>
                        </li>
                        <li>
                            <a data-content="海豚浏览器创始人兼CEO。毕业于华中科技大学；2006年加入微软亚洲工程院， 2010年从微软辞职创立百纳信息技术有限公司；2012年被《第一财经》评为“中国商业创新50人——技术创新者”。百纳信息核心产品海豚浏览器是安卓平台最受欢迎的浏览器之一，风靡欧美市场。2011年公司获得顶级风投机构红杉资本投资，后陆续获得高通资本和搜狐畅游总计1.5亿美金融资。杨永智还与360前CTO陆剑峰、出门问问CEO李志飞等人，联合创建了国内第一支专注于机器人领域的投资公司——瓦力资本。红杉资本、经纬创投、源码资本等均为瓦力资本的投资人。" rel="popover" href="javascript:void(0);" data-original-title="杨永智">
                                <img src="../images/mentor/yyz_200.jpg" alt="杨永智">
                            </a>
                        </li>
                        <li>
                            <a data-content="前服务于万科地产市场研究部门，后转行互联网行业，现任图灵机器人副总裁，负责图灵机器人市场及品牌传播工作。图灵机器人是中文语境下智能度最高的机器人大脑，为超过100000+的企业和开发者服务提供智能问答引擎。" rel="popover" href="javascript:void(0);" data-original-title="王向一">
                                <img src="../images/mentor/w200.jpg" alt="王向一">
                            </a>
                        </li>

                        <li>
                            <a data-content="中大联合创投创始人，中国青年天使会常务理事，中国青年天使会湖南分会会长，高新区微软云孵化平台创业导师。作为创始人发起创建的中大联合创投是一家专注移动互联网领域，采用“投资+投智+资源对接”综合输出的新锐天使投资机构。
        累计投资近30余个天使项目，分别涉及教育、电商、社交、手游、新媒体、O2O等互联网领域。已投项目有万方圆酱、乐喜网、绘装、趣寻宝、欣星外教、花作花草茶、傲冠三国等。
" rel="popover" href="javascript:void(0);" data-original-title="舒纪铭">
                                <img src="../images/mentor/sjm.jpg" alt="舒纪铭">
                            </a>
                        </li>

                        <li>
                            <a data-content="湖南中清龙图执行副总裁，孵化部负责人兼策划总监，高新区微软云孵化平台创业导师。历任北京中清龙图策划经理，金山游戏策划经理，湖南盛世龙腾cdo，ceo，奇域网络董事会成员。拥有多年游戏制作及策划经验，开发制作过端游页游手游，产品类型涵盖rpg，act，音乐舞蹈类，竞技射击类等。" rel="popover" href="javascript:void(0);" data-original-title="肖靖">
                                <img src="../images/mentor/xj.jpg" alt="肖靖">
                            </a>
                        </li>
                        <li>
                            <a data-content="长城信息股份有限公司总经理助理、长沙中电软件园总经理，中央企业劳动模范、中国电子突出贡献科技工作者，高新区微软云孵化平台创业导师。打造湖南首个国家级智慧园区“中电软件园”，规划从业人员超3万人，产值逾300亿元。
先后主持和承担了8项总装备部“十五”、“十一五”重点科研项目，神舟七号、神舟八号、天宫一号液晶显示器等载人航天工程项目，国家发改委“复杂环境光纤传感信息技术工程实验室”等项目，先后获得12项专利，3项软件著作权，6项科技成果及进步奖。
" rel="popover" href="javascript:void(0);" data-original-title="夏利锋">
                                <img src="../images/mentor/xlf.jpg" alt="夏利锋">
                            </a>
                        </li>

                        <li>
                            <a data-content="知名开发技术专家，微软全球MVP（最有价值专家），湖南微软开发者俱乐部主席，高新区微软云孵化平台首席技术专家，高新区微软云孵化平台创业导师。曾经编写 /翻译多本技术书籍以及担任微软在线 /线下技术讲师。最近 10年一直在从事基于 Web的应用研发。具有多年高负载在线交易系统开发维护经验，以及开发技术团队管理经验。现在担任博赛软件有限公司（英国）中国区总经理及技术总监，带领团队开发及维护年交易额近 10亿欧元的在线交易系统。" rel="popover" href="javascript:void(0);" data-original-title="陈锐">
                                <img src="../images/mentor/cr.jpg" alt="陈锐">
                            </a>
                        </li>
                    
                        <li>
                            <a data-content="OpenXLive的CEO。2004年至今，微软最有价值专家(Windows Mobile Device)，MEDC(中国) 2006、2007最佳讲师，MEDC(中国)2005、2006动手实验室讲师，Tech Ed (中国)2005、2006讲师和动手实验室讲师，《程序员》杂志嵌入式及移动开发专栏作者，《Windows Mobile平台与程序开发》合著者，MSDN(中国)和TechNet(中国) Webcast讲师，两年共讲授Windows Mobile相关课程21场。“饕餮元年无线餐饮管理系统”获得微软(中国)移动开发挑战赛2004的商业应用三等奖。" rel="popover" href="javascript:void(0);" data-original-title="马宁">
                                <img src="../images/mentor/mn.jpg" alt="马宁">
                            </a>
                        </li>
              
                       

                

                 

                  
              
                     
                    </ul>
                    
                </div>
            </div>


        </div>
    </div>
</section>
    <footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../js/lib/popover.js"></script>
    <script type="text/javascript">
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(2).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp

        $(function () {
            $("a[rel=popover]").popover();
            $('.mentors').each(function (index) {
                var lis = $(this).find('li');
                var row, col = 6, len, max;
                len = lis.length;
                row = parseInt(Math.ceil(len / col));
                max = row * col;
                var emptyLen = max - len;

                var tmp = "";
                var pos = getInsertPos(len, emptyLen);
                var i = pos.length;
                while (i--) {
                    $(tmp).insertAfter(lis[pos[i]]);
                }
            });

            function getInsertPos(len, emptyLen) {
                var arr = [2, 6, 7, 14, 16, 21], result = [];
                if (emptyLen == 1) {
                    result.push(len - 2);
                }
                else if (emptyLen == 2) {
                    result.push(len - 2);
                    result.push(len - 5);
                }
                else {
                    var i = 0;
                    while (emptyLen) {
                        result.push(arr[i] - 1);
                        emptyLen--;
                        i++;
                    }
                }
                return result;
            }
        });
</script>
</body>
</html>
