<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-导师</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
    <!--[if IE 8]>
    <style type="text/css">
        #container .mentors li a{position:absolute;width:120px;height:120px;display:inline-block;}
        #container .mentors li a:hover{position:absolute;z-index:999;left:-79.5px;top:-40px;width:200px;height:200px;}
    </style>
    <![endif]-->
</head>
<body>
    <header></header>
    <section id="main">
        <div id="container">
        <div class="container">

            <div>
                <img src="../images/top.jpg" alt="">
            </div>
            <div class="padding">
                <div class="contents">
                    <h1 id="index2">
                        行业思想领袖，杰出创业者，特定领域专家
                    </h1>
                    <p>
                        丰富的创业和行业经验，助您成就梦想。
                    </p>
                    <ul class="mentors">
                        <li>
                            <a data-content="拥有美国普林斯顿大学电子工程博士学位。美国Sierra Ventures风险投资公司常务董事，任职超过12年，是美国硅谷资深风险投资人，现任多家上市公司和创业公司董事。" rel="popover" href="javascript:void(0);" data-original-title="Ben Yu">
                                <img src="../images/mentor/mentor1.jpg" alt="Ben Yu">
                            </a>
                        </li>
                        <li>
                            <a data-content="以色列Amiti基金创始合伙人。" rel="popover" href="javascript:void(0);" data-original-title="Ben Rabinowitz">
                                <img src="../images/mentor/mentor2.jpg" alt="Ben Rabinowitz">
                            </a>
                        </li>
                        <li>
                            <a data-content="Canaan以色列合伙人，资深投资人。" rel="popover" href="javascript:void(0);" data-original-title="Ehud Levy">
                                <img src="../images/mentor/mentor3.jpg" alt="Ehud Levy">
                            </a>
                        </li>
                        <li>
                            <a data-content="应文禄先生现担任证监会创业板发审委委员、毅达资本董事长、投资决策委员会主任委员，兼任江苏高晋、苏州髙远、镇江髙投董事长，并担任华泰证券、江苏国信等多个著名企业的董事职位。<br/>
应文禄先生从事投资行业超过二十年，善于把握产业发展趋势，精通企业财务及资本运作，对企业经营管理有着敏锐洞察力，对中国资本市场具有深刻认识和丰富实践操作经验，对战略制定和项目判断具有良好的敏感性和前瞻性。

" rel="popover" href="javascript:void(0);" data-original-title="应文禄">
                                <img src="../images/mentor/mentor4.jpg" alt="应文禄">
                            </a>
                        </li>
                        <li>
                            <a data-content="毕业于马里兰州大学和约翰霍普金斯研究院。曾在硅谷任高盛TMT投资银行部门副总裁。美国多尔资金管理有限公司董事合伙人，DCM中国的共同创始人。" rel="popover" href="javascript:void(0);" data-original-title="卢蓉">
                                <img src="../images/mentor/mentor5.jpg" alt="卢蓉">
                            </a>
                        </li>
                        <li>
                            <a data-content="金茂资本董事长，原圳恒丰时代投资公司董事长、总经理，原深圳华源股份有限公司董事副总裁。" rel="popover" href="javascript:void(0);" data-original-title="段小光">
                                <img src="../images/mentor/mentor6.jpg" alt="段小光">
                            </a>
                        </li>
                        <li>
                            <a data-content="现任浙江赛伯乐投资管理有限公司总裁，创始合伙人，在各种投资和企业管理领域拥有超过20年的丰富经验，目前是中国绿线的董事会成员。陈斌先生曾是网迅投资中国区的负责人。在TCL工作期间，他曾担任了多项执行职位，其中包括在TCL网络仪器公司担任副总经理。" rel="popover" href="javascript:void(0);" data-original-title="陈斌">
                                <img src="../images/mentor/mentor7.jpg" alt="陈斌">
                            </a>
                        </li>
                        <li>
                            <a data-content="车托帮CEO，顶尖、资深的互联网创业先行者，最早的海外华人网上购物网站之一ChinaMalls.com的联合创始人、中国电商鼻祖8848的CEO、全球第一家商业化P2P流媒体公司光芒国际总裁、千万量级用户的移动车主社区，社会化导航的移动互联网公司--车托帮的创始人兼CEO被誉为中国版Waze。" rel="popover" href="javascript:void(0);" data-original-title="吕春维">
                                <img src="../images/mentor/mentor9.jpg" alt="吕春维">
                            </a>
                        </li>
                        <li>
                            <a data-content="拥有电气与计算机工程博士学位，毕业于美国西北大学，曾任思科首席技术官，TTE公司首席软件构架师、高级经理。现任TCL北美研究院总经理。" rel="popover" href="javascript:void(0);" data-original-title="汪灏弘">
                                <img src="../images/mentor/mentor10.jpg" alt="汪灏弘">
                            </a>
                        </li>
                        <li></li>
                    </ul>

                    <h1 id="index2">
                        微软技术专家
                    </h1>
                    <p>
                        微软顶级技术专家为您保驾护航，加速您的成功。
                    </p>  
 
                    <ul class="mentors">
                        <li>
                            <a data-content="现任微软中国首席技术官，负责将微软的产业愿景与创新技术介绍给中国的行业伙伴与业界领导者。在微软公司的十多年间，韦青先生曾先后担任过微软大中华区Windows产品部总经理，微软大中华区消费与在线事业部市场总经理和微软大中华区Windows移动产品部总经理之职，负责公司商用与消费产品业务的战略设计与执行管理，以及合作伙伴与产业生态链建设。在加入微软之前，韦青先生曾经在摩托罗拉公司工作十年，历任移动产品开发，市场推广与销售管理的众多领导岗位。" rel="popover" href="javascript:void(0);" data-original-title="韦青">
                                <img src="../images/mentor/mentor02_01.jpg" alt="韦青">
                            </a>
                        </li>
                        <li>
                            <a data-content="博士，微软亚太研发集团创新孵化总监，负责集团新产品、新项目在中国的孵化和落地。程博士拥有计算机科学专业的武汉大学学士，中国科学院自动化研究所硕士以及美国纽约州立大学布法罗校区博士学位。博士毕业后到美国硅谷工作十五年，先后加入两家初创公司以及在甲骨文（Oracle）公司总部负责大数据及商务智能产品开发十年。2010年回到中国，加入微软亚太研发集团。任现职之前，在微软Office团队任首席软件开发部门经理，负责微软Office教育及移动产品和Office应用平台的开发工作。" rel="popover" href="javascript:void(0);" data-original-title="程骉 ">
                                <img src="../images/mentor/mentor02_02.jpg" alt="程骉 ">
                            </a>
                        </li>
                    </ul>                 
                </div>
            </div>


        </div>
    </div>
</section>
    <footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>

   <script type="text/javascript" src="../js/lib/asset.js" ></script>
  
    <script type="text/javascript">
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(1).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp

        $(function () {
            $("a[rel=popover]").popover();
            $('.mentors').each(function (i) {
                var lis = $(this).find('li');
                var row, col = 5, len, max;
                len = lis.length;
                row = parseInt(Math.ceil(len / col));
                max = row * col;
                var emptyLen = max - len;

                var tmp = "<li class=\"mentor_default\"></li>";
                var pos = getInsertPos(len, emptyLen);
                var i = pos.length;
                while (i--) {
                    $(tmp).insertAfter(lis[pos[i]]);
                }
            });

            function getInsertPos(len, emptyLen) {
                var arr = [2, 6, 7, 14, 16, 21], result = [];
                if (emptyLen == 1) {
                    result.push(len - 2);
                }
                else if (emptyLen == 2) {
                    result.push(len - 2);
                    result.push(len - 5);
                }
                else {
                    var i = 0;
                    while (emptyLen) {
                        result.push(arr[i] - 1);
                        emptyLen--;
                        i++;
                    }
                }
                return result;
            }
        });
</script>
</body>
</html>
