<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台首期创业团队招募</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
 
 <section id="main">
    <div id="container">
        <div class="container">

            <div><img src="../images/top.jpg"></div>
            <div class="newsList" style="margin-bottom:20px;">                  
                                
                <h1>南京微软云暨移动应用孵化平台首期创业团队招募</h1>
                <p class="tag"> 2016年9月25日</p>
                <!--desc-->  
                <div class="desc">
                    <p>
    
                    </p>

                    <p>

                        <img alt="" src="../Upload/news/20160811145048_7196.jpg" style="margin-right:auto;margin-left:auto;display:block;">
                    </p>
                    <p>
                        &nbsp;&nbsp;<span style="font-size:16px;"><strong>致敬创业者</strong></span>
                    </p>
                    <p>
                        &nbsp;&nbsp;这是一个伟大的时代，这是一个创造奇迹的时代。
                    </p>
                    <p>
                        &nbsp;&nbsp;您的选择比努力更重要，选择与谁同行，将决定您的未来！
                    </p>
                    <p>
                        &nbsp;&nbsp;我们在您创业之初，与您和团队共同成长。
                    </p>
                    <p>
                        &nbsp;&nbsp;我们竭尽所能，帮助每一位怀揣梦想的创业者，向着心中的理想，大步前行。
                    </p>
                    <p>
                        &nbsp;&nbsp;我们向优秀的你们致敬，你们的梦想，是民族的希望。
                    </p>
                    <p>
                        &nbsp;&nbsp;创业的号角已经响起，创新的浪潮已经到来，我们需要激情澎湃的你们！
                    </p>
                    <p>
                        &nbsp;&nbsp;在创业的路上，我们与您携手前行，不忘初心！
                    </p>

                    <br>
                    
                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="border:0px;padding:0px;margin:10px 0px;-webkit-transform:skew(-20deg);text-align:center;">
                    <section style="font-size:1em;color:inherit;">
                    <section style="display:inline-block;color:#ffffee;border-color:#00bbec;background-color:#00bbec;">
                    <section style="display:inline-block;padding:0px 10px;border-color:#00bbec;color:inherit;background-color:rgba(255, 255, 255, 0.701961);">
                    <section style="display:inline-block;color:inherit;border-color:#00bbec;background-color:#00bbec;">
                    <section style="display:inline-block;padding:0px 10px;border-color:#00bbec;color:inherit;background-color:rgba(255, 255, 255, 0.498039);">
                    <section style="display:inline-block;color:inherit;border-color:#00bbec;background-color:#00bbec;">
                    <section style="display:inline-block;padding:0px 10px;border-color:#00bbec;color:inherit;background-color:rgba(255, 255, 255, 0.298039);">
                    <section style="display:inline-block;color:inherit;border-color:#00bbec;background-color:#00bbec;"><h4 style="-webkit-transform:skew(20deg);margin:0px;padding:10px;border-color:#00bbec;color:inherit;"><strong><span style="color:inherit;font-size:16px;">我们期待这样的团队 ——</span></strong></h4></section></section></section></section></section></section></section>
                    <section style="border-top-width:2px;border-top-style:solid;border-top-color:#00bbec;margin-top:-1.2em;color:inherit;"><br></section></section></section></section></section><p>

                    </p>
                    
                    
                    <section data-source="bj.96weixin.com">
                    <section style="padding:0px;white-space:normal;text-align:inherit;border:1px solid rgb(0, 187, 236);font-size:1em;font-family:inherit;font-weight:inherit;text-decoration:inherit;color:#333333;background-color:rgb(239, 239, 239, 0);box-sizing:border-box;">
                    <section style="margin:-1em 16px 0px;padding:0px;border:none;line-height:1.4;box-sizing:border-box;"><p>
                    <span style="border-color:#00bbec;padding:3px 8px;border-radius:4px;text-align:center;color:#ffffff;font-family:inherit;font-size:16px;font-weight:inherit;text-decoration:inherit;display:inline-block;box-sizing:border-box;background-color:#00bbec;"><strong>首期团队招募入选标准</strong></span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">1 创新和革命性的技术</span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">2 拥有巨大的市场潜力</span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">3 优秀的创始团队</span>
                    </p>
                    </section></section></section><p>

                    </p>
                    
                    
                    <section data-source="bj.96weixin.com">
                    <section style="padding:0px;white-space:normal;text-align:inherit;border:1px solid rgb(0, 187, 236);font-size:1em;font-family:inherit;font-weight:inherit;text-decoration:inherit;color:#333333;background-color:rgb(239, 239, 239, 0);box-sizing:border-box;">
                    <section style="margin:-1em 16px 0px;padding:0px;border:none;line-height:1.4;box-sizing:border-box;"><p>
                    <span style="border-color:#00bbec;padding:3px 8px;border-radius:4px;text-align:center;color:#ffffff;font-family:inherit;font-size:16px;font-weight:inherit;text-decoration:inherit;display:inline-block;box-sizing:border-box;background-color:#00bbec;"><strong>技术方向</strong></span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">1 云技术创新，包括混合云的管理和服务平台、或云存储创新平台</span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">2 物联网，包括传感器、无人机、机器人</span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">3 大数据与机器学习</span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">4 人工智能、增强现实、虚拟现实</span>
                    </p>
                    </section></section></section><p>

                    </p>
                    
                    
                    <section data-source="bj.96weixin.com">
                    <section style="padding:0px;white-space:normal;text-align:inherit;border:1px solid rgb(0, 187, 236);font-size:1em;font-family:inherit;font-weight:inherit;text-decoration:inherit;color:#333333;background-color:rgb(239, 239, 239, 0);box-sizing:border-box;">
                    <section style="margin:-1em 16px 0px;padding:0px;border:none;line-height:1.4;box-sizing:border-box;"><p>
                    <span style="font-size:16px;"><strong><span style="border-color:#00bbec;padding:3px 8px;border-radius:4px;text-align:center;color:#ffffff;font-family:inherit;font-weight:inherit;text-decoration:inherit;display:inline-block;box-sizing:border-box;background-color:#00bbec;"><strong>申请流程</strong></span></strong></span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">1 请点击南京微软云暨移动应用孵化平台官网</span><a href="http://www.njmsincubator.com" style="color:#0080ff;font-size:14px;text-decoration:underline;">www.njmsincubator.com</a><span style="color:#000000;font-size:14px;"><span style="color:#000000;font-size:14px;">，了解申请流程</span><span style="color:#000000;">、</span></span><span style="color:#000000;font-size:14px;">招募计划等更多信息</span>
                    </p>
                    <p style="line-height:1.75em;"><span style="color:#000000;font-size:14px;">2 从官网下载申请表，将填写完整的申请表和项目计划、产品与服务介绍等材料，发送到</span><span style="color:#0080ff;font-size:14px;text-decoration:underline;"><a href="mailTo:T.dreams@njmsincubator.com">T.dreams@njmsincubator.com</a></span>
                    </p>
                    
                    </section></section></section>
                    
                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="border:0px;padding:0px;margin:10px 0px;-webkit-transform:skew(-20deg);text-align:center;">
                    <section style="font-size:1em;color:inherit;">
                    <section style="display:inline-block;color:#ffffee;border-color:#00bbec;background-color:#00bbec;">
                    <section style="display:inline-block;padding:0px 10px;border-color:#00bbec;color:inherit;background-color:rgba(255, 255, 255, 0.701961);">
                    <section style="display:inline-block;color:inherit;border-color:#00bbec;background-color:#00bbec;">
                    <section style="display:inline-block;padding:0px 10px;border-color:#00bbec;color:inherit;background-color:rgba(255, 255, 255, 0.498039);">
                    <section style="display:inline-block;color:inherit;border-color:#00bbec;background-color:#00bbec;">
                    <section style="display:inline-block;padding:0px 10px;border-color:#00bbec;color:inherit;background-color:rgba(255, 255, 255, 0.298039);">
                    <section style="display:inline-block;color:inherit;border-color:#00bbec;background-color:#00bbec;"><h4 style="-webkit-transform:skew(20deg);margin:0px;padding:10px;border-color:#00bbec;color:inherit;"><strong><span style="color:inherit;font-size:16px;">我们能为您提供什么？</span></strong></h4></section></section></section></section></section></section></section>
                    <section style="border-top-width:2px;border-top-style:solid;border-top-color:#00bbec;margin-top:-1.2em;color:inherit;"><br></section></section></section></section></section><p style="margin-top:8px;:;:;:;:;:;">
                    </p>
                    <p style="background:white;line-height:1.5em;margin-top:8px;margin-bottom:0px;"><span style="color:#000000;font-size:14px;">
                    <span style="color:#000000;">南京微软云暨移动应用孵化平台依托微软品牌的号召力及技术支撑，享受政府的优惠政策，引入优秀的创投基金，通过专业化运营管理，为入驻企业及创业者提供多方位创业资源支持与服务。
                    </span>
                    </p>
                    
                    
                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00a2e8;font-size:16px;"><strong>免费“终身制校友”创业服务</strong></span></section></section></section></section><span style="font-size:14px;"><span style="color:#000000;">创业团队一旦入选，即成为微软创投加速器校友企业，享受“终身制校友”服务。</span><span style="color:#000000;font-size:14px;"><strong>所有服务和资源均为免费提供</strong></span><span style="color:#000000;">，并且</span><span style="color:#000000;font-size:14px;"><strong>不要求任何形式的股份回报</strong></span><span style="color:#000000;">。</span></span><br></section></section>
                    
                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00a2e8;line-height:107%;font-size:16px;"><strong>技术资源和</strong><strong>Azure</strong><strong>云服务</strong></span></section></section></section></section><span style="font-size:14px;"><span style="color:#000000;">我们对初创企业的开发所使用的技术持开放态度。无论他们是使用微软或非微软技术，还是使用各种开放源代码平台和开发语言。作为校友企业，都将免费享有</span><span style="color:#000000;font-size:14px;"><strong>价值</strong><strong>1000万人民币的微软云服务</strong></span><span style="color:#000000;">，及一系列技术辅导与产品开发课程。我们尊重并保护创业者的知识产权，每一家团队的研发成果将全部归创业团队所有。</span></span></section></section>
                    
                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00b0f0;font-size:16px;"><strong><span style="color:#00a2e8;font-size:16px;">战略合作</span></strong></span></section></section></section></section><span style="font-size:14px;"><span style="color:#000000;">我们是微软（中国）授权孵化平台，为创业生态圈提供贯穿企业全生命周期的优质创投服务。我们汇聚行业领军企业、投资机构、合作伙伴、创业园区、政府及政策支持等多方力量，整合微软内部业务、市场、研发等强大的全球资源，通过构建</span><span style="color:#ffa900;font-size:14px;"><strong><span style="color:#000000;font-size:14px;">全方位的战略合作关系联盟</span></strong></span><span style="color:#000000;">，共同为校友企业进行市场推广、销售和客户对接支持。</span></span></section></section>
                    
                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00b0f0;"><strong><span style="color:#00a2e8;font-size:16px;">创业培训和导师团队</span></strong></span></section></section></section></section>
                    <span style="font-size:14px;"><span style="color:#000000;">我们拥有强大的创投行业大咖、优秀行业专家、微软技术导师团队阵容，为创业者提供前沿技术顾问服务。
                    </span><span style="color:#000000;font-size:14px;">
                    <strong>科研智囊团</strong></span><span style="color:#000000;">，为校友企业提供前沿技术顾问服务。</span></span><br></section></section>

                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00b0f0;"><strong><span style="color:#00a2e8;font-size:16px;">投融资服务对接</span></strong></span></section></section></section></section><span style="font-size:14px;"><span style="color:#000000;">我们与</span><span style="color:#000000;font-size:14px;"><strong>10</strong></span><span style="color:#000000;">家顶级投资机构建立了</span><strong><span style="color:#000000;font-size:14px;">合作伙伴关系</span></strong><span style="color:#000000;">，并对其有深度了解，力求帮助创业者在最短时间内以最短路径获得最合适的投资。此外，我们的投融资扶植服务</span></span><span style="color:#000000;font-size:14px;">完全免费，不要求任何股份回报。</span><br></section></section>

                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00a2e8;font-size:16px;"><strong>人才储备支持</strong></span></section></section></section></section><span style="font-size:14px;"><span style="color:#000000;">我们与全国乃至全球优秀的高校建立了合作伙伴关系，线上线下招聘渠道合作伙伴以及与相关领域资深猎头合作，为企业提供精准的高层管理与研发人员招聘服务。</span></span></section></section>

                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:#00b0f0;"><strong><span style="color:#00a2e8;font-size:16px;">商业拓展及品牌建设</span></strong></span></section></section></section></section><span style="font-size:14px;"><span style="color:#000000;">我们利用自身的产业资源和合作伙伴的相关资源，根据企业发展阶段和产品推广需求，为创业者建议最合适的宣传方式及推广渠道。我们还协助初创团队举办线上和线下的市场活动，指导初创团队的品牌建设和包装，对接公关媒体资源。
                    </span></span><br></section></section>

                    <section data-source="bj.96weixin.com">
                    <section style="border:0px none;padding:0px;">
                    <section style="margin:20px 0px 5px;padding:0px;display:inline-block;width:100%;">
                    <section style="margin:0px;padding:0px 35px 0px 5px;box-sizing:border-box;display:inline-block;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1eb2e1;">
                    <section style="margin:0;padding:0;box-sizing:border-box;transform:rotate(45deg);-webkit-transform:rotate(-45deg);display:inline-block;float:left;">
                    <section style="width:0px;height:0px;margin:0px;padding:0px;border-right-width:6px;border-right-style:solid;border-right-color:#1eb2e1;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:transparent;border-top-width:3px;border-top-style:solid;border-top-color:transparent;float:left;"></section>
                    <section style="margin-left:1px;padding:0px;width:23px;height:6px;background-color:#1eb2e1;float:left;clear:none;color:#ffffee;"></section></section>
                    <section style="margin-top:-0.7em;margin-left:10px;padding:0;box-sizing:border-box;float:left;clear:none;">
                    <section style="margin:0px;padding:0px;font-size:18px;word-wrap:break-word;"><span style="color:inherit;">&nbsp;<span style="color:#00b0f0;"><strong><span style="color:#00a2e8;font-size:16px;">办公场地和福利待遇</span></strong></span></span></section></section></section></section>
                    <span style="font-size:14px;"><span style="color:#000000;">每一家入选企业可免费入驻位于南京经济技术开发区兴智科技园的南京微软云暨移动应用孵化平台的办公场地。入驻期间，团队员工可享用园区内部食堂、餐厅、咖啡厅等便利服务，顶级的办公场地条件和配套硬件设施，和其他温馨的员工福利待遇。
                    </span></span>
                    </section></section>
                    <p style="margin-top:8px;margin-bottom:0;line-height:normal;background:white;"><span style="font-size:14px;"></span>
                    </p>
                    <p>

                    </p>

                </div>   
                <!--desc-->   
                <div class="ckepop jiathis_style" sharetitle="南京微软云暨移动应用孵化平台首期创业团队招募">
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_cqq"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_cyzone"></a>
                    <a class="jiathis_button_fb"></a>
                    <a class="jiathis_button_twitter"></a>
                </div>         
            </div>

        </div>
    </div>
</section>   
<footer></footer>
 
<script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" >
var jiathis_config={
    summary:"",
    shortUrl:true,
    hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script type="text/javascript">     
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(0).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
        share();
    })
    function share(){
        $(".newsList").on("click",".ckepop a",function () {
            var shareTitle = $(this).parent().attr("shareTitle");
            var redirectUrl = "http://www.jiathis.com/send/?" + $(this).attr("urlParam") + "&title=" + shareTitle;
            window.open(redirectUrl);
        });
    }
</script>
</body>
</html>
