<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台-动态</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
    <header></header>
    <section id="main">
        <div id="container">
            <div class="container">
                <div><img src="../images/top.jpg" alt=""></div>
                <div id="newsList" class="newsList">
                    <ul></ul>

<!--                     <div class="paginator">
                        <a class="previous" href="/Home/News?pageIndex=2" style="display:block;">&nbsp;</a>
                        <a class="next" href="/Home/News?pageIndex=0" style="display:none;">&nbsp;</a>
                    </div> -->
                </div>

            </div>
        </div>
    </section>
    <footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" >
    var jiathis_config={
        summary:"",
        shortUrl:true,
        hideMore:true
    }
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

  <script type="text/javascript">

  $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(0).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
        share();

  		$.ajax({
			url:"news.json",
			type:"get", // post  
			data:'',
			dataType:"json",
			success:function(result){
				initNewsList(result.data);
                share();
			},
			error:function(){

			}
		});

        
        // 分页
        $(".paginator a").click(function () {
            var that = $(this);
            if (that.attr("display") != "none") {
                location.href = "?pageIndex=" + that.attr("pageIndex");
            }
        });
    });

    //分享
    function share(){
        $(".newsList").on("click",".ckepop a",function () {
            var shareTitle = $(this).parent().attr("shareTitle");
            var redirectUrl = "http://www.jiathis.com/send/?" + $(this).attr("urlParam") + "&title=" + shareTitle;
            window.open(redirectUrl);
            return false;
        });
    }

  	function initNewsList(data){
  		var str = "";
  			for (var i = 0; i < data.length; i++) {
                if(data[i]["id"]){
                    str += "<li>";
                    str += "<h1><a href=\""+data[i]["url"]+"\">"+data[i]["title"]+"</a></h1>";
                            str += "<div class=\"news_item\">";
                                str += "<div class=\"pull-left thumb\"><img alt=\"\" src=\""+data[i]["imgUrl"] +"\"></div>";
                                str += "<div class=\"desc colorgray\">"+data[i]["desc"]+"</div>";
                                str += "<div class=\"clear\"></div>";
                            str += "</div>";
                        //share code <!-- JiaThis Button BEGIN -->
                        str += "<div class=\"clear\"></div>";
                        
                    str += '<div class=\"ckepop jiathis_style\" sharetitle="'+data[i]["title"]+'">'+
                                '<a class=\"jiathis_button_weixin\"></a>'+
                                '<a class=\"jiathis_button_cqq\"></a>'+
                                '<a class=\"jiathis_button_tsina\"></a>'+
                                '<a class=\"jiathis_button_tqq\"></a>'+
                                '<a class=\"jiathis_button_cyzone\"></a>'+
                                '<a class=\"jiathis_button_fb\"></a>'+
                                '<a class=\"jiathis_button_twitter\"></a>'+
                            '</div>';
                    str += "</li>";                   
                }

  			}
  		$("#newsList ul").html(str);
  	}
  </script>
</body>
</html>