<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京经济技术开发区携手微软，共同打造智能制造产业孵化基地</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">

            <div><img src="../images/top.jpg"></div>
            <div class="newsList" style="margin-bottom:20px;">
                    <h1>南京经济技术开发区携手微软，共同打造智能制造产业孵化基地</h1>
                    <p class="tag"> 2016年06月13日</p>
                    <div class="desc">
                        <p>
                            <img src="../Upload/news/2016082603.jpg" alt="" width="700" style="margin-right:auto;margin-left:auto;display:block;">
                        </p>
                        <p>
                            2016年6月1日，南京经济技术开发区管委会与微软（中国）有限公司在北京香格里拉酒店签订了战略合作备忘录，宣布联手引入“云暨移动应用孵化平台”计划。  
                        </p>
                         <p>
                            南京市经信委副主任梁洁女士，南京经济技术开发区管委会主任高德臣先生， 南京经济技术开发区管委会副主任蒋伟先生，微软大中华区副总裁，政府及公共事业部总经理杨晨先生，微软（中国）有限公司战略联盟暨创新孵化运营管理总经理戴子珽先生，微软（中国）有限公司江苏省总经理王茜女士等出席了签约仪式。   
                          </p>                  
                        <p>
                            云计算、物联网、大数据、人工智能这“云物大智”代表了新一代科技革命的核心方向，将给传统产业带来根本性的变革。据南京经济技术开发区相关负责人介绍，“微软云暨移动应用孵化平台”将充分发挥南京科教资源丰富、创新要素集聚和产业实力雄厚的优势，充分发挥微软品牌、技术、平台的号召力和凝聚力，整合微软在云计算等领域的全球资源和研发成果，在创新产业孵化等领域加强合作，重点以智能制造、人工智能、3D打印、物联网等基于移动互联网的智能制造产业作为核心合作主题，聚集和培养科技创新人才和初创企业，助力初创企业深入全球科技生态链，努力打造一流的创新、创业、创投、创客“四创联动”的新型发展生态圈。                         
                        </p>
                        <p>
                            目前南京经济技术开发区已有跨国公司研发中心30余家，工程技术研究中心、技术研究中心60多个，形成了集技术创新、研发、产业化、应用于一体的产业链和聚集地。据悉，即将落户在南京经济技术开发区的该“云暨移动应用孵化平台”预计将在今年9月正式运营。                                  
                        </p>
                    </div>
                     <div class="ckepop jiathis_style " sharetitle="南京经济技术开发区携手微软，共同打造智能制造产业孵化基地">
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_cqq"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_cyzone"></a>
                        <a class="jiathis_button_fb"></a>
                        <a class="jiathis_button_twitter"></a>
                    </div>
            </div>
        </div>
    </div>
</section>   
<footer></footer>
 
<script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" >
var jiathis_config={
    summary:"",
    shortUrl:true,
    hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script type="text/javascript">     
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(0).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
        share();
    });
    function share(){
        $(".newsList").on("click",".ckepop a",function () {
            var shareTitle = $(this).parent().attr("shareTitle");
            var redirectUrl = "http://www.jiathis.com/send/?" + $(this).attr("urlParam") + "&title=" + shareTitle;
            window.open(redirectUrl);
        });
    }
</script>
</body>
</html>
