<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>“南京微软云暨移动应用孵化平台”精英创业大赛正式启动</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
    <script id="allmobilize" charset="utf-8" src="http://a.yunshipei.com/bba756c4073825f92fc8a92ea4df1437/allmobilize.min.js"></script>
</head>
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">

            <div><img src="../images/top.jpg"></div>
            <div class="newsList" style="margin-bottom:20px;">
                <h1>“南京微软云暨移动应用孵化平台”精英创业大赛正式启动</h1>
                <p class="tag"> 2016年09月09日</p>
                <div class="desc">
                    <p>
                            <img src="../Upload/news/2016082602.jpg" alt="" width="700" style="margin-right:auto;margin-left:auto;display:block;">
                    </p>
                   <p>
                       “南京微软云暨移动应用孵化平台”精英创业大赛于2016年9月9日正式启动。

                   </p>
                   <p>
                       “大赛”聚焦大数据、云计算、移动物联、移动互联、智能装备和人工智能等新兴产业，将面向社会与高校征集创业创业项目。“大赛”专家评委将由南京微软云暨移动应用孵化平台的创业导师团队担任，通过“线上”筛选与“线下”路演，选拔出大赛一、二、三等奖，并分别给予奖励。最终获得一、二、三等奖的创业团队，均可获得南京微软云暨移动应用孵化平台的入驻资格，免费享受“平台”为创业项目和团队提供的各项服务。

                   </p>
                   <h2>“南京微软云暨移动应用孵化平台”精英创业大赛相关报名信息如下：</h2>
                   <p>
                    
                     1. 报名时间：2016年9月9日至2016年10月23日<br>
                    2. 报名邮箱：C.dream@njmsincubator.com<br>
                    3. 南京微软云暨移动应用孵化平台地址：南京市栖霞区国家级南京经济技术开发区兴智路10号兴智科技园A座13与14层 <br>
                    4. 申请要求  <br>
                          - 云计算、大数据、移动物联、移动互联、智能装备和人工智能等新兴产业的创业项目<br>
                          - 拥有创新和革命性的技术 <br>
                          - 具备巨大的市场潜力<br>
                          - 勇于创新的创业团队<br>
                          - 创始人之一是技术专家或核心人员<br>
                    5. 欢迎更多创业团队参加！请您在此下载申请表并将填写完整的申请表发送到<a href="mailto:C.dream@njmsincubator.com">C.dream@njmsincubator.com</a>。如果还有进一步的商业计划书或产品与服务介绍材料提供，请与本申请表一并发送。<br>

                   </p>
                 <div onclick="location.href = '../Upload/ApplicationForm-Exam.docx'" style="color: #fff; float: left; background-color: #0088f0; width: 100px; height: 30px; cursor: pointer; text-align: center; font-size: 14px; line-height: 30px; margin-left: 36px; margin-bottom: 9px;">下载申请表
                 </div>
                </div> 
                <div class="ckepop jiathis_style " sharetitle="“南京微软云暨移动应用孵化平台”精英创业大赛正式启动">
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_cqq"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_cyzone"></a>
                    <a class="jiathis_button_fb"></a>
                    <a class="jiathis_button_twitter"></a>
                </div>
            </div>
        </div>
    </div>
</section>   
<footer></footer>
 
<script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" >
var jiathis_config={
    summary:"",
    shortUrl:true,
    hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script type="text/javascript">     
    $(function(){
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary li").eq(0).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
        share();
    });
    function share(){
        $(".newsList").on("click",".ckepop a",function () {
            var shareTitle = $(this).parent().attr("shareTitle");
            var redirectUrl = "http://www.jiathis.com/send/?" + $(this).attr("urlParam") + "&title=" + shareTitle;
            window.open(redirectUrl);
        });
    }
</script>
</body>
</html>
