<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
    <title>南京微软云暨移动应用孵化平台</title>
    <link rel="stylesheet" type="text/css" href="../css/cssCommon.css">
    <link rel="stylesheet" type="text/css" href="../css/cssUi.css">  
    <link rel="stylesheet" type="text/css" href="../js/lib/jiathis/jiathis_share.css">
<body>
<header></header>
 <section id="main">
    <div id="container">
        <div class="container">

            <div><img src="../images/top.jpg"></div>
            <div class="padding">
                    <div class="row-fluid">

                        <div class="span100 contents">
                            <h1> 长沙云孵化器 </h1>
                            <h2 style="color: #4F94D5;"> 无限创新，从此启航 </h2>
                            

                            <br>
                            <p style="text-align: center;">
                                <img src="../images/recruitment1.jpg" alt="">
                            </p>
                            <h1 style="color:#000">
                                长沙云孵化器项目介绍
                            </h1>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;长沙云孵化器是致力于做“最专业的创业服务平台”，为最创新的早期创业团队度身订造地提供“找钱，找人，找市场，找用户”的全方位服务。我们为入选的创业团队提供6个月的位于长沙中电软件园的办公空间，并得到由行业榜样、行业专家及技术专家组成的导师团的扶植与指导；同时，长沙云孵化器每年提供30万元微软产品使用权。创业团队一旦入选，办公工位均为免费提供， 入驻长沙云孵化器的创业公司（团队）可享受长沙高新区柳枝行动的政策性资金扶持。
                            </p>
                            <h1 style="color:#000">
                                创业团队招募
                            </h1>
                            <p>
                                长沙云孵化器首期创业团队招募，期待你和你的团队加入！ 
                            </p>
                            <br>
                            <p>
                                长沙云孵化器招募相关信息如下：  <br>
                                •  报名时间：11月份开始报名<br>
                                •  拟招募公司及团队：首期15家创业团队（公司） <br>
                                •  报名邮箱：<a href="mailto:teams@msstartup.cn">teams@msstartup.cn</a><br>
                                长沙云孵化器招募地址：长沙市高新技术开发区尖山路39号长沙中电软件园总部大楼3楼<br>
                                •  申请要求 <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-  信息技术驱动的初创公司<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-  勇于创新的全职团队，哪怕你只有一个想法 <br>
                               
                            </p>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>   
<footer></footer>
 
    <script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $("header").load("header.html",function(response,status){
            if (status=="success"){
                $("#menu-primary > li").eq(4).find("span").addClass("title");
            }
        }); 
        $("footer").load("footer.html"); //可直接换成include jsp
    </script>
</body>
</html>
