header,footer,nav,section {
    display: block
}

#header .nav-collapse {
}

fieldset.group {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0
}

fieldset.group legend {
    font-size: 1.2em;
    margin: 0;
    padding: 0 .5em;
    width: auto;
    border: medium none
}

ul#menu {
    border-bottom: 1px #5c87b2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right
}

ul#menu li {
    display: inline;
    list-style: none
}

ul#menu li#greeting {
    padding: 10px 20px;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff
}

ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000
}

.container,.navbar .container {
    position: relative
}

#logindisplay {
    position: absolute;
    right: 0;
    top: 0
}

#logindisplay #AccountMenu {
    display: inline-block;
    background-color: #fff;
    color: #999;
    border: 1px solid #e5e5e5
}

#logindisplay #AccountMenu .t-menu {
    display: inline-block;
    background-color: #fff;
    color: #999
}

#logindisplay #AccountMenu .t-link {
    color: #999
}

.field-validation-error {
    color: red!important
}

.field-validation-valid {
    display: none
}

.input-validation-error {
    border: 1px solid red!important;
    background-color: #fee!important
}

.validation-summary-errors {
    color: red!important
}

.validation-summary-valid {
    display: none
}

.display-label,.editor-label {
    margin: 1em 0 0 0
}

.display-field,.editor-field {
    margin: .5em 0 0 0
}

.text-box {
    width: 30em
}

.text-box.multi-line {
    height: 6.5em
}

.tri-state {
    width: 6em
}

.button-container {
    margin: 1em 0 0 0
}

.rich-text-editor {
    height: 450px
}

.panel-wrapper {
    width: 100%
}

.left-panel {
    *float: left;
    display: inline-block;
    vertical-align: top;
    width: 10%;
    height: 100%;
    margin: 10px
}

.main-panel {
    display: inline-block;
    width: 85%
}

.right-panel {
}

.account-container,.admin-container {
    margin: 20px;
    margin-top: 80px
}

input[type="text"].title,input[type="text"].memo {
    width: 400px
}

#homeActivityPanel {
    width: 214px;
    height: 167px
}

#homeActivityPanel .home-activity img {
    max-width: 214px
}

#homeActivityPanel .home-activity,#homeActivityPanel .home-activity-content {
}

.events .home-activity-content {
    background: none repeat scroll 0 0 #fb9d13;
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px
}

.home-activity-content .activity-content-location,.home-activity-content .activity-content-time {
    display: block;
    max-width: 214px;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

#homeMentorPanel {
}

#homeMentorPanel ul li {
    display: block
}

#homeMentorPanel ul li img.head-pic {
    max-width: 85px;
    max-height: 85px
}

.content .news {
}

#homeNewsPanel {
    width: 690px
}

#homeNewsPanel .primary-news-title {
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 580px
}

#homeNewsPanel .news-title {
    font-weight: normal;
    margin: 0;
    padding: 0;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 580px;
    line-height: 18px;
    vertical-align: text-bottom
}

#homeNewsPanel .news-title:hover {
    text-decoration: underline
}

#homeNewsPanel #primaryNews {
    height: 280px
}

#homeNewsPanel .primary-news-content {
}

#homeNewsPanel .thumb {
    display: inline-block;
    vertical-align: top;
    float: left
}

#homeNewsPanel .news-content {
    font-size: 14px;
    line-height: 1.6em;
    display: inline-block;
    vertical-align: top;
    height: 224px
}

#homeNewsPanel .readMore {
    font-size: 14px;
    float: right
}

#homeNewsPanel .thumb #primaryNewsImg,.news-summary-pic IMG {
    max-width: 380px;
    max-height: 234px
}

#homeNewsPanel .news-content #primaryNewsThumb {
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
    max-width: 690px
}

#homeNewsPanel #otherNewsList {
    float: left;
    width: 690px
}

.home-activity-no-content,.home-mentor-no-content,.home-news-no-content {
    font-style: italic;
    color: gray
}

.paginator {
    padding: 5px 5px 5px 0;
    margin: 0;
    text-align: right;
    font-size: 14px;
    overflow: hidden;
}

.paginator a {
    float: right;
    padding: 3px 10px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
    margin-right: 6px;
    width: 4px;
    display: inline-block
}

.paginator a:visited {
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none
}

.paginator a:hover {
    color: #fff;
    background: #ffa501;
    border-color: #ffa501;
    text-decoration: none
}

.paginator a.previous {
    background: url(../images/sprite.png);
    background-position: -213px -482px;
    border: none
}

.paginator a.next {
    background: url(../images/sprite.png);
    background-position: -180px -483px;
    border: none;
    height: 30px;
}

.white {
    color: #fff
}

.navbar #menu-primary.nav>li>a {
    font-weight: normal
}

.newsList>ul>li {
    border: 1px solid #e3e1d5;
    padding: 10px 10px 25px 40px
}

.newsList .news_item .thumb {
    width: 150px
}

.newsList .news_item {
    margin: 10px 0
}

.newsList .news_content {
}

.newsList .activity_item .thumb {
    width: 150px
}

.newsList .activity_item {
    margin: 10px 0
}

.newsList .activity_content {
}

.newsList .activity_item h1 {
    margin-bottom: 8px;
    display: inline
}

.ckepop {
}

#footer {
    margin-bottom: 30px
}

#footer .first {
    font-weight: bold
}

.clear {
    clear: both
}

#primaryNews h3 {
    margin-bottom: 10px
}

#primaryNews .thumb {
    max-width: 320px;
    max-height: 218px;
}
#primaryNews .thumb img{
    max-height:218px;
}
#homeActivityPanel {
    position: relative
}

.home-activity {
    height: 167px;
    overflow: hidden
}

.home-activity-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 194px
}

.container_boxShadow {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1
}

.boxShadow img {
    box-shadow: 8px 5px 6px rgba(0,0,0,.25)
}

.newsList .thumb img {
    border: 2px solid #b0b0b0
}

#homeNewsPanel .thumb img {
    box-shadow: 8px 5px 6px rgba(0,0,0,.25)
}

.team img {
    box-shadow: 8px 5px 6px rgba(0,0,0,.25)
}

.line {
    clear: both;
    height: 0;
    overflow: hidden;
    margin: 10px 0;
    border-bottom: 1pt solid #e2e2e2
}

.home-video {
    width: 534px;
    height: 522px;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin: -261px 0 0 -267px
}

.home-video-background {
    width: 534px;
    height: 522px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5
}

.home-video-close {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 999;
    font-size: 14px;
    cursor: pointer;
    color: #fff
}

.home-video-close:hover {
    color: #fff
}

.home-video .home-video-player {
    width: 510px;
    height: 498px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 999;
    background: #fff
}
