body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,iframe {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
 font-family: "Microsoft YaHei";
  user-selet:none;
  -moz-user-selet:none;
  -webkituser-selet:none;
  -khtml-user-selet:none;
 -ms-user-selet:none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}
a:hover,a:active,a:visited{
   text-decoration: none;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  outline: none;
  border: 1px solid #a0a0a0;

}
input[type="button"]{
   cursor: pointer; 
}
input::-ms-clear {
  display: none;
}
iframe{
  border:0 none;
}
body {
  width: 100%;
  background: #fff;
  color: #000;
  font-family: "Microsoft YaHei";
  font-size: 12px;
}
.left{
  float: left;
}
.bg{
background-image:url("../images/icon.png");
}
/*index*/
.main{
  width: 100%;
}
.top{ 
  width: 100%;
  height: 20px;
  background: #000;
  color: #fff;
  font-size: 12px;
  text-align: right;
  line-height: 20px;
}
.top a{
  color: #fff;
  margin-right: 4px;
}
.top a.login{
   margin-right: 35px; 
}
.logo{
  height: 67px;
  width: 100%;
  padding-top:13px;
}
.logo img{
  margin:0 0 0 20px;
}
.banner{
  overflow: hidden;
}
.container{
  width:1000px;
  margin:0 auto;
}
.base_top{
/*  margin-top: 28px;*/
  height: 235px;
}
.login-left{
  width:285px;
  height: 100%;
  position: relative;
}
.main_content{
  width: 100%;
  height: 100%;
  top:0;
  position: absolute;
  background:#efefef; 
  z-index: 100;
  border:1px solid #cdcdcd;
}
.shdow{
  background-position: 0 -191px;
  width: 285px;
  height: 100px;
  position: absolute;
  top:150px;
  z-index: 1;
}
.title{
  height: 35px;
  line-height: 35px;
}

.title .hover{
 background: url("../images/bg_3.png ") repeat-x;
 color: #fff;
}
.new_user{
  margin-top: 10px
}
.title ul li{
width: 50%;
text-align: center;
color: #565455;
cursor: pointer;
}
.main_content .title{
    width: 100%;
    color: #000;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-bottom: 2px solid #51BBFF;
}
.main_content .title .login {
  margin-left: 20px;
}
.main_login .show_usb{
  display: inline-block;
  width: 51%;
  float: left;
  overflow: hidden;
  text-align: center;
  margin: 20px 0;

}
.main_login ._detail{
  margin: 25px 0  20px;
  display: inline-block;
  width: 49%;
  float: left;
  overflow: hidden;
  text-align: right;


}
.nsrsbh{
  clear: both;
  height: 35px;
  line-height: 35px;
  width: 100%;
  margin: 0 auto;
  margin-left: 15px;
}
.nsrsbh input{
  border-color: #cdcdcd;
  height: 20px;
  padding-left: 5px;
  margin-left: 3px;
  width: 150px;
}
.login_submit{
  width: 70px;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  color: #fff;
  background: #32A0FF;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 2px;
  margin:20px 0 20px 100px;
  cursor: pointer;
}
.login_submit a{
  display: block;
  color: #fff;
}
.new_user div{
height: 35px;
line-height: 35px;
}
.new_user label{
cursor: pointer;
display: inline-block;
text-align: right;
width: 100px;
}
.new_user input{
height: 18px;
line-height: 18px;
width: 150px;
color: #4e688d;

}
.new_user .check{
cursor: pointer;
margin-left: 5px;
font-size: 14px;
color: #565455;

}
.new_user input.login_b{
  background: url("../images/bg_1.png ") repeat-x;
  height: 26px;
  border: none;
  line-height: 24px;
  color: #fff;
  font-family: "微软雅黑";
}
.pub_select{
  width:451px;
  height: 100%;
  margin-left: 30px;
  position: relative;
}
.select_content{
  width: 97%;
  height: 118px;
  background: url("../images/bg_2.png ") repeat-x;
  border: 2px solid #d5d4d2;
  position: relative;
  padding-left: 3%;

}
.select_content .pre{
      cursor: pointer;
      display: inline-block;
      float: left;
      width: 15px;
      height: 120px;
      line-height: 150px;
   }
.select_content  .next{
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 120px;
      line-height: 150px;
      width: 20px;
   }
.select_content .imagecontent{
    width: 90%;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    position: relative;
   }
.select_content .showimage{
    position: absolute;
    width: 5000px;
   }
.select_content .showimage ul li{
    display: inline-block;
    float: left;
    overflow: hidden;
    margin: 0 40px;
    cursor: pointer;
   }
.select_content .showimage ul li img{
     /* margin: 5px 10px;*/
      display: block;
   }
.select_content .showimage ul li span.name{
      display: block;
      text-align: center;
      margin: 5px 0;
   }
.select_content .imagecontent{
      margin-top:6% ;
      float: left;
      height: 70%;
      overflow: hidden;
      padding-top: 10px;
      position: relative;
  }


.select_content dl{
  width: 33%;
  cursor: pointer;
}
.select_content dl dd img{
  margin: 30px 40px 10px 0;
}
.select_content dl dt,.select_content dl dd{
  text-align: center;
}
.select_title{
    background-position: -90px -60px;
    color: #fff;
    height: 30px;
    left: -10px;
    line-height: 26px;
    position: absolute;
    text-align: left;
    top: 8px;
    width: 100px;
    z-index: 1001;
}
.sel_net{
  margin-top:12px; 
}
.Calendar {
    line-height: 1.5em;
    margin-top: 5px;
    text-align: center;
    width: 100%;

  
  line-height:1.5em;
    position: relative;
}
.Calendar table{
  width:175px; 
  border:0;
  margin:0 auto;
}

.Calendar table thead td{
  height: 24px;
  background:  #cbc9ca;
  border-right: 1px solid #fff;
  color:#000;
  padding:1px;
  font-size:12px;}

.Calendar table tbody td {
  font-size: 10px;
  height:23px;
  border: 1px solid #fff;
  background:#f5f7f9;
  color:#000;
}
/*cal td height fix*/
.Calendar table.tb_date.special thead td{
  height: 20px;
  line-height: 20px;
}
.Calendar table.tb_date.special tbody td{
  height: 20px;
  line-height: 20px;
}
.Calendar table tbody td a{color:#8b9299;height:24px; line-height:24px;}
#idCalendarPre{
  cursor:pointer;
  margin-left:20px;
}
#idCalendarNext{
  cursor:pointer;
  margin-left:30px;
}
#idCalendarPre_little{
  cursor:pointer;
  margin-left:20%;
}
#idCalendarNext_little{
  cursor:pointer;
  margin-left:4px;
}
#idCalendar td.onToday {
  font-weight:bold;
  background:#036fb8;
  color:#e9e60f;
}
#idCalendar td.onToday a{color:#fff;}
#idCalendar_little td.onToday {
  font-weight:bold;
  background:#778088;
  color:#fff;
}
#idCalendar td.onSelect {
  font-weight:bold;
}
.thisday{
  background:#96caff;
    border: 1px solid #ccc;
    color: #fff;
    display: block;
}

#day0,#day6{
  background:#379bff;
    border: 1px solid #379bff;
  color: #fff;
}
#day0,#day1,#day2,#day3,#day4,#day5,#day6{ color:#FFF;}

.nullday{
  background:#ccc;
    border: 1px solid #ccc;
}
.Calendar_top{
  width:99%;
  height:30px;
  line-height:30px;
  text-align:left;
  cursor:pointer;
  position:relative;
}
.Calendar_title{ margin-left:10px;}
.Calendar_top span input{ width:31%}
.Calendar_top span{ line-height:30px;}
.Calendar_input{padding: 1px 2px; margin-left: 30px;}
.date_time{
  width: 210px;
 
  position: relative;
  height: 100%;
  margin-left: 20px;
}
.date_content{
  width: 206px;
  background: #efefef;
  position: absolute;
  height: 100%;
  top：0;
  z-index: 100;

}
.shdow_1{
  background-position: -40px -287px;
  width: 210px;
  height: 70px;
  position: absolute;
  top:174px;
  z-index: 1;
}
.date_title {
    background-position: -30px -128px;
    color: #fff;
    height: 30px;
    left: -6px;
    line-height: 26px;
    position: relative;
    text-align: left;
    top: 12px;
    width: 226px;
    z-index: 1001;
}
.date_title span,.select_title span{
    margin-left: 20px;

}
.base_bottom{
  width: 100%;
  height: 200px;
  margin-top: 26px;
}
.big_th{
  width: 676px;
  height: 100%;
  background: url("../images/bg_4.png ") repeat-x;
  border: 2px solid #d5d4d2;
  position: relative;
  height: 175px;
}

.base_information{
  height: 100%;
  margin-right: 30px;
  width: 285px;
  position: relative;
  font-size: 14px;
}
.base_information ul li{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  height: 75px;
  line-height: 75px;
  background: #FFF;
  position: relative;
  border: 1px solid #cdcdcd;
}
/*.base_information ul li.hover_1{
  background: #32A0FF;
}
.base_information ul li.icon1.hover_1 a{
  color: #e9e60f;
  background-image: url("../images/pagehover.png");
  background-position: 0 0px;
  height: 75px;
}
*/

.query_bg{
  position: absolute;
  width: 26px;
  height: 29px;
  display: inline-block;
  background-image: url("../images/query_bg.png");
  top: 15px;
  left: 285px;
}

.base_information ul li a{
  display: block;
  width: 255px;
  height: 100%;
  cursor: pointer;
  background-image: url("../images/page.png");
  background-repeat: no-repeat;
  padding-left: 30px;
  color: #333;
}
.base_information  ul li.icon1 a{
  background-position: 0 0;
  height:75px;
}
.base_information  ul li.icon2 a{
  background-position: 0 -105px;
  height:75px;
 
}

.base_information ul li.icon1.hover_1 a{
   background-image: url("../images/pagehover.png");
  background-position: 0 0;
  height:75px;
  background-color: #32A0FF;
  color: #fff;
 
}
.base_information  ul li.icon2.hover_1 a{
  background-image: url("../images/pagehover.png");
  background-position: 0 -105px;
  height:75px;
  background-color: #32A0FF;
  color: #fff;
}

.base_bottom .tab li.tab_active{
   background-color: #114d93;
   background-image:none;
   color: #CFD11E;
}
.base_bottom .tab li.icon1.tab_active a{
  background-image: url("../images/pagehover.png");
  background-position: 0 0;
  height:57px;
}
.base_bottom .tab li.icon2.tab_active a{
  background-image: url("../images/pagehover.png");
  background-position: 0 -70px;
  height:57px;
}
.base_bottom .tab li.icon3.tab_active a{
  background-image: url("../images/pagehover.png");
  background-position: 0 -135px;
  height:57px;
}

.big_th.left ul{
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.big_th.left ul li{
  float: left;
  width: 25%;
  height:40px;
  line-height: 40px;
}
.big_th.left ul li:hover{
  cursor: pointer;
}
.big_th.left .active{
  color:#ed6a40;
}
.tabcontent{
  clear: both;
  width: 100%;
  overflow:hidden;
}
.tabcontent_item {
  height: 100%;
  position: relative;
}
.tabcontent_item .info_left{
  width: 48%;
  float: left;
  overflow: hidden;
  padding-left:20px;
}
.tabcontent_item .info_right{
  width: 49%;
  float: right;
  overflow: hidden;
}
.tabcontent_item table td{
 height: 25px;
 line-height: 25px;
}
.tabcontent_item table td.name{
  text-align: right;
  padding-right: 5px;
}
.tabcontent_item table td input{
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
}
.tabcontent_item .query{
  padding-top: 20px;
  padding-left: 20%;
}
.tabcontent_item .contion{
  padding-right: 10px;
}
 .query_btn{
  /*background: url("../images/query.png") repeat-x 0 0;*/
  color: #fff;
  background:#32A0FF;
  color: #fff;
  text-align: center;
  width: 70px;
  height: 25px;
  line-height: 25px;
  display: block;
  margin:5% 0 0 30%;
  display: inline-block;
  border-radius: 4px;
}
.tabcontent_item .query_btn:hover{
  cursor: pointer;
}
.query_all{
  clear: both;
  width: 100%;
  text-align: center;
}
.tabcontent .query_all a{
  margin:15px 20px 0 0;
}
.tabcontent .query_all .query_btn{
  display: inline-block;
}
.footer{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #32a0ff;
  text-align: center;
  color: #fff;
}
.banner_bg{
  width: 100%;
  height: 39px;
  background: url("../images/banner_bg.png ") repeat-x;

}
.banner img{
    display: block;
    height: 230px;
    left: 50%;
    margin-left: -960px;
    position: relative;
    width: 1920px;
}
.tab_content .code_table{
  width: 100%;
  text-align: center;
}
.tab_content .code_table tr{
  width: 100%;
  height: 45px;
  line-height: 45px;
}
.tab_content .code_table .title{
  text-align: center;
 
}
.tab_content .code_table  .title span{
  margin-top: -15px;
  line-height: 20px;
  height: 20px;
}
.tab_content .code_table .code{
  text-align: right;
}
.tab_content .code_table input{
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  text-align: left;

}
.tab_content .code_table input[type="checkbox"]{
   border:none;
}
 
.tab_content  .query_btn{
  margin: 1% 7% 0 7%;
  cursor: pointer;
}
.main_content .active_login{
  border-bottom: 3px solid #50b8ff;
}
#kinMaxShow{visibility:hidden;width:100%; height:230px; overflow:hidden;}
/*注册页面*/
.register{
  width: 100%;
  overflow:hidden;
  min-width: 1000px;
  margin: 0 auto;
}
.register .reg_top{
  background: url("../images/reg_bg.png") repeat-x 0 0;
  height: 100px;
  position: relative;
}
.register .reg_top .logo1{
  display: inline-block;
  margin:20px 0 20px 15px ;
}
.register .reg_top .logo2{
  display: inline-block;
  width: 2px;
  height: 45px;
  background: #fff;
  position: absolute;
  top:22px;
  left: 460px;
  margin-right:40px;
}
.register .reg_top .welcome_code{
  position: absolute;
  font-size: 22px;
  color: #fff;
  left: 500px;
  top:30px;
  letter-spacing: 1px;
}
.logo_bottom{
  background: url("../images/logo_bottom.png") repeat-x 0 0;
  height: 5px;
}
.register_content{
 width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #efefef;
}
.reg_main .reg_list{
  width: 100%;
  border-bottom: 2px solid #d8d8d8;
  height: 40px;
  line-height: 40px;
}
.reg_main .reg_list li{
   float: left;
   width: 135px;
   text-align: center;
   color: #000;

}
.reg_main .reg_list .reg_active{
  border-bottom: 4px solid #3ba8ff;
}
.comp_detail{
  margin: 15px 0 0 90px;
}
.reg_detail .detail{
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  width: 550px;
}
.reg_detail .detail label{
text-align: right;
width: 150px;
}
.red{
  color: red;
}

