body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,iframe,input {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
 font-family: "Microsoft YaHei";
  user-selet:none;
  -moz-user-selet:none;
  -webkituser-selet:none;
  -khtml-user-selet:none;
 -ms-user-selet:none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  display: block;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  white-space: normal;
  word-break: break-all;
  cursor: pointer;
}
a:hover,a:active,a:visited{
   text-decoration: none;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  outline: none;
}
input::-ms-clear {
  display: none;
}
iframe{
  border:0 none;
}
body {
  width: 100%;
  background: #fff;
  color: #776e65;
  font-family: "Microsoft YaHei";
  height: 100%;
  overflow-y:auto;
}
/*head-start*/
/* login before head -start*/
#head_lbbox{
  height: 100px;
  width: 100%;
  min-width: 1024px;
  background-color: #32A0FF;}
#head_lbbox .head_lb{ 
  background: url(../images/topheadbg.png) no-repeat center;
}
#head_lbbox .head_lb .logo{
  width: 450px;
  height: 100px;
  background: url(../images/logo_1.png) no-repeat center;
}
/* login before head end*/
#head{
  min-width: 1024px;
  background: #fff;
  color: #555;
  position: relative;
}
#head .logo{
  width: 407px;
  height: 75px;
  background: url(../images/logo.png) no-repeat center;
  float: left;
  margin-left: 20px;
}
#head .links{
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 10px;
  font-size: 12px;
}
#head .links a{
  color: #333;
}
#head .links span{
  float: right;
  margin:0 10px;
  cursor: pointer;
  font-size: 12px;
}
#head .links .level,#head .links .username{
  color: orange;
}
#head a{
  color: #fff;
}
#head a:hover{
  color: red;
}
#head #mainMenu{
  height: 40px;
  overflow: hidden;
  font-size: 16px;
  clear: both;
  background-color: #32A0FF;
}
#head #mainMenu ul{
  width: 100%;
  overflow: hidden;
}
#head #mainMenu ul li{
    width: 10%;
    min-width: 110px;
    float: left;
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    /*background-image: url(../images/headicons.png);*/
    background-repeat: no-repeat;
    color: #fff;
}
#head #mainMenu ul li#tab1{
  background-position: -373px center;
}
#head #mainMenu ul li#tab2{
  background-position: -476px center;
}
#head #mainMenu ul li#tab3{
  background-position: -570px center;
}
#head #mainMenu ul li#tab4{
  background-position: -679px center;
}
#head #mainMenu ul li#tab5{
  background-position: -774px center;
}
#head #mainMenu ul li#tab6{
  background-position: -864px center;
}
#head #mainMenu ul li.tabselected{
  background-color: #036EB8;
  border-top: none;
  border-bottom: none;
  color: #FFF100;
}
#bj_main_container .tab_container{
  /*min-height: 400px;*/
  min-width: 1024px;
  overflow: hidden;
}
#footer{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  background-color: #32A0FF;
  color: #fff;
  /* margin-top: 20px; */
  clear: both;
  min-width: 1024px;
}
/*head-end*/

/*shouye-start*/
.common_container{
  position: relative;
  overflow: hidden;
}
#ad_banner { 
  width:100%; 
  height:135px; 
  overflow:hidden;
  position:relative;
}
#ad_banner .slider{width:100%;}
#ad_banner .slider,.num{
  position:absolute;  
}

#ad_banner .slider li span{ 
  width:1920px;
  height:135px;
  position:relative;
  top:0;
  left:50%;
  margin-left:-960px;
  display:block; 
  vertical-align: top;
  padding: 0;
}
#ad_banner .slider li.li1{
  background-color: #1C93D7;
}
#ad_banner .slider li.li2{
  background-color: #2AA3D9;
}
#ad_banner .slider li.li3{
  background-color: #5BA3CB;
}
#ad_banner .slider li.li4{
  background-color: #A4DFD3;
}
#ad_banner .slider li.li5{
  background-color:#1164A8 ;
}
#ad_banner .slider li.li6{
  background-color: #217A88;
}
#ad_banner .slider li img{
  width: 1920px;
  height: 135px;
}
#ad_banner .num{ 
  right:30px; 
  bottom:10px;
}
#ad_banner .num li{
  float: left;
  cursor: pointer;
  overflow: hidden;
  margin: 3px 2px;
  width:14px; 
  height:14px; 
  background: #bfbfbf; 
  background:url(../images/button_2.png) no-repeat 0 0 ;
}
#ad_banner .num li.on{
    width: 14px;
    height:14px;
    /*background-color: #FFCC2D;*/
    background:url(../images/button_1.png) no-repeat 0 0 ;
}
#leftMain_container{
  /* float: left; */
  margin-top: 20px;
  min-width: 579px;
  /* position: relative; */
  padding: 0 430px 20px 15px;
}
/*messagebox -start*/
#messagebox{
  border: 1px solid #E4E1E0;
  margin-top: 15px;
  background: url(../images/messageboxbg.png) repeat-x bottom;
  height: 170px;
}
.mstitle{
    overflow: hidden;

    position: relative;
    top: 0;
    left: -13px;
    height: 50px;
}
.mstitle span{
  font-size: 14px;
  text-align: center;
  background: url(../images/shouyeicos.png) -0px -96px;
  display: block;
  float: left;
  width: 123px;
  height: 30px;
  margin-top: 15px;
  color: #fff;
}
.mstitle a.more{
  float: right;
  font-size: 12px;
  color: #555;
  line-height: 30px;
  margin-right: 5px;
}
#messagebox ul li{
  line-height: 30px;
  font-size: 14px;
}
#messagebox #emptyMsg{
  color: orange;
  font-size: 16px;
  text-align: center;
  line-height: 100px;
  display: none;
}
#messagelist{
  width: 95%;
  margin:  0 auto;
}
/*messagebox -end*/
/*applistbox -start*/
#applistbox {
  margin-top: 15px;
  border: 1px solid #E4E1E0;
  height: 230px;
}
#applist_contentbox{
    overflow: hidden;
    position: relative;
}
#applist_contentbox #prev{
    position: absolute;
    height: 150px;  
    left: 0;
    top: 0;
    width: 25px;
    background: url(../images/left_arrow.png) no-repeat right center;
    cursor: pointer;
}
#applist_contentbox #next{
    position: absolute; 
    right: 0;
    height: 150px;
    background: url(../images/right_arrow.png) no-repeat left center;
    width: 25px;
    top: 0;
    cursor: pointer;
}
#applist_content{
  width: 92%;
  height: 150px;
  margin-left: 4%;
  overflow: hidden;
  position: relative;
}
#applistbox ul {
  width: 5000px;
  height: 150px;
  position: absolute;
}
#applistbox ul li{
  display: block;
  float: left;
  cursor: pointer;
}
#applistbox #dots{
    width: 130px;
    margin: 8px auto;
    overflow: hidden;
}
#applistbox #dots span{
    display: block; 
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 3px;
}
#applistbox #dots span.active{
  background-color: orange;
}
/*applistbox -end*/

#rightMain_container{
  width: 400px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
}
#taxCalendar {
  background-color:#fff;
   text-align:center;
   width:100%;
   margin:0 1% 0 0;
  line-height:1em;
  border: 1px solid #D3D1D0;
  overflow: hidden;
  min-height: 214px;
}
.taxCalendar-content{
  overflow: hidden;
}
#taxCalendar table.tb_date{
  background: #F5F5F5;
  width:100%; 
  margin:0;
}
#taxCalendar table.tb_date thead td{
  border-right: 1px solid #E2E1E1;
  color: #333;
  font-size:12px;
  height: 35px;
  line-height: 35px;
  background: #C9CACA;}

#taxCalendar table.tb_date tbody td {
  font-size: 12px;
  height:32px;
  text-align: center;
  border-top: 1px solid #E2E1E1;
  border-right: 1px solid #E2E1E1;
  color:#333333;
  position:relative;
  cursor: pointer;
}
#taxCalendar table.tb_date.special tbody td{
    height:28px;
    line-height: 28px;
}
#taxCalendar table.tb_date.special thead td{
    height:25px;
    line-height: 25px;
}
.Calendar_top{
  width:27.8%;
  height:100%;
  background: #2298FD;
  line-height:30px;
  text-align:left;
  cursor:pointer;
  color:#fff;
  position: relative;
}
.distance{width:100%; text-align:center; float:left; display:block; margin-top:20px;clear: both;}
.distance span{ display:inline-block;width:auto;height:30px; border-bottom:1px solid #fff; font-size:20px; font-weight:bold;}
.Calendar_title{ margin-left:10px;}
.Calendar_top span input{ width:31%}
.Calendar_top span{ line-height:30px;}
.Calendar_input{ color:#fff;}
#idCalendarPre,#idCalendarNext{ background-image: url(../images/shouyeicos.png); _background-image: url("../images/shouyeicos.png");background-repeat:no-repeat;width:9px;height:20px; display: block; float: left;}
#idCalendarPre{ background-position: -2px -151px;}
#idCalendarNext{ background-position: -84px -151px;}
.Calendar_update{float:left;width:69px;/* margin-left:5px;display:inline; */}
.Calendar_year{font-size:20px}
.Calendar_month{font-size:16px}

#taxCalendar  #action{
  font-size: 12px;
  width: 40px;
  position: absolute;
  top: 15px;
  right: 0;
}
#taxCalendar  #action li{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 3px;
  border: 1px solid #E2E1E1;
  border-right: none;
  cursor: pointer;
}
#taxCalendar  #action li.active{
  background-color: #32A0FF;
  color: #FFF100;
}
#taxCalendar #idCalendar td.onToday {
  font-weight:bold;
  background:#036EB8;
  color:#FFF100;
}
#taxCalendar #idCalendar td.onToday a{color:#fff;background:#07426A;}

#taxCalendar #idCalendar td.onSelect {
  font-weight:bold;
}
#taxCalendar .thisday{
  background:#96caff;
    color: #fff;
    display: block;
}
#taxCalendar .taxCalendar-item{
  position: relative;
  top:0;
  left: 0;
  width: 350px;
  float: left;
}
#monthCalendar{

}
#yearCalendar{
  display: none;
}
/*备忘录*/
#memo{
  display: none;
  font-size: 12px;
}
#memo #memolistbox{
  height: 214px;
  overflow-y: hidden;
}
#memo #memolistbox span.cbtn{
    display: block;
    position: absolute;
    right: -35px;
    width: 16px;
    height: 16px;
    background-image: url(../images/cal_icos.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
#memo #memolistbox span#btnAdd{
    top: 155px;
    background-position: 0px 0px;
}
#memo #memolistbox span#btnPre{
    top: 175px;
    background-position: -32px 0px;
}
#memo #memolistbox span#btnNext{
    top: 194px;
    background-position: -16px 0px;
}
#memo #memolist {

}
#memo #memolist li{
    clear: both; 
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #E4E1E0;
    width: 96%;
    margin-left: 3%;
    background: url(../images/cal_icos.png) no-repeat 0 -17px;
    cursor: pointer;
}
#memo #memolist li:hover{
   border-bottom  : 1px solid #A1D4FF;
}
#memo #memolist li span.title{
    float: left;  
    text-indent: 20px;
    display: block;
    width: 250px;
    height: 26px;
    white-space: nowrap;  
    word-wrap: normal;  
    overflow: hidden;  
    text-overflow: ellipsis;
    text-align: left;

}
#memo #memolist li:hover{
  /*background: url(../images/cal_memo_bg.png) no-repeat 0 0;*/
}
#memo #memolist li span.date{
  color: #999;
  font-size: 12px;
  float: right;
}
.memoDetail{
    display: none;
}

#memoTitle,#memoDate{
    width: 96%;
    margin-left: 3%;
    border-bottom: 1px solid #E4E1E0;
    line-height: 25px;
    clear: both;
    height: 26px;
}
#memoContent{
    width: 96%;  
    margin-left: 3%;  
    line-height: 25px;
    clear: both;
    overflow: hidden;
}
.memoDetail .label{
  color: #999;
  float: left;
}
.memoDetail input[type="text"].memo{
  border: 1px solid #fff;
  width: 300px;
  line-height: 24px;
  height: 24px;
  color: #333;
  margin-left: 10px;
  float: left;
}
.memoDetail input[type="text"]#actionDate{
  width: 100px;
}
.memoDetail textarea.memo{
    width: 300px;
    line-height: 20px;
    height: 110px;
    border: 1px solid #E4E1E0;
    margin-top: 16px;
    padding: 0;
    text-indent: 20px;
    font-family: "Microsoft YaHei";
    color: #333;
    float: right;
}
.memobtns{
  clear: both;
  margin-top: 5px;
}
#btnMemoSave,#btnMemoClose,#btnMemoDelete{
    color: rgb(50, 160, 255);
    cursor: pointer;
    /* background-color: rgb(50, 160, 255); */
    padding: 4px;
    margin: 0 10px;
    font-size: 12px;
    line-height: 20px;
}
.new #btnMemoDelete{
  display: none;
}
.combo.datebox{
  border: 1px solid #E4E1E0;
}
#memo .combo.datebox{
  border: 1px solid #E4E1E0;
  margin-left: 20px;
  margin-top: 3px;
  float: left;
}
.datebox-button td a{
  display: block;
}
.datebox-calendar-inner .calendar table td, .datebox-calendar-inner .calendar table th{
  line-height: 24px;
  height: 24px;
}
/*tab*/
#right_tabs{
  margin-top: 10px;
  position: relative;
}
#right_tabs .menu{
  position: relative;
  height: 80px;
  padding: 0;
  border: none;
}
#right_tabs .menuactivebg{
  width: 137px;
  height: 90px;
  background: url(../images/symenubg.png) right 0 no-repeat transparent;
  position: absolute;
  top: -5px;
  left: 0px;
  z-index: 0;
}
#right_tabs .menu span{
    display: block;
    width: 133px;
    height: 80px;
    line-height: 126px;
    font-size: 12px;
    color: #333;
    text-align: center;
    background-image: url(../images/shouyeicos.png);
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    background-color: #EFEFEF;
}
#right_tabs .menu span.span1{
    background-position: 49px 15px;
}
#right_tabs .menu span.span2{
    background-position: -49px 15px;
}
#right_tabs .menu span.span3{
    background-position: -247px 15px;
}
#right_tabs .menu span.span4{
    background-position: -268px 15px;
}
#right_tabs .menu span.active{
  background-color: rgb(50, 160, 255);
  color: #fff;
}
.tabscontent{
  
}
.tabscontent a{
  color: #333;
}
.tabscontent .red{
  color: red;
  font-style: normal;
  font-weight: bold;
} 
/*发票查询-start*/
.query_invoice{
    border: 1px solid #E4E1E0;
    border-top: none;
    height: 262px;
    font-size: 14px;
}
.query_invoice ul{
    width: 77%; 
    margin: 0 auto;
}
.query_invoice ul li{
    line-height: 32px; 
    clear: both;
}
.query_invoice span.name{
   width: 100px;
   display: block;
   float: left;
   text-align: right;
}

.tabscontent input[type="text"]{
    height: 24px;
    line-height: 24px;
    text-indent: 5px;
    border: 1px solid #C7C5C5;
    width: 200px;
}
.tabscontent input[type="text"].regx{
    width: 70px;
  
}
.query_invoice .message{
    width: 160px;
    line-height: 50px;
    color: orange;
    margin: 0 auto;
}
.query_invoice .message input[type="checkbox"]{
   margin: 0 10px;
}
.query_invoice .btns{
    width: 205px;
    margin: 20px auto 0 auto;
}
.btn{
    border: none; 
    width: 80px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background-color: #32A0FF;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;
}
/*发票查询-end*/
.query_creditrate{
    border: 1px solid #E4E1E0;
    border-top: none;
    height: 262px;
    font-size: 14px;
}
.query_creditrate  span.name{
   width: 120px;
   display: block;
   float: left;
   text-align: right;
}
.query_creditrate ul{
    width: 82%; 
    margin: 0 auto;
}
.query_creditrate .btns{
  width: 100px;
  margin: 20px auto 0 auto;
}
.query_creditrate ul li{
    line-height: 42px; 
    clear: both;
}
.query_creditrate .message{
    width: 82%;
    line-height: 60px;
    color: orange;
    margin: 0 auto;
    font-size: 16px;
}
/*信用等级查询-end*/
/* 黑名单查询 query_blacklist -start*/
.query_blacklist {
    font-size: 14px;

    border: 1px solid #E4E1E0;  border-top: none;
    height: 262px;
}
.query_blacklist .menuquery{
    overflow: hidden;
  
}
.query_blacklist .menuquery span{
    width: 99px;  
    display: block;
    float: left;
    line-height: 30px;
    cursor: pointer;
    color: rgb(8, 140, 253);
    text-align: center;
}
.query_blacklist .menuquery span.active{
   color: orange;  
}
.query_blacklist .menuquery_content{
    line-height: 25px;
}
.query_blacklist .menuquery_item ul{
    width: 95%;
    margin: 0 auto;
}
.query_blacklist .menuquery_item .name{
    width: 145px;
    display: block;
    float: left;
    text-align: right;
}
.query_blacklist .menuquery_item input[type="text"]{
  width: 230px;
  height: 20px;
  line-height: 20px;
}
.query_blacklist .menuquery_item .btns{
  width: 205px;
  margin: 2px auto 0 auto;
}
.menuquery_item select {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  min-width: 150px;
  height: 22px;
  line-height: 22px;
  max-width: 390px;
}
.menuquery_item .selectbox{
  line-height: 30px;
  width: 98%;
  padding: 30px 0 30px 2%;
  font-weight: bold;
}
.menuquery_item02 .selectbox,.menuquery_item04 .selectbox{
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
}
/* 黑名单查询 query_blacklist -end*/
/*网上办税厅-start*/
#wsbs{
  overflow: hidden;
  border-top: 1px solid #E4E1E0;
  border-left: 1px solid #E4E1E0;
  margin-top: 19px;
}
.inlineTaxStation li{
  width: 99px;
  display: block;
  float: left;
  height: 80px;
  line-height: 130px;
  text-align: center;
  font-size: 12px;
  background-image: url(../images/syimgs.png);
  background-repeat: no-repeat;
  border-right: 1px solid #E4E1E0;
  border-bottom: 1px solid #E4E1E0;
}

.inlineTaxStation li a:hover{color: orange;}
.inlineTaxStation li.li1{background-position:-0px 0px;width: 98px;}
.inlineTaxStation li.li2{background-position:-100px 0px;}
.inlineTaxStation li.li3{background-position:-200px 0px;}
.inlineTaxStation li.li4{background-position:-300px 0px;}
.inlineTaxStation li.li5{background-position:-0px -100px;width: 98px;}
.inlineTaxStation li.li6{background-position:-100px -100px;}
.inlineTaxStation li.li7{background-position:-200px -100px;}
.inlineTaxStation li.li8{background-position:-300px -100px;}
.inlineTaxStation li.li9{background-position:-0px -200px;width: 98px;}
.inlineTaxStation li.li10{background-position:-100px -200px;}
.inlineTaxStation li.li11{background-position:-200px -200px;}
.inlineTaxStation li.li12{background-position:-300px -200px;}

.inlineTaxStation li.li1:hover{background-position:-0px -300px;}
.inlineTaxStation li.li2:hover{background-position:-100px -300px;}
.inlineTaxStation li.li3:hover{background-position:-200px -300px;}
.inlineTaxStation li.li4:hover{background-position:-300px -300px;}
.inlineTaxStation li.li5:hover{background-position:-0px -400px;}
.inlineTaxStation li.li6:hover{background-position:-100px -400px;}
.inlineTaxStation li.li7:hover{background-position:-200px -400px;}
.inlineTaxStation li.li8:hover{background-position:-300px -400px;}
.inlineTaxStation li.li9:hover{background-position:-0px -500px;}
.inlineTaxStation li.li10:hover{background-position:-100px -500px;}
.inlineTaxStation li.li11:hover{background-position:-200px -500px;}
.inlineTaxStation li.li12:hover{background-position:-300px -500px;}

.inlineTaxStation li a{  
  color: #333;
  display: block;
  height: 100%;
  width: 100%;
}
/*网上办税厅-end*/
/*查询页面query_container start*/
.query_container{
  position: relative;
  color: #333;
  min-width: 1024px;
}
.leftqueryTree{
  position: absolute;
  top:0;
  left: 0;
  width: 200px;
  font-size: 14px;
  text-indent: 60px;
  background-color: #E6E6E6;
  height: 300px;
  min-height: 420px;
}
.leftqueryTree ul{
  height: 300px;
  margin-top: 20px;
  width: 210px;
}

.leftqueryTree ul.ul1{
  background: url(../images/leftTreebg2.png) 0 0 no-repeat;
}
.leftqueryTree ul.ul2{
  background: url(../images/leftTreebg2.png) 0 47px no-repeat;
}
.leftqueryTree ul.ul1 .li1{
  background-image: url(../images/leftTreebg1hover.png);
  color:#FFF100;
}
.leftqueryTree ul.ul1 .li1 a,.leftqueryTree ul.ul2 .li2 a {
  color:#FFF100;
}
.leftqueryTree ul.ul1 .li2:hover,.leftqueryTree ul.ul2 .li1:hover{
  background-color: #b8ddf2;
}
.leftqueryTree ul.ul2 .li2{
   background-image: url(../images/leftTreebg1hover.png);
  color:#FFF100;
}
.leftqueryTree li{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-image: url(../images/leftTreebg1.png);
    display: block;
    background-repeat: no-repeat;
    margin-bottom: 7px;
    cursor: pointer;
}
.leftqueryTree li a{
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}
/*.leftqueryTree li:hover{
  background-image: url(../images/leftTreebg1hover.png);
  background-color: #b8ddf2;
}*/
.leftqueryTree li:hover a{
   /*color: #FFF100;*/ 
}
.leftqueryTree li.li1{
    background-position: 30px 12px; 
}
.leftqueryTree li.li2{
    background-position: 30px -57px; 
}
.leftqueryTree li.li3{
    background-position: 30px -122px; 
}
.leftqueryTree li .rightbg{
  
}
.rightquery_content{
  /* position: relative; */
  margin-left: 210px;
  font-size: 12px;
  padding-top: 20px;
  min-height: 400px;
}
.query_content{
    width: 97%;
    margin: 0 auto;
}
.querylinks{
  font-size: 14px;
  line-height: 40px;
  clear: both;
  overflow: hidden;
}
.querylinks.tabs{
  margin-bottom: 20px;
}
.querylinks span{
  display: block;
  float: left;
  margin: 0 8px;
}
.querylinks span.sp1{
  background: url(../images/query_icos.png) 19px -6px no-repeat;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;
  width: 180px;
  height: 40px;
  text-indent: 59px;
}
.querylinks span.sp2{
  background: url(../images/query_icos.png) 20px -54px no-repeat;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;  width: 180px;  height: 40px;    
  text-indent: 65px;
}
.querylinks span.sp3{
  background: url(../images/query_icos.png) 12px -106px no-repeat;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;  width: 180px;  height: 40px;    
  text-indent: 50px;
}
.querylinks span.sp4{
  background: url(../images/query_icos.png) 25px -154px no-repeat;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;  width: 180px;  height: 40px;    
  text-indent: 70px;
  margin-right: 0;
}
.querylinks span.sp1:hover a,.querylinks span.sp2:hover a,
.querylinks span.sp3:hover a,.querylinks span.sp4:hover a{
  color: orange;
}
.querylinks span#back{
  width: 100px;
  float: right;
  color: #333;
  background: url(../images/home.png) no-repeat left center;
  cursor: pointer;
  text-indent: 30px;
  margin-right: 20px;
}
.querylinks a{
  display: block;
  float: left;
  color: #333;
}
.query_table thead{
    width: 97%;     
    background-color: #DCDDDD;
    font-size: 14px;
    text-indent: 30px;
    border-bottom: 1px solid #C2C0BF;
    text-align: left;
}
.query_table th{
  text-align: left;
}
.query_table{
    width: 100%;
    background-color: #F7F8F8;
    margin-bottom: 20px;
    border: 1px solid #C2C0BF;
    clear: both;
}
.query_table td{
  border-bottom: 1px solid #C2C0BF;
}
.query_table td,.query_table th{
  height: 40px;
  line-height: 40px;
}  
.query_table td.tip{
  text-align: center;
}
.query_table input[type="checkbox"] {
  margin: 0 10px;
}
.query_table em.red{
  color: red;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.query_table td.label{
  text-align: right;
}
.query_table td.data{

}
.query_table td.data input{
  width: 90%;
  margin-left: 10px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #C7C5C5;
  text-indent: 10px;
}
.query_table td.data input.regx{
  width: 80px;
}
.rightquery_content .btns{
  width: 245px;
  margin: 10px auto;
}
.rightquery_content .btns .btn{
    margin: 10px 20px;  
}
.query_resultmask{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/pointbg.png) repeat;
}
.result_table thead th{
/*    background-color: rgb(50, 160, 255);
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    border-right: 1px solid #C2C0BF;
    text-align: center;*/
}
.result_table{
  position: absolute;
  top:50%;
  left: 50%;
  border-left: 1px solid #C2C0BF;
  background: url(../images/dialogbg.png) repeat #fff;
}
.result_table td{
  line-height: 20px;
  padding:  10px;
  font-size: 12px;
  border-bottom: 1px solid #C2C0BF;
  border-right: 1px solid #C2C0BF;
}
.result_table p{
  text-indent: 22px;
}
.result_table textarea{
  border: 1px solid #C7C5C5;
  width: 96%;
  height: 100px;
  line-height: 20px;
  font-family: "Microsoft YaHei";
  text-indent: 20px;
}
.result_table input[type="text"]{
    height: 24px;
    line-height: 24px;
    text-indent: 5px;
    border: 1px solid #C7C5C5;
    width: 96%;
}
.result_table input[type="text"].date{
  width: 100px;
}
.btn02{
    border: 1px solid #ccc;  
    width: 80px;  
    height: 28px;  
    line-height: 28px;  
    color: #333;  
    background-color: #EFEFEF;  
    border-radius: 4px;  
    margin: 0 20px;  
    cursor: pointer;
}
.btn02:hover{
  background-color: orange;
  color: #fff;
}
.publicboard{

    border: 1px dashed rgb(220, 221, 221);
    border-top: 3px solid rgb(50, 160, 255);
    line-height: 25px;
}
.publicboard .title{
    color: red;
  
    text-align: center;
    font-size: 14px;
}
.publicboard .publicboard_content{
  
}
.result_table .red{
  color: red;
}
.resultbox {
    margin-top: 10px;

}
.resultbox .result_title{
    width: 100px;

    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #32A0FF;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.datagrid-header {
  background-color: #DCDDDD;
}
.datagrid-pager{
  border: none;
  background-color: #fff;
}
/*查询页面query_container end*/
/*基本信息*/

.content_main{
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.content_main .content_title{
  margin:20px 0 10px 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.content_main .content_title span{
    background: #32A0FF;
    color: #fff;  
    padding: 5px 15px;
}
.content_main .content_table{
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
}
.content_main .content_table table{
  width: 99.9%;
  border-top: 1px solid #cdcdcd;
  border-left:1px solid #cdcdcd;
  color: #000;
}
.content_table td,.content_table th{
   border-right: 1px solid #cdcdcd;
   border-bottom:1px solid #cdcdcd;
   height: 25px;
   line-height: 25px;
}
.baseinfo .content_table td,.baseinfo  .content_table th {
     padding-left: 15px;
}
.content_table .table_title{
   background: #DCDDDD;
   color: #000;
}

.content_table .tip{
  color: red;
}
.content:last-child  table{
  margin-bottom: 10px;
}
 .content_bottom{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 70px;
  line-height: 70px;
}
 .content_bottom a{
  display: inline-block;
  cursor: pointer;
}
 .content_bottom .print{
  padding-right: 30px;
}
/*税务大事记-start*/

.tax_container{
  width: 1000px;
  margin:  0 auto;
  background: url(../images/tax_m_bg.png) no-repeat center 532px;
}
#tax_mem_tabs{
}
#tax_mem_tabs .tax_mem_menu{
    padding-top: 20px;
    border-bottom: 2px solid #32A0FF;
    height: 28px;
    *height: 25px;
    _height: 25px;
}
#tax_mem_tabs .tax_mem_menu span{
    font-size: 14px;
    padding: 6px 10px;    
    margin: 0 22px;
    color: #333;
    cursor: pointer;
    line-height: 25px;
}
#tax_mem_tabs .tax_mem_menu span.active{
    background-color: #32A0FF;
    color: #fff;
}
.tax_mem_content{
   background-color: #fff; 
}
.tax_mem_content a.action{
  margin: 0 5px;
}
/*税务大事记-end*/
/*风险提示页面开始*/
.fxcontent{
  width: 1000px;
  overflow: hidden;
  margin:0 auto;
  color: #000;
  font-size: 12px;
  position: relative;
}
.fxcontent .fx_title{
  font-size: 16px;
  font-weight: bold;
  color:#07426A;
  margin:20px 0 ;
}
.fxcontent .fx_detail{
  text-indent: 2em;
}
.fxcontent .content_bottom{
  text-align: left;
  margin: 3% 0 0 30%;
}
.print_info{
  position: absolute;
  top:30px;
  right: 20px;
  font-size: 12px;
  color: #000;
  height: 21px;
  width: 80px;
  text-align: center;
}
.print_info a{
  display: block;
   cursor: pointer;
}
.print_info .print_btn,.print_info img{
   display: inline;
   vertical-align: middle;
}
.print_info img{
  padding-top: 2px;
}
.print_info .print_btn{
  padding-left: 10px;
}
.report_container{
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}
.report_content{
  width: 100%;
  margin-top: 20px;
  background-color:#EFEFEF;
}
.report_title{
  width: 100%;
  overflow: hidden;
  padding:20px 0 35px 20px;
  color: #40bddd;
  font-weight: bold;
}
.report_title .report,.report_title img{
  display: inline-block;
}
.report_title .report{
  margin-right: 10px;
}
.report_title img{
  vertical-align: middle;
}
.report_main{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.report_main .report_left,.report_main .report_right{
  display: inline-block;
}
.report_main .report_left{
  width: 55%;
  float: left;
  overflow: hidden;
}
.report_main .report_right{
  width: 45%;
  overflow: hidden;
  float: left;
  margin-top: 20px;
}
.report_right img{
  vertical-align: middle;
} 
.report_left .sb_date,.last_date,.avg_date{
  display: block;
}
.report_left .sb_date{
  text-align: right;
  color: #40bddd;
  margin:45px 0 15px 0;
}
.report_left .last_date{
  text-align: right;
  color: #FF5766;
  margin-right: 70px;
  margin-bottom: 15px;

}
.report_left .avg_date{
  text-align: right;
  color: #93BF58;
  margin-bottom: 15px;


}
.report_left ul li {
  color: #000;
  width: 100%;
  overflow: hidden;
 
  line-height: 20px;

}
.report_left .report_tip{
 
  display: block;
  text-indent: 2em;
  margin-bottom: 40px;
  width: 100%;
}
.report_left .tip1 {
   margin-left: 120px;
}
.report_left .tip2{
  margin-left: 154px;

}
.report_left .tip3{
  margin-left: 120px;

}
.last_page{
  clear: both;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.last_page img{
  vertical-align:middle;
}
.last_page img,.last_name,.before_name,.first_page{
  display: inline-block;
}
.last_page .last_name,.before_name,.first_page{
  color: #42BBDA;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
 
}
.last_page a{
   cursor: pointer;
}
.before_page{
  width: 100%;
  overflow: hidden;
}
.tax_left,.tax_right{
  float: left;
  overflow: hidden;
}
.tax_left{
  width: 40%;
  padding: 60px 20px 60px 25px;
}
.tax_right{
  width: 55%;
  background: url("../images/before.png") no-repeat 0 0 ;
  height: 449px;
  margin-top: 40px;
  position: relative;
}
.tax_title{
   color: #48AEFF;
   position: absolute;
   left: 40%;
   top:70px;
}
.tax_content_detail{
  width: 380px;
  position: absolute;
  text-indent: 2em;
  left: 15%;
  top:90px;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  padding-top: 5px;
}
.tax_right img{
  position: absolute;
  left: 15%;
  bottom:120px;
}
.tax_bottom{
  clear: both;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #32A0FF;
}
.tax_bottom .report_last_page,.tax_bottom .last_name{
  display: inline-block;
  margin:0 5px;
}

.tax_bottom img{
  vertical-align: middle;
}
.tax_bottom .pre{
  float: left;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;

}
.tax_bottom .next{
  float: right;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 10px; 
  height: 30px;
  line-height: 30px;
}
.tax_bottom  .pre_page,.tax_bottom .next_page{
  display: block;
}
.page3{
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(../images/page3_bottom.png) no-repeat 0 bottom;
  background-color: #fff;
}
.page3 .chart{
  margin-top: 30px;
  width: 63%;
  overflow: hidden;
  float: left;
   position: relative;
}
.page3 .chart_women{
  width: 37%;
  overflow: hidden;
  float: left;
  position: absolute;
  top:140px;
  right: 0px;
}
.chart_img{
  margin-left: 120px;
 
}
.chart_content{
  color: #000;
}
.chart_content span{
  line-height: 25px;
  letter-spacing: 1px;
}
.chart_content .li1{
  position: absolute;
  top:10px;
  left: 300px;
}
.chart_content .li2{
  position: absolute;
  top:32px;
  left: 180px;
}
.chart_content .li3{
  position: absolute;
  top:54px;
  left: 150px;
}
.chart_content .li4{
  position: absolute;
  top:76px;
  left: 130px;
}
.chart_content .li5{
  position: absolute;
  top:98px;
  left: 130px;
}
.chart_content .li6{
  position: absolute;
  top:120px;
  left: 160px;
}

.chart .chart_pie{
  width: 400px;
  height: 300px;
  margin-left: 210px;
  margin-top: -90px;
  background: #EFEFEF;
  position: relative;
}
.page3 .tax_bottom{
  clear: both; 
  height: 100px;
  position: relative;
}
.page3 .pre{
  position: absolute;
  left: 50px;
  bottom: 20px;
}
.page3 .next{
  position: absolute;
  right: 50px;
  bottom: 20px;
}
.page4{
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #cdcdcd;
}
.page4 .page4_content{
  margin: 85px 0 0 95px;
  overflow: hidden;
}
.page4 .page4_content .page4_left,.page4 .page4_content .page4_right{
  float: left;
  overflow: hidden;
}
.page4 .page4_content .page4_left{
  width: 55%;
}
.page4 .page4_content .page4_right{
  width: 44%;
}
.page4 .page4_content .page4_left .page4_detail{
  text-indent: 2em;
  color: #000;
  line-height: 30px;
  margin-right: 55px;
}
.page4_column{
  width: 500px;
  height: 230px;
  margin-top: 30px;

}
.page5{
  background: url("../images/page5_bottom.png") repeat-x 0 0 ;
  width: 100%;
  overflow: hidden;

}
.page5_left ,.page5_middle ,.page5_right{
 float: left;
 /*display: inline-block;*/
 overflow: hidden; 
} 
.page5_left {
  width: 158px;
  margin-top: 176px;
  padding-left: 108px;
  text-align: right;
}
.page5_middle{
  width: 410px;
  margin:45px 32px 0 32px ;
  position: relative;
  letter-spacing: 1px;
}
.page5_middle .fxlist{
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #000;
  margin-top: 20px;
}
.page5_middle .fxlist li{
  height: 25px;
  line-height: 25px;
 
}
.page5_right{
 width: 260px;
  margin-top: 176px;
}
.page5_tip{
  margin-bottom: 10px;
}
.page5_middle .fx_detail{
  position: absolute;
  top:20px;
  left: 20px;
  color: #fff;
}
.page5_middle .page5_detail{
  line-height: 25px;
  text-indent: 2em;
  color: #000;
}
.page5 .tax_bottom{
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: center;
}
.page5 .tax_bottom .pre,.page5 .next{
   height: 100px;
   line-height: 100px;
}
.page6{
  width: 100%;
  overflow: hidden;
  background: url("../images/page6_bottom.png") no-repeat 0 bottom;
  height: 100%;
  position: relative;
}
.page6_detail{
   width: 296px;
   margin: 30px auto 0;
}
.page6_content .page_say{
   display: block;
   width: 100%;
   position: absolute;
   color: #fff;
   top:130px;
   left: 400px;
   width: 190px;
   height: 30px;
   line-height: 30px;
   text-indent: 2em;
}
.page6 .tax_bottom{
  position: absolute;
  bottom: 10px;
}
.page6{
  width: 100%;
  overflow: hidden;
  background: 
}
.page7{
  width: 100%;
  overflow: hidden;
  background: url("../images/page7_bottom.png") repeat-x 0 0;
}
.page7 .page7_title{
  width:512px;
  margin: 105px auto 0;
}
.page7 .page7_content{
  width: 512px;
  margin: 85px auto 0;
}