
img{
	display: block;
}
.actor{
	position: absolute;
}


.actor svg{
	position: absolute;
}

.ie8 .actor.preload img{
	visibility: hidden!important;
}

.actor.preload img{
	visibility: visible!important;
}

.seqWrapper .actor{
	overflow:hidden;
	position: absolute;
}

.seqWrapper .matrix-holder
{
	position: static;
}
.ie8 #seqWrapper img{
	width:100%;
	height: 100%
}
.blankClass .seqWrapper
{
	position: absolute;
}



.preload,.matrix-holder
{
  position: absolute;
}

.forceCSS img,.forceCSS .matrix-holder
{
	width:100%!important;
	height:100%!important;
}

.picture-holder{
  visibility: hidden;
  width:100%;
	height:100%;
}

.actor .picture-holder{
  visibility: visible;
}