body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  display: block;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Microsoft YaHei", Arial, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  white-space: normal;
  word-break: break-all;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  left: -9999px;
  position: absolute;
  outline: none;
}
input::-ms-clear {
  display: none;
}
body {
  width: 100%;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
/*@include keyframes(move-up) {
  0% {
    top: 25px;
    opacity: 1;
  }

  100% {
    top: -50px;
    opacity: 0;
  }
}*/
@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
/*@include keyframes(pop) {
  0% {
    @include transform(scale(0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}*/
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    transform: scale(1.001);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    transform: scale(1.001);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    transform: scale(1.001);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  display: none;
}
.loading .center {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.loading .center .percent {
  font-size: 56px;
  color: orange;
  line-height: 200px;
}
.loading .center .processbox {
  margin: 0 auto;
  width: 250px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
}
.loading .center .processbox .process {
  background-color: yellowgreen;
  width: 0px;
  height: 20px;
  border-radius: 10px;
  box-shadow: -1px 1px 0px 1px;
}
.wrap {
  width: 500px;
  height: 400px;
  margin: -200px auto 0 -250px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
}
.game-container {
  clear: both;
  float: left;
  width: 300px;
  height: 300px;
  border: 10px solid #bbada0;
  box-shadow: -1px 1px 0px 1px;
  border-radius: 8px;
  background-size: 100%;
  position: relative;
  margin-left: 4px;
}
.assist-containter {
  float: right;
  position: relative;
  width: 95px;
  height: 320px;
  text-align: center;
}
.version {
  position: absolute;
  width: 85%;
  padding: 10% 20%;
  height: 80%;
  background-color: #faf8ef;
  text-align: center;
  font-family: "Microsoft YaHei";
}
.version span {
  width: 30%;
  margin: 60px 10% 20px 10%;
  display: block;
  float: left;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  border-radius: 12px;
  text-align: center;
  background-color: yellowgreen;
  cursor: pointer;
}
.version span.v2 {
  background-color: #F28724;
}
.version .select {
  box-shadow: 3px 3px 1px 1px #737339;
}
.version p {
  font-family: "Microsoft YaHei";
  line-height: 30px;
}
.helper {
  position: absolute;
  width: 100%;
  height: 320px;
  top: 50%;
  margin-top: -160px;
  z-index: 1000;
  background: #F7FBFB;
  color: #79a8ae;
  z-index: 100;
  font-family: "Microsoft YaHei";
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: -ms-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1), opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-perspective: 1000;
  -webkit-perspective-origin-y: 25%;
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.helper-visiable {
  opacity: 1;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
.helper .board {
  width: 100%;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
}
.helper .board thead td {
  font-size: 16px;
  line-height: 30px;
  color: orange;
}
.helper .board .dec {
  font-size: 12px;
  text-align: center;
  height: 16px;
}
.helper .board .t {
  text-align: left;
  text-indent: 20px;
}
.helper .start,
.helper .restart {
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 34px;
  text-align: center;
  margin: 8px auto;
  border-radius: 8px;
  background-color: #8f7a66;
  color: orange;
  cursor: pointer;
}
.helper .developword,
.helper .restart {
  display: none;
}
.helper .developword {
  font-size: 30px;
  text-align: center;
  line-height: 400px;
  color: orange;
  background: url("../images/zdeveloping.png") no-repeat center 10px;
}
.helper.developing .board,
.helper.developing .start {
  display: none;
}
.helper.developing .developword {
  display: block;
}
.logo {
  display: block;
  line-height: 100px;
  font-size: 32px;
}
.new,
.step,
.time {
  position: relative;
  height: 50px;
  line-height: 70px;
  font-size: 24px;
  font-weight: bold;
  background: #eee4da;
  border-radius: 8px;
  margin-bottom: 20px;
}
.new {
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
}
.step {
  line-height: 50px;
  position: relative;
}
.step .addition {
  position: absolute;
  top: 0;
  right: 20px;
  color: red;
  font-size: 45px;
  line-height: 25px;
  font-weight: bold;
  color: orange;
  z-index: 100;
  -webkit-animation: move-up 500ms ease-in;
  -moz-animation: move-up 500ms ease-in;
  animation: move-up 500ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.time {
  font-size: 22px;
  display: none;
}
.step:after,
.time:after {
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #8F7A66;
}
.step:after {
  /*content: "step";*/
}
.time:after {
  content: "time";
}
.originalimg {
  position: absolute;
  bottom: 0px;
  right: 8px;
  width: 80px;
  height: 80px;
  background-image: url("../images/zdeveloping.png");
  -webkit-background-size: 100%;
  background-size: 100%;
}
.level-1 .originalimg {
  background-image: url("../images/pic1_1.jpg");
}
.level-2 .originalimg {
  background-image: url("../images/pic2_1.jpg");
}
.level-3 .originalimg {
  background-image: url("../images/pic3_1.jpg");
}
.level-4 .originalimg {
  background-image: url("../images/pic4_1.jpg");
}
.level-5 .originalimg {
  background-image: url("../images/pic5_1.jpg");
}
.level-6 .originalimg {
  background-image: url("../images/pic6_1.jpg");
}
.level-n .originalimg {
  background-image: url("../images/zdeveloping.png");
}
.tile-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  cursor: move;
}
.tile-container .tile-empty {
  background-image: none!important;
  background-color: #fff;
  box-shadow: 1px 0px 1px 1px inset;
}
.tile-container div {
  position: absolute;
  background-image: url("../images/zdeveloping.png");
  background-size: 300px;
  width: 74px;
  height: 74px;
  border: 0.5px solid #eee4da;
}
.tile-container .move-animate {
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.level-1 .tile-container div {
  background-image: url("../images/pic1_1.jpg");
}
.level-2 .tile-container div {
  background-image: url("../images/pic2_1.jpg");
}
.level-3 .tile-container div {
  background-image: url("../images/pic3_1.jpg");
}
.level-4 .tile-container div {
  background-image: url("../images/pic4_1.jpg");
}
.level-5 .tile-container div {
  background-image: url("../images/pic5_1.jpg");
}
.level-6 .tile-container div {
  background-image: url("../images/pic6_1.jpg");
}
.level-n .tile-container div {
  background-image: url("../images/zdeveloping.png");
}
.level-1 .time,
.level-2 .time {
  display: none;
}
.level-1 .new,
.level-2 .new,
.level-1 .step,
.level-2 .step,
.level-1 .time,
.level-2 .time {
  margin-bottom: 20px;
}
.level-3 .logo,
.level-4 .logo,
.level-5 .logo,
.level-6 .logo {
  line-height: 50px;
}
.level-3 .new,
.level-4 .new,
.level-5 .new,
.level-6 .new,
.level-3 .step,
.level-4 .step,
.level-5 .step,
.level-6 .step,
.level-3 .time,
.level-4 .time,
.level-5 .time,
.level-6 .time {
  margin-bottom: 10px;
  display: block;
}
/*tile-position-i-j*/
/*.tile-position-1-1{
  background-position: @x*0 @y*0;
}
*/
.tile-1 {
  background-position: 0px 0px;
}
.tile-2 {
  background-position: -75px 0px;
}
.tile-3 {
  background-position: -150px 0px;
}
.tile-4 {
  background-position: -225px 0px;
}
.tile-5 {
  background-position: 0px -75px;
}
.tile-6 {
  background-position: -75px -75px;
}
.tile-7 {
  background-position: -150px -75px;
}
.tile-8 {
  background-position: -225px -75px;
}
.tile-9 {
  background-position: 0px -150px;
}
.tile-10 {
  background-position: -75px -150px;
}
.tile-11 {
  background-position: -150px -150px;
}
.tile-12 {
  background-position: -225px -150px;
}
.tile-13 {
  background-position: 0px -225px;
}
.tile-14 {
  background-position: -75px -225px;
}
.tile-15 {
  background-position: -150px -225px;
}
.tile-16 {
  background-position: -225px -225px;
}
.game-container.success .tile-container .tile {
  width: 75px;
  height: 75px;
  border: none;
}
.tile-container .emptybox {
  position: absolute;
  border: 10px solid #bbada0;
  border-left: none;
  border-radius: 0px 8px 8px 8px;
  background: none;
}
.tile-container .emptybox .empty {
  background: #faf8ef;
  background-image: none!important;
  box-shadow: 1px 1px 2px 1px inset;
}
.game-container .game-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  text-align: center;
  -webkit-animation: fade-in 1800ms ease 1200ms;
  -moz-animation: fade-in 1800ms ease 1200ms;
  animation: fade-in 1800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.game-container .game-message div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.game-container .game-message .bg {
  z-index: 1;
  background: rgba(238, 228, 218, 0.65);
}
.game-container .game-message .word {
  line-height: 150px;
  font-size: 37.5px;
  z-index: 100;
}
.game-container .game-message .lower {
  z-index: 100;
  width: 130px;
  height: 40px;
  line-height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -65px;
  background: #8f7a66;
  border-radius: 10px;
  cursor: pointer;
}
.game-container .game-message .lower a {
  color: #faf8ef;
}
.game-container .game-message .lower .retry-button {
  display: none;
}
.game-container .game-message.game-over .lower .keep-playing-button {
  display: none;
}
.game-container .game-message.game-over .lower .retry-button {
  display: block;
}
/** skin-start*/
body.v1 .tile-container .emptybox {
  display: none;
}
body.v1 .helper .v2 {
  display: none;
}
body.v2 {
  background-color: #BBADA0;
}
body.v2 .game-container {
  border: 10px solid #F9F9F1;
  background-color: #fff;
}
body.v2 .tile-container .emptybox {
  border: 10px solid #F9F9F1;
  border-left: none;
}
body.v2 .helper .board .dec {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
body.v2 .helper .v1 {
  display: none;
}
/*skin-end*/
@media screen and (max-width: 750px) {
  .wrap {
    position: absolute;
    margin-top: -200px;
    margin-left: -250px;
    height: 400px;
    top: 50%;
    left: 50%;
  }
  .version {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 14% 0px;
    height: 80%;
  }
}
@media screen and (max-width: 499px) {
  .v2 .wrap {
    width: 400px;
    height: 350px;
    margin-top: -175px;
    margin-left: -200px;
  }
  .v2 .logo {
    line-height: 80px!important;
  }
  .wrap {
    width: 320px;
    height: 400px;
    margin-top: -200px;
    margin-left: -160px;
  }
  .game-container {
    float: none;
    border: 6px solid #bbada0;
  }
  .assist-containter {
    float: none;
    width: 100%;
    height: 80px;
    margin-top: 10px;
  }
  .assist-containter div {
    float: left;
  }
  .assist-containter .logo {
    line-height: 80px;
    font-size: 24px;
    margin-left: 5px;
  }
  .assist-containter .step,
  .assist-containter .time,
  .assist-containter .new {
    width: 50px;
    margin: 15px 5px;
    font-size: 16px;
  }
  .assist-containter .originalimg {
    width: 60px;
    height: 60px;
    float: none;
    bottom: auto;
    top: 10px;
  }
  .level-1 .step,
  .level-2 .step,
  .level-1 .time,
  .level-2 .time,
  .level-1 .new,
  .level-2 .new {
    width: 60px;
    margin: 15px 13px;
    font-size: 20px;
  }
}
@media screen and (max-width: 410px) {
  body.v2 {
    /*tile-position-i-j*/
    /*.tile-position-1-1{
        background-position: @x*0 @y*0;
      }
      */
  }
  body.v2 .wrap {
    width: 320px;
    height: 350px;
    margin-top: -175px;
    margin-left: -160px;
  }
  body.v2 .game-container {
    width: 240px;
    height: 240px;
    border: 6px solid #F9F9F1;
    margin-left: 5px;
  }
  body.v2 .tile-container {
    width: 240px;
    height: 240px;
  }
  body.v2 .tile-container div {
    position: absolute;
    background-image: url("../images/zdeveloping.png");
    background-size: 240px ;
    width: 59px;
    height: 59px;
    border: 0.5px solid #eee4da;
  }
  body.v2 .tile-container .emptybox {
    border: 6px solid #F9F9F1;
    border-left: none;
  }
  body.v2 .tile-1 {
    background-position: 0px 0px;
  }
  body.v2 .tile-2 {
    background-position: -60px 0px;
  }
  body.v2 .tile-3 {
    background-position: -120px 0px;
  }
  body.v2 .tile-4 {
    background-position: -180px 0px;
  }
  body.v2 .tile-5 {
    background-position: 0px -60px;
  }
  body.v2 .tile-6 {
    background-position: -60px -60px;
  }
  body.v2 .tile-7 {
    background-position: -120px -60px;
  }
  body.v2 .tile-8 {
    background-position: -180px -60px;
  }
  body.v2 .tile-9 {
    background-position: 0px -120px;
  }
  body.v2 .tile-10 {
    background-position: -60px -120px;
  }
  body.v2 .tile-11 {
    background-position: -120px -120px;
  }
  body.v2 .tile-12 {
    background-position: -180px -120px;
  }
  body.v2 .tile-13 {
    background-position: 0px -180px;
  }
  body.v2 .tile-14 {
    background-position: -60px -180px;
  }
  body.v2 .tile-15 {
    background-position: -120px -180px;
  }
  body.v2 .tile-16 {
    background-position: -180px -180px;
  }
  body.v2 .game-container.success .tile-container .tile {
    width: 60px;
    height: 60px;
    border: none;
  }
}
