@import "base.css";
/*@include keyframes(move-up) {
  0% {
    top: 25px;
    opacity: 1;
  }

  100% {
    top: -50px;
    opacity: 0;
  }
}*/
@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
/*@include keyframes(pop) {
  0% {
    @include transform(scale(0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}*/
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    transform: scale(1.001);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    transform: scale(1.001);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    transform: scale(0.98);
  }
  50% {
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    transform: scale(1.001);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.game-container {
  width: 448px;
  margin: 20px auto;
  border: 7px solid #FFDC10;
  border-radius: 6px;
  background: url(bg.jpg) repeat #081a28 center;
}
.game-container table.bgline {
  width: 100%;
  height: 100%;
}
.game-container table.bgline tr {
  height: 30px;
}
.game-container table.bgline td {
  width: 30px;
  height: 30px;
  border: 1px solid #478091;
}
.game-container table.bgline td.color0 {
  background-color: #787878;
  border: 1px solid #5A5A5A;
}
.game-container table.bgline td.color1 {
  background-color: #8816DB;
  border: 1px solid #581584;
}
.game-container table.bgline td.color2 {
  background-color: #FF33FF;
  border: 1px solid #B223B2;
}
.game-container table.bgline td.color3 {
  background-color: #FFDC10;
  border: 1px solid #A59245;
}
.game-container table.bgline td.color4 {
  background-color: #45D1ED;
  border: 1px solid #3F7D8C;
}
.game-container table.bgline td.color5 {
  background-color: #0FBF0F;
  border: 1px solid #147914;
}
.game-container table.bgline td.color6 {
  background-color: #E84921;
  border: 1px solid #7E2A15;
}
