body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img,
canvas {
  height: auto;
  display: block;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: MuseoSans900, Arial, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* form */
fieldset {
  border: 0;
}
label {
  cursor: pointer;
}
input {
  left: -9999px;
  position: absolute;
  outline: none;
}
input::-ms-clear {
  display: none;
}
.clear_both {
  clear: both;
}
.clearfix:after {
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  content: " ";
}
.clearfix {
  display: block;
}
body {
  background-color: lightskyblue;
}
header {
  font-size: 50px;
  color: red;
}
footer {
  color: green;
  font-size: 12px;
}
#button {
  position: absolute;
  left: 30%;
  top: 2%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -ms-behavior: url(scripts/PIE/PIE.htc);
  behavior: url(scripts/PIE/PIE.htc);
  font-family: MuseoSans900;
  cursor: pointer;
}
#button #rollover,
#button #rollout {
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  behavior: url(scripts/PIE/PIE.htc);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}
#button #rollover {
  position: absolute;
  color: #FFFFFF;
  background-color: #1c677f;
  border: 10px solid #EEEEEE;
}
#button #rollover p {
  display: table-cell;
  vertical-align: middle;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
  letter-spacing: -1px;
}
#button #rollover p span {
  font-size: 18px;
  line-height: 20px;
}
#button #rollout {
  color: #1c677f;
  background-color: #EEEEEE;
  border: 10px solid #1c677f;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
  opacity: 0;
}
#button #rollout p {
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -1px;
}
#button #rollout p span {
  font-size: 18px;
  line-height: 20px;
}
#button:hover #rollover {
  border: 0 solid #EEEEEE;
  /*opacity: 0;*/
}
#button:hover #rollover p {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#button:hover #rollout {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#container_3 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  /*background: url(../images/section_02_bg.png) no-repeat;*/
  /* background-color: #21637E;*/
  color: #fff;
  text-align: center;
  z-index: 7;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}
#container_3 .title_1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  /* opacity: 0.9; */
  padding-top: 13%;
}
#container_3 .title_2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
}
#container_3 .title_line {
  width: 125px;
  height: 1px;
  margin: 5% auto;
}
#container_3 .subtitle {
  width: 75%;
  margin: 3% auto;
  font-size: 13px;
  line-height: 150%;
}
#container_3 ul {
  width: 96%;
  margin: 0% auto;
}
#container_3 ul li {
  width: 20%;
  display: inline-block;
  margin: 2% 4%;
  position: relative;
  font-family: FuturaStd-CondensedBold;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 60ms;
  -moz-transition: all 60ms;
  transition: all 60ms;
  overflow: hidden;
}
#container_3 ul li .img-mask {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: rgba(62, 129, 126, 0);
}
#container_3 ul li .img-mask .img-content {
  position: absolute;
  top: 10%;
  left: 10%;
  display: table;
  text-align: center;
  background: #f9f9f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  behavior: url("scripts/libs/PIE/PIE.htc");
  width: 80%;
  height: 80%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
#container_3 ul li .img-mask .img-content .img-description {
  display: table-cell;
  vertical-align: middle;
  color: #245f85;
  letter-spacing: 1px;
  padding: 0 8%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5;
}
#container_3 ul li .img-mask .img-content .img-description h6 {
  font-family: FuturaStd-CondensedBold;
  font-size: 14px;
  padding: 6px;
  margin: 6px auto;
  width: 45%;
  border-bottom: 1px solid rgba(36, 95, 133, 0.5);
}
#container_3 ul li .img-mask .img-content .img-description p {
  font-size: 18px;
  font-family: FuturaStd-CondensedBold;
}
#container_3 ul li:hover .img-mask {
  background: rgba(36, 95, 133, 0.8);
}
#container_3 ul li:hover .img-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#container_3 #ocean_floor {
  width: 100%;
}
@media screen and (max-width: 800px) {
  footer {
    color: red;
  }
}
