html,body,p,table ,tr,td,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
html{ 
	/*overflow:-moz-scrollbars-vertical; /*Always show Firefox scrollbar*/*/
} 
iframe{
	border: 0;
	margin: 0;
	padding: 0;
}
body{ 
	font: 12px "Microsoft YaHei"; 
	word-break:break-all; 
	text-align:left; 
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	/*overflow: hidden;	*/
}
ul,li{ 
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
input[type="text"],input[type="password"]{
	height: 30px;
	border: 1px solid #ececec;
	text-indent:10px;
}
input[type="button"]{
	width: 60px;
	height: 30px;
}
img{
	width: 100%;
}

/*login*/
.login{
	width: 260px;
	height: 300px;
	position: absolute;
	/* border: 1px solid rgb(255, 0, 186); */
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -130px;
}
.login .topimg{
    width: 60px;
    height: 60px;
    /*border: 2px solid lightgreen;*/
    /*border-radius: 50%;*/
    margin: 0 auto 30px auto;
    background: url(../images/topimg.png) no-repeat;
}
.login .username {
	width: 100%;
	height: 30px;
	background: url(../images/username.png) 7% center no-repeat;
	margin-bottom: 10px;
}
.login .pwd{
	width: 100%;
	height: 30px;
	background: url(../images/pwd.png) 7% center no-repeat;
	margin-bottom: 25px;
}
.login .username input,
.login .pwd input{
	margin-left: 20%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-size: 14px;
}
.login .btn{
    width: 80px;	
    height: 30px;
    line-height: 30px;
    background: rgb(26, 190, 26);
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
}
.login .copyright{
	color: #fff;
	text-align: center;
	margin-top: 22%;
}
.login .error{
	position: absolute;
	bottom: 50px;
	width: 260px;
	color: red;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
.loading{
	background:url(../images/welcome.png) center no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
}
.error{
	text-align: center;
	line-height: 200px;
	font-size: 22px;
}
.wrapbox{
	width: 100%;
	height: 100%;
	background:url(../images/bg.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	margin: 0 auto;
}
.wrapbox a.logo{
	width: 60px;
	height: 60px;
	display: block;
	position: relative;
	top:15px;
	margin-left: 10%;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 0 2px rgba(238, 233, 233, 0.4);
	margin-bottom: 30px;	
	background-color: #fff;
}
.wrapbox a.logo img{
	width: 100%;
	height: auto;
}
.wrapbox ul.menu {
	border-top: 1px solid #CBCCCD;
	margin-left: 20px;
	padding-top: 10px;
}
.wrapbox ul.menu li{
	width: 150px;
	display: block;
	line-height: 40px;
	color: #CBCCCD;
	font-size: 16px;
	text-indent: 40px;
	background: url(../images/TV.png) 0 center no-repeat;
	-webkit-background-size: 28px;
	background-size: 28px;
	margin-left: 10px;
}
.rightframe{
	position: absolute;
	top:0;
	left: 0;	
	z-index: 100;
	background-color: #fff;
}
.maincontent{
	width: 100%;
	height: 100%;	
}
.doorbox{
	position: relative;
	top:50%;
	left: 50%;
	width: 300px;
	height: 230px;
	margin: -115px 0 0  -150px;
	background:url(../images/maindoorbox.png) 128px center no-repeat;
	background-size: 50%;
}
.doorbox .door{
	position: absolute;
	top:-33px;
	left: 27px;
	width: 104px;
}
.maincontent .item{
	background-color: #fff;
	clear: both;
	min-width: 290px;
}
.maincontent .item .title{
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	background-color: #18B4ED;
	/*background-color: #447EB9;*/
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}
.maincontent .item .title .mainback{
	display: block;
	float: right;
	margin-right: 15px;
	margin-top: 2px;
	width: 32px;
}
.maincontent .item .title .mainback img{
	width: 100%;
}
.maincontent .item1 ul.menu{
	overflow: hidden;
	margin: 0 auto;
}
.maincontent .item1 ul.menu li{
	display: block;
	float: left;
	text-align: center;
	margin: 7% 0px;
	width: 33.33333333333333%;
	line-height: 30px;
	font-size: 14px;
}
.maincontent .item1 ul.menu li.li1{
	display: block;
	clear: both;
	text-align: center;
	margin: 5% 0 0 0;
	width: 100%;
}

.maincontent .item1 ul.menu li .img{
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
	/*background-color:#447EB9;*/
	background-color:#00A0E0;
	-webkit-background-size: 50px;
	background-size: 50px;
	background-repeat: no-repeat;
	background-position:  center center;
	text-align: center;
	position: relative;
	left: 50%;
	margin-left: -40px;
	cursor: pointer;
}
.maincontent .item1 ul.menu li.li1 .img{
	background-image: url(../images/mainpic1.png);
	background-color:#00A0E0;
}
.maincontent .item1 ul.menu li.li2 .img{
	background-image: url(../images/mainpic2.png);
	/*background-color: #F1E000;*/
	background-color: #72B756;
}

.maincontent .item1 ul.menu li.li3 .img{
	background-image: url(../images/mainpic3.png);
	background-color: #CFE419;
}
.maincontent .item1 ul.menu li.li4 .img{
	background-image: url(../images/mainpic4.png);
	background-color:#F38F00;
}
.maincontent .item1 ul.menu li.li5 .img{
	background-image: url(../images/mainpic5.png);
	background-color:#EF7554;
}
.maincontent .item1 ul.menu li.li6 .img{
	background-image: url(../images/mainpic6.png);
	background-color:#9B59B6;
}
.maincontent .item1 ul.menu li.li7 .img{
	background-image: url(../images/mainpic7.png);
	background-color: #47C9AF;
}
ul.appliance li{
	height: 60px;
	border-bottom: 1px solid #d8d8d8;
	clear: both;
	line-height: 60px;
	background-color: #fafafa;
}
.item ul.appliance li span.logo{
	width: 50px;
	height: 60px;
	display: block;
	background-size: 50px;
	border-radius: 8px;
	margin: 0px 15px;
	float: left;
	-webkit-background-size: 50px;
	background-size: 50px;
	background-repeat: no-repeat;
	background-position:  center center;
}
.item ul.appliance li span.name{
    font-size: 14px;	
    margin-left: 10px;
    float: left;
}
.item ul.appliance li span.btnC{
    font-size: 18px;	
    margin-left: 10px;
    float: left;
    color: orange;
}
.item ul.appliance li span.btnlook{
    margin-left: 10px;
    float: left;
    display: block;
    width: 47px;
    height: 24px;
    background: url(../images/look.png) no-repeat;
    background-size: 36px;
    margin-top: 20px;
    cursor: pointer;
}
.item ul.appliance li span.btn{
    width: 50px;	
    height: 32px;
    display: block;
    float: right;
    background-image: url(../images/on.png);
    background-size: 50px;
    background-repeat: no-repeat;
    margin: 17px 10px 0px 0;
    cursor: pointer;
}
.item ul.appliance li span.on{
	background-image: url(../images/on.png);
}
.item ul.appliance li span.off{
	background-image: url(../images/off.png);
}
.item ul.appliance li span.logo1{
	background-image: url(../images/mainpic2.png);
}
.item ul.appliance li span.logo2{
	background-image: url(../images/air-conditioned.png);
}
.item ul.appliance li span.logo3{
	background-image: url(../images/mainlight.png);
}
.item ul.appliance li span.logo3_2{
	background-image: url(../images/dlight.png);
}
.item ul.appliance li span.logo4{
	background-image: url(../images/light2.png);
}
.item ul.appliance li span.logo4_2{
	background-image: url(../images/light.png);
}
.item ul.appliance li span.logo5{
	background-image: url(../images/dfb.png);
}
.item ul.appliance li span.logo6{
	background-image: url(../images/hotm.png);
}
.setCbox{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	display: none;
}
.setC{
	width: 186px;
	height: 90px;
	position: relative;
	margin-top: -45px;
	top: 36%;
	margin: 0 auto;
	border-radius: 6px;
	padding: 19px 30px 0 30px;
	text-indent: 7px;
	background-color: #A8E734;
	font-size: 20px;
	line-height: 30px;
}
.setC input[type="text"]{
	height: 30px;
	width: 80px;
	border-radius: 4px;
	text-align: right;
	padding-right: 5px;
	font-size: 22px;
}
.setC p{
    display: block;	
    clear: both;
    margin-top: 15px;
    overflow: hidden;
}
.setC .no{
    width: 24px;	
    height: 24px;
    display: block;
    float:left;
    background-image: url(../images/no.png);
    background-size: 24px;
    margin-left: 25px;
    margin-top: 2px;
    cursor: pointer;
}
.setC .yes{
    width: 32px;	
    height: 26px;
    display: block;
    float: right;
    background-image: url(../images/yes.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    cursor: pointer;
}
@media screen and ( min-width:769px){
	.maincontent .item1 ul.menu li,.maincontent .item1 ul.menu li.li1{
		margin: 30px 0;
	}
	.maincontent .item1 ul.menu li .img{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
}
@media screen and ( max-width:768px){
	.maincontent .item1 ul.menu li .img{
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
}
@media screen and ( max-width:600px){
	.maincontent .item1 ul.menu li{
		margin: 7% 0;
	}
	.maincontent .item1 ul.menu li.li1{
		margin: 5% 0 0 0;
	}
	.maincontent .item1 ul.menu li .img{
		width: 80px;
		height: 80px;
		margin-left: -40px;
	}
}
@media screen and ( min-height:501px){
	.wrapbox ul.menu li{
		line-height: 50px;
	}
}
@media screen and ( max-height:500px){
	.wrapbox ul.menu li{
		line-height: 40px;
	}
}

/* horizontal layout*/
@media screen and ( max-height:450px){
	/** ip6plus 414*736  */   /* vivo y15 320X444*/
	.maincontent .item1 ul.menu li,.maincontent .item1 ul.menu li.li1{
		margin: 8px 0;
	}
	.maincontent .item1 ul.menu li .img{
		width: 80px;
		height: 80px;
		margin-left: -40px;
	}
}
@media screen and ( max-height:375px){
	/** ip6 375*667  */
	.maincontent .item1 ul.menu li{
		margin: 0px;
	}
	.maincontent .item1 ul.menu li.li1{
		margin: 5px 0 0 0;
	}
}
@media screen and ( max-height:360px){
	.maincontent .item1 ul.menu li .img{
		width: 70px;
		height: 70px;
		margin-left: -35px;
	}
	.wrapbox ul.menu li{
		line-height: 30px;
	}
}
@media screen and ( max-height:320px){
	/** ip5 320*568  */
	.maincontent .item1 ul.menu li{
		margin: 0px;
	}
	.maincontent .item1 ul.menu li.li1{
		margin: 5px 0 0 0;
	}
	.maincontent .item1 ul.menu li .img{
		width: 60px;
		height: 60px;
		margin-left: -30px;
		background-size:40px;
	}
	.wrapbox a.logo{
		width: 50px;
		height: 50px;
		margin-bottom: 25px;
	}
	.wrapbox ul.menu{
		padding-top: 5px;
	}
	.wrapbox ul.menu li{
		line-height: 25px;
		font-size: 14px;
		-webkit-background-size: 25px;
		background-size: 22px;
	}
}
@media screen and ( max-height:319px){
	.maincontent .item1 ul.menu li .img{
	  width: 50px;
	  height: 50px;
	  margin-left: -30px;
	  background-size: 30px;
	}

}

